@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../../../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.wrapper {
  position: relative;
  width: 100%;
  // width: 1040px;width
  font-family: 'SFPRORegular';

  h2 {
    text-align: left;
    padding: 2rem 0 1rem;
    color: $color-blue;
    @include font(700, 28px, 33.41px);
    margin-bottom: 20px;
  }

  &_description {
    display: flex;
    justify-content: center;

    &_text {
      border: none;
      background: none;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
      width: 500px;
      resize: none;
      overflow-wrap: break-word;
      text-align: center;
    }
  }

  &_cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 60px 60px;
    justify-content: center; 
    align-items: center;
    min-height: 100px;

    &_addButton {
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        color: #ba75ff;
        visibility: hidden; // По умолчанию кнопки невидимы
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
      }

    &_chip {
      position: relative;
      width: 100%;
      margin: 10px 20px;
      min-height: 100px;

      &_addButtonBefor,
      &_addButtonAfter {
        position: absolute;
        top: 150px;
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        color: #ba75ff;
        visibility: hidden; // По умолчанию кнопки невидимы
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
      }

      &_addButtonBefor {
        left: -40px;
      }

      &_addButtonAfter {
        right: -40px;
      }

      &_addButtonBefor:hover,
      &_addButtonAfter:hover {
        color: #7730BD;
        border-radius: 50%;
        background: rgba(1, 1, 1, 0.15);
      }
    }

    &_addButton {
      width: 40px;
      height: 40px;
      display: flex;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      color: #ba75ff;
    }

    &_addButton:hover {
      color: #7730BD;
      border-radius: 50%;
      background: rgba(1, 1, 1, 0.15);
    }
  }

  &:hover {
    .wrapper_cardContainer_addButton,
    .wrapper_cardContainer_chip_addButtonBefor,
    .wrapper_cardContainer_chip_addButtonAfter {
      visibility: visible; // При наведении контейнер становится видимым
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 551px) and (max-width: 780px) {
  .wrapper {
    max-width: 600px;
    width: 100%;

    &_cardContainer {
      display: grid;
      grid-template-columns: repeat(1, 0.8fr); 
      row-gap: 65px;
      justify-content: center; 
      align-items: center;
      min-height: 150px;

      &_chip {
        position: relative;
        width: 100%;
        min-height: 150px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 550px) {
  .wrapper {
    max-width: 550px;
    width: 100%;

    h2 {
      max-width: 290px;
      margin: 3rem 0.5rem;
    }

    &_cardContainer {
      display: grid;
      grid-template-columns: repeat(1, 0.9fr); 
      row-gap: 65px;
      justify-content: center; 
      align-items: center;
      min-height: 150px;
    }
  }
}
