@import 'scss/mixin.scss';
@import 'scss/variable.scss';

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../../../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.previous {
  position: relative;
  width: 1040px;
  height: auto;
  min-height: 376px;
  font-family: 'SFPRORegular';
  font-weight: 500;
  background: #e0dced;
  border-radius: 24px;

  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 100%;
    min-height: 276px;
    border-radius: 15px;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 100%;
    min-height: 300px;
    border-radius: 15px;
  }

  &_buttonAccept {
    
    button {
      width: 203px;
      height: 36px;
      font-size: 16px;
      font-weight: 700;
      padding: 0;
      
      @media screen and (min-width: 320px) and (max-width: 480px) {
        font-weight: 400;
        font-size: 14px;
        width: 150px;
      }
    }
    @include position_b_r(absolute, 50px, 44px, 4);

    @media screen and (min-width: 320px) and (max-width: 480px) {
      @include position_b_r(absolute, 5px, 15px, 4);
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      @include position_b_r(absolute, 30px, 15px, 4);
    }

  }

  &_bcgrShadow {
    @include position_t_l(absolute, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 7px;
  }

  .background_image_course {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    border-radius: 7px;
    background-color: rgba(248, 229, 255, 0.68);
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: inline-block;

    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }

    &_error {
      z-index: 5;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      padding: 10px;
      border-radius: 10px;
      color: #ffff;
      background: rgba(224, 24, 24, 0.3);
      margin-top: 5px;
      text-align: center;
    }
  }

  &_onlineCourses {
    position: relative;
    padding-top: 80px;
    padding-left: 44px;
    width: 700px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      @include position_t_l(absolute, 40px, 0, 4);
      border-radius: 16px;
      max-height: 50px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      @include position_t_l(absolute, 70px, 30px, 4);
      border-radius: 16px;
      max-height: 75px;
    }

    &_name {
      width: 100%;
      padding: 5px;
      color: $color-white;
      background: none;
      border: none;
      @include font(500, 46px, 62px);
      text-transform: uppercase;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        @include position_t_l(absolute, 5px, 16px);
        @include font(500, 26px, normal);
      }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        @include position_t_l(absolute, 5px, 16px);
        @include font(500, 30px, normal);
      }
    }
  }
}
.previous_title_name {
  width: 700px;
  position: relative;
  padding: 30px 0 30px 44px;

  &_description {
    @include font(400, 24px, 28.64px);
    width: 100%;
    background: none;
    color: #fff;
    padding: 5px 5px;
    text-align: left;
    border: none;
    font-family: 'SFPRORegular';
    resize: none;
    font-size: 17px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      @include font(400, 12px, 28.64px);
      color: #ffffff;
    }

    @media only screen and (min-width: 481px) and (max-width: 768px) {
      @include font(400, 14px, 28.64px);
      color: #ffffff;
      padding-left: 0;
    }
  }

  textarea:hover {
    background: rgba(248, 229, 255, 0.1);
  }

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    max-width: 350px;
    padding: 0 15px;
    @include position_t_l(absolute, 100px, 0, 4);
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    @include position_t_l(absolute, 100px, 10px, 4);
    width: 460px;
  }
}
