@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../../../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.wrapper {
  position: relative;
  width: 1040px;
  font-family: 'SFPRORegular';
  margin-bottom: 60px;

  h2 {
    text-align: left;
    padding: 2rem 0 1rem;
    color: $color-blue;
    @include font(700, 28px, 33.41px);
  }

  &_description {
    display: flex;
    justify-content: center;

    &_text {
      border: none;
      background: none;
      font-size: 20px;
      padding: 10px;
      width: 500px;
      resize: none;
      overflow-wrap: break-word;
      text-align: center;
    }
  }

  &_cardContainer {
    position: relative;
    display: grid;
    // flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 260px;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    margin-top: 40px;

    &_addButton {
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        color: #ba75ff;
        visibility: hidden; // По умолчанию кнопки невидимы
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
      }

    &_chip {
      position: relative;
      width: 100%;
      // min-height: 150px;
      // margin-bottom: 40px;

      &_addButtonBefor,
      &_addButtonAfter {
        position: absolute;
        left: 520px;
        width: 40px;
        height: 40px;
        display: flex;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        border: none;
        background: none;
        color: #ba75ff;
        visibility: hidden; // По умолчанию кнопки невидимы
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
      }

      &_addButtonBefor {
        top: -40px;
      }

      &_addButtonAfter {
        bottom: -40px;
      }

      &_addButtonBefor:hover,
      &_addButtonAfter:hover {
        color: #7730BD;
        border-radius: 50%;
        background: rgba(1, 1, 1, 0.15);
      }
    }

    &_addButton {
      width: 40px;
      height: 40px;
      display: flex;
      font-size: 20px;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      color: #ba75ff;
    }

    &_addButton:hover {
      color: #7730BD;
      border-radius: 50%;
      background: rgba(1, 1, 1, 0.15);
    }
  }

  &:hover {
    .wrapper_cardContainer_addButton,
    .wrapper_cardContainer_chip_addButtonBefor,
    .wrapper_cardContainer_chip_addButtonAfter {
      visibility: visible; // При наведении контейнер становится видимым
      opacity: 1;
    }
  }

  &_arrow {
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 130px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    position: relative;
    max-width: 480px;
    width: 100%;


    &_cardContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px 0;

      &_chip {
        position: relative;
        width: 48%;
        height: 124px;

        &_leftChip {
          align-self: flex-start;
          margin-top: 0;
        }
        &_rightChip {
          align-self: flex-start;
          margin-top: 60px;
        }
      }

    }

    &_arrow {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 200px;
      z-index: -1;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1361px) {
  .wrapper {
    position: relative;
    max-width: 1024px;
    width: 100%;

    &_cardContainer {
      gap: 20px 160px;
    }
  }
}
