@import 'src/scss/variable';
@import '../../../../scss/mixin.scss';

.input {
  @include display(flex, row, flex-start, center);
  width: 100%;
  border: 0.1rem solid #c6c3c3;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  padding: 0 5px;
  transition: border-color 0.2s;
  margin-bottom: 1rem;
  

  svg {
    margin-left: 10px;
  }

  &:hover {
    border-color: #ba75ff;
  }

  &:focus {
    border-color: #ba75ff;
  }

  & input {
    width: 96%;
    color: $font-color;
    outline: none;
    border: none;
    padding: 8px 0 8px 5px;
    @include font(500, 14px);
  }
  & input ::placeholder {
    color: #d2d7dc;
  }
}
.input_container {
  width: 85%;
  margin: 0 auto;

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    padding-bottom: 1rem;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    padding-bottom: 1rem;
  }

    &_textFieldLabel {
      display: inline-block;
      margin-bottom: 8px;
      color: $font-color;
      font-weight: 400;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        width: 95%;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        width: 95%;
      }
    }
}
