@import 'src/scss/variable';
@import '../../../../scss/mixin.scss';

.input {
  @include display(flex, row, flex-start, center);
  width: 100%;
  border: 1px solid #c6c3c3;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
  padding: 0 5px;
  svg {
    margin-left: 10px;
  }

  &__focused {
    border-color: #ba75ff;
  }

  & input {
    width: 96%;
    color: $font-color;
    outline: none;
    border: none;
    padding: 11px 0 11px 5px;
    @include font(500, 14px);
  }
  & input ::placeholder {
    color: #d2d7dc;
  }
}
.input_container {
  width: 100%;
  &_textFieldLabel {
    display: inline-block;
    margin-bottom: 8px;
    color: $font-color;
    font-weight: 400;
  }
}
