.container_btn {
  font-size: 12px;
  font-weight: 500;
  border-radius: 7px;
  border: 1.5px solid #d7d7d7;
  color: #6b7484;
  background-color: #ededed;
  padding: 11px 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  svg {
    margin-right: 9px;
  }
}
.header_dropdown_menu {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: -0.01em;
  color: #d2d6dc;
  text-align: center;
}
.drop_down_block {
  position: absolute;
  width: 341px;
  border-radius: 7px;
  display: inline-block;
  border: 1px solid #ba75ff;
  box-sizing: border-box;
  padding: 16px;
  margin-top: 10px;
  background-color: #ffffff;
}
