@import '../../../scss/variable';
* {
  box-sizing: border-box;
}

.btn_default {
  color: #6b7280;
  background: #f3f4f6;
  width: auto;
  text-align: center;
  padding: 11px 13px;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary {
  color: #ffffff;
  background: #ba75ff;
  padding: 15px 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
}

.secondary {
  color: $font-color-rose;
  background: #e0dced;
  padding: 13px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  &:hover {
    color: #fff;
    background: #ba75ff;
  }
}

.disabled {
  color: #ffffff;
  background-color: #ddbbff;
  cursor: pointer;
  border-radius: 10px;
  padding: 13px;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  font-family: 'Manrope', sans-serif;
}

.registrationDisabled {
  color: #ffffff;
  background-color: #b5b5b5;
  width: 246px;
  cursor: pointer;
  border-radius: 10px;
  padding: 13px;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  font-family: 'Manrope', sans-serif;
}

.withoutBack {
  color: #6b7280;
  background: #ffffff;
  width: auto;
  text-align: center;
  padding: 13px 13px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete {
  color: #ef4444;
  background: #fef2f2;
  width: auto;
  text-align: center;
  margin-left: 15px;
  padding: 13px 13px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  background: #fef2f2;
  border: 2px solid #fee2e2;
  border-radius: 7px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #ef4444;
    color: #fff;
    // border: none;
  }
}
.logIn {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.03em;
  margin-right: 15px;
  padding: 15px 25px;
  background: transparent;
  border: none;
  border-radius: 10px;
  color: #000;
  outline: none;
  cursor: pointer;

  &:hover {
    padding: 14px 24px;
    border: 1px solid #ba75ff;
  }
}
.create {
  width: 241px;
  height: 52px;
  background: #BA75FF;
  border-radius: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
}