@import "../../../../../../scss/variable";

.employee_user {
  width: 100%;
  font-size: 11px;
  display: flex;
  margin-top: 28px;
  padding: 0 20px;
  position: relative;
  font-family: $font-family-inter;

  &_info {
    display: flex;
    align-items: center;
    width: 60%;

    &_avatar {
      width: 34px;
      height: 34px;
      margin-right: 12px;
    }

    &_name {
      display: flex;
      flex-direction: column;


      & span:nth-child(1) {
        color: #111827;
        font-size: 11px;
        font-weight: 500;
        margin-bottom: 4px;
      }

      & span:nth-child(2) {
        color: #BDBDBD;
        font-size: 10px;
      }
    }

    &_btn {
      width: 140px;
    }
  }

  &_roleBtn {
    display: flex;
    justify-content: space-between;
    width: 35%;


    &_role {
      display: flex;
      align-items: center;
      width: 150px;
      //margin-right: 250px;
      color: #798188;
    }

    &_btn {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      color: #BA75FF;
      width: 100px;
    }
  }

}

.employee_user::after {
  content: '';
  position: absolute;
  width: 98%;
  background: #E5E7EB;
  height: 1px;
  left: 1%;
  top: -13px;
}