@import '../../../../scss/variable';

.input {
  outline: none;
  width: 100%;
  text-align: center;
  border: 1px solid #d9d6e2;
  border-radius: 7px;
  background: #f3f4f6 url('../../../../assets/img/createCourse/search.svg') no-repeat 41% center;
  padding: 10px 0;
  font-size: 11px;
  font-weight: 800;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &_addCourse {
    width: 100%;
    height: 100%;
    background: url('../../../../assets/img/createCourse/addCourse.svg') center center no-repeat;
    text-align: center;
    position: relative;
    cursor: pointer;

    & span {
      color: #e0dced;
      font-size: 17px;
      position: absolute;
      left: 64px;
      bottom: 132px;
    }
  }

  &_card {
    width: 242px;
    height: 376px;
    border: none;
    border-radius: 10px;
    margin-top: 26px;
    box-shadow: $box-shadow;
    margin-left: 16px;
    background: #ffffff;

    &_img {
      height: 146px;
      background: #e0dced;
    }

    &_about {
      height: 198px;
      padding: 16px 23px;
      background: #ffffff;

      &_desc {
        font-size: 11px;
        color: #a2a9b4;
      }
    }

    &_status {
      &_show {
        text-align: center;
        display: flex;
        align-items: center;

        &_public {
          color: #ba75ff;
          font-weight: 500;
          font-size: 11px;
          margin-left: 8.5px;
        }

        &_hide {
          color: #e0dced;
          font-weight: 500;
          font-size: 11px;
          margin-left: 8.5px;
        }
      }
    }

    & h5 {
      margin: 16px 0;
      color: $font-title;
      font-size: 12px;
    }
  }
}

.btn {
  width: 194px;
  height: 33px;
  background-color: #e0dced;
  color: #ba75ff;
  font-weight: 500;
  font-size: 11px;
  margin-top: 18px;
  text-align: center;
  border: none;
}
