@import "../../../../scss/variable";

.input {
  outline: none;
  width: 100%;
  text-align: center;
  border: 1px solid #D9D6E2;
  border-radius: 7px;
  background: #F3F4F6 url("../../../../assets/img/createCourse/search.svg") no-repeat 41% center;
  padding: 10px 0;
  font-size: 11px;
  font-weight: 800;

}

.course {
  display: flex;
  justify-content: center;

  &_addCourse {
    width: 100%;
    height: 100%;
    background: url("../../../../assets/img/createCourse/addCourse.svg") center center no-repeat;
    text-align: center;
    position: relative;
    cursor: pointer;

    & span {
      color: #E0DCED;
      font-size: 17px;
      position: absolute;
      left: 64px;
      bottom: 132px;
    }
  }

  &_card {
    width: 242px;
    height: 376px;
    border: none;
    border-radius: 10px;
    margin-top: 26px;
    box-shadow: $box-shadow;
    margin-left: 16px;
    background: #FFFFFF;

    &_img {
      height: 146px;
      background: #E0DCED;
    }

    &_about {
      height: 198px;
      padding: 16px 23px;
      background: #FFFFFF;

      &_desc {
        font-size: 11px;
        color: #A2A9B4;
      }
    }

    &_status {
      &_show {
        text-align: center;
        display: flex;
        align-items: center;

        &_public {
          color: #BA75FF;
          font-weight: 500;
          font-size: 11px;
          margin-left: 8.5px;
        }

        &_hide {
          color: #E0DCED;
          font-weight: 500;
          font-size: 11px;
          margin-left: 8.5px;
        }
      }
    }

    & h5 {
      margin: 16px 0;
      color: $font-title;
      font-size: 12px;
    }

  }
}


.btn {
  width: 194px;
  height: 33px;
  background-color: #E0DCED;
  color: #BA75FF;
  font-weight: 500;
  font-size: 11px;
  margin-top: 18px;
  text-align: center;

}