@import 'src/scss/variable';
@import '../../scss/mixin.scss';

.editorWrapper {
  position: relative;
  width: calc(100% - 10px);
  height: 140px;
  border-radius: 7px;
  background: #1e1e1e;

  &_editor {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;

    &_add {
      @include position_t_l (absolute, 90px, 0);
      overflow: hidden;
      border-radius: 7px;
      width: 100%;
      height: 100%;
    }
  }

  &_selectWrapper {
    @include position_t_l (absolute, 24px, 35px);
    width: 176px;
  }
  
  &_navBlock {
    @include position_t_r (absolute, calc(50% - 65px), -45px, 2);
    @include display (flex, column);

    &_div {
      background: #f3f4f6;
      border: none;
      border-radius: 7px;
      width: 36px;
      height: 36px;
      text-align: center;
      @include display (flex, row, center, center);
      margin-bottom: 8px;
      cursor: pointer;
    }
    
    &_delete {
      padding: 11px 0;
      border-radius: 6px;
      border: none;
      height: 36px;
      background: #fef2f2;
      @include display (flex, row, flex-start, center);
      text-align: center;
      cursor: pointer;

      & svg {
        margin: 0 auto;
        height: 17px;
        width: 17px;
      }
    }
  }
}