@import 'src/scss/variable';
@import '../../scss/mixin.scss';

a {
  text-decoration: none;
  // @media only screen and (min-width: 375px) and (max-width: 480px) {
  //   padding: 2%;
  // }
  // @media only screen and (min-width: 320px) and (max-width: 375px) {
  //   padding: 2%;
  // }
}

.container {
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;

  @media only screen and (min-width: 375px) and (max-width: 480px) {
    padding: 1rem;
  }
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    padding: 1rem;
  }

  h4 {
    margin-bottom: 40px;
  }
  &_courses {
    display: flex;
    align-items: baseline;

    &_dropdown {
      max-width: fit-content;
      margin: 0 auto;
      button {
        margin-top: 0;
      }
    }
  }
}

.courses_card_block {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem 0;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: center;
  gap: 3rem 4rem;
  align-self: stretch;
  flex-wrap: wrap;
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3%;
  }
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3%;
  }
}
.mini_card_img {
  width: 52px;
  height: 52px;
  border-radius: 7px;
  margin-right: 16px;
}
.mini_card_container {
  @include display(flex, row, flex-start, center);
  width: 272px;
  margin: 16px 0;
  border-radius: 7px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 16px;
  transition: background-color 0.4s, transform 0.4s;

  &:hover {
    background-color: rgb(255, 246, 250);
    transform: scale(1.1);
  }
}

.mini_card_name {
  color: #4d5766;
  font-size: 14px;
  margin-bottom: 10px;
}
.mini_card_list {
  @include display(flex);
  color: $font-color-rose;
  font-size: 10px;
  li {
    margin-left: 19px;
    span {
      color: #a5a9b4;
    }
  }
}
