* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.init {
  overflow: hidden;
  margin: 24px 45px 0 45px;
  width: 100%;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  //@media (max-width: 400px) {
  //  height: 100%;
  //
  //}
  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_main {
    width: 1200px;
    height: 446px;
    margin: 130px auto 0 auto;
    display: flex;
    position: relative;

    &__title {
      font-weight: 800;
      font-size: 48px;
      width: 422px;
      margin-right: 62px;
      line-height: 135%;
    }

    &__link {
      width: 555px;
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
      height: 112px;
      display: flex;
      font-weight: 800;
      position: absolute;
      bottom: 20px;
      z-index: 2;

      & div:nth-child(1) {
        font-size: 24px;
        width: 386px;
      }

      & div:nth-child(2) {
        font-size: 20px;
        background-color: #ba75ff;
        width: 170px;
        color: #fefefe;
      }

      & div {
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &_course {
      display: flex;
      cursor: pointer;

      &_block {
        position: relative;
        display: flex;
        width: 445px;
        height: 500px;
        margin: 0 16px;
        transition: all 1s linear 0s;
        border-radius: 10px;

        &_title {
          position: absolute;
          bottom: 68px;
          left: 100px;
          z-index: 10;
          align-self: flex-end;
          font-size: 40px;
          font-weight: 500;
          color: #fefefe;
          transform-origin: bottom left;
          transition: all 1s linear 0s;
        }
      }
    }
  }
}

.smallImg {
  width: 112px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 1s linear 0s;
}

.title_rotate {
  width: 250px;
  transform: rotate(-90deg);
  transition: all 1s linear 0s;
  transform-origin: bottom left;
}

.btn_block {
  display: flex;

  &_logIn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #ba75ff;
  }
}

.btn_block button:nth-child(1) {
  margin-right: 25px;
}
