.nav_account {
  margin: 10px 0 22px 13px;
  min-height: 48px;

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    display: flex;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
}

.nav_account a:nth-last-child(n + 2) {
  margin-right: 10px;
}
