.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 33.3%;
  top: 90px;
  width: 33.3vw;
  height: max-content;
  border-radius: 20px;
  padding: 1rem;
  border: 1.5px solid #357eeb;
  z-index: 10000;
  background: rgba(235, 229, 236, 0.9);

  &_top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &_title {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #357eeb;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &_gift {
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #357eeb;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &_task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}
