.container {
  background-color: #ffffff;
  min-width: 319px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  button {
    margin-top: 20px;
  }
}
.title {
  font-size: 10px;
  text-align: center;
  color: #d2d6dc;
  margin: 0 0 20px 0;
}
.wrapper {
  max-height: 200px;
  overflow: scroll;
}
.element {
  font-weight: 500;
  font-size: 14px;
  color: #4D5766;
  padding: 13px 20px;
  cursor: pointer;
  &:hover {
    background: #E7EBF1;
  }
}

