@import '../../../scss/variable';


.switch {
  width: 57px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  border-radius: 36px;
  background: linear-gradient(90.00deg, rgb(13, 40, 187),rgb(53, 126, 235) 100%);
  position: relative;
  cursor: pointer;
}

.switch[data-isOn='true'] {
  justify-content: flex-end;
  background-color: #ffffff;
  .handle{
  background-color: #ffffff;
    border-color: rgb(53, 126, 235);

  }
}

.handle {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-color: rgb(53, 126, 235);
  border-radius: 50%;
  position: relative;

  &::before {
    content: ''; /* Пустой элемент */
    position: absolute;
    top: 50%; /* Центровка по вертикали */
    left: 50%; /* Центровка по горизонтали */
    transform: translate(-50%, -50%); /* Смещение для точной центровки */
    width: 12px; /* Диаметр внутреннего круга */
    height: 12px; /* Диаметр внутреннего круга */
    background-color: #ffffff ;
    border: 1px solid rgb(53, 126, 235);
    border-radius: 50%; /* Закругление для круга */
  }
}
