@import '../../../scss/variable';

.switch {
  width: 40px;
  height: 20px;
  background-color: #E3E3E3;
  display: flex;
  justify-content: flex-start;
  border-radius: $bord-rad10;
  padding: 2.5px;
  position: relative;
  cursor: pointer;
}

.switch[data-isOn='true'] {
  justify-content: flex-end;
  background-color: #ffffff;
  .handle{
  background-color: #357EEB;

  }
}

.handle {
  width: 15px;
  height: 15px;
  background-color: #BEBEBE;
  border-radius: $bord-rad50;
}
