@import '../../../../scss/mixin.scss';
@import '../../../../scss/variable.scss';

.wrapper {
    min-width: 700px;
    overflow: hidden;
    width: 70%;
    &_title {
        margin: 26px 0 20px 0;
        @include font (500, 24px, 29px);
        color: #4D5766;
    }
    &_testWrapper {
        @include display (flex);
    }


    @media only screen and (min-width: 320px) and (max-width: 375px) {
        min-width: 95%;
        width: 100%;
      }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
        min-width: 95%;
        width: 100%;
      }
}


.commentContainer {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px; 
    margin-top: 10px;
    width: 100%;
}

  .commentBox {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.commentForm {
    display: flex;
    flex-direction: column;
  
    textarea {
        height: 70px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
  
    button {
      padding: 8px 16px;
      background-color: #BA75FF;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #8a49b5;
      }
    }
  }