@import '../../../../scss/mixin.scss';
@import '../../../../scss/variable.scss';

.wrapper {
    min-width: 700px;
    overflow: hidden;
    width: 70%;
    &_title {
        margin: 26px 0 20px 0;
        @include font (500, 24px, 29px);
        color: #4D5766;
    }
    &_testWrapper {
        @include display (flex);
    }


    @media only screen and (min-width: 320px) and (max-width: 375px) {
        min-width: 95%;
        width: 100%;
      }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
        min-width: 95%;
        width: 100%;
      }
}