
.wrapper_actions {
  background-color: #ffffff;
  padding: 26px 32px 24px 32px;
  box-shadow: 0 0 8px #d9d9d9;
  border-radius: 8px;
  overflow-x: auto;
  @media only screen and (min-width : 320px) and (max-width : 375px) {
    padding: 4% 3% 4% 3%;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    padding: 4% 3% 4% 3%;
  }
}


.btn {
    align-self: flex-end;
    width: 260px;
    height: 43px;
    background-color: #ddbbff;
    color: white;
    font: 500, 14px;
    padding: 7px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    border: none;
    @media only screen and (min-width : 320px) and (max-width : 375px) {
      margin-top: 0;
    }
    @media only screen and (min-width : 375px) and (max-width : 480px) {
      margin-top: 0;
    }
  
    &:hover {
        color: #ba75ff;
        background-color: #ffffff;
    }
  
    &:disabled {
        color: #f9f5fd;
        background-color: #e8e6e6;
    }
  
    &_admin{
      align-self: flex-end;
      width: 194px;
      height: 33px;
      background-color: #ddbbff;
      color: white;
      font: 500, 14px;
      padding: 7px;
      margin-top: 10px;
      text-align: center;
      border: none;
      @media only screen and (min-width : 320px) and (max-width : 375px) {
        // margin-top: 0;
      }
      @media only screen and (min-width : 375px) and (max-width : 480px) {
        // margin-top: 0;
      }
  
      &:hover {
          color: #ba75ff;
          background-color: #ffffff;
      }
    }
  }