@import '../../scss/variable';

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f5f7;
  display: flex;
  position: relative;
  font-family: $font-family-inter;
}

.container {
  width: 100vw;
  padding-right: 40px;
  margin: 104px auto 0 132px;
}
.main {
  margin: 0 auto;
}
.mobileHeader {
  height: 40px;
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobileFooter {
  height: 40px;
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
