@import '../../../../scss/variable';
@import '../../../../scss/mixin.scss';

.employee_user {
  position: relative;
  @include display (flex);
  width: 100%;
  font-size: 11px;
  margin-top: 28px;
  padding: 0 20px;
  font-family: $font-family-inter;

  &_info {
    @include display (flex, row, flex-start, center);
    width: 60%;

    &_avatar {
      width: 34px;
      height: 34px;
      margin-right: 12px;
    }

    &_name {
      @include display (flex, column);

      & span:nth-child(1) {
        color: #111827;
        @include font (500, 11px);
        margin-bottom: 4px;
      }

      & span:nth-child(2) {
        color: #bdbdbd;
        font-size: 10px;
      }
    }

    &_btn {
      width: 140px;
    }
  }

  &_roleBtn {
    @include display (flex, row, space-between);
    width: 35%;

    &_role {
      @include display (flex, row, flex-start, center);
      width: 150px;
      color: #798188;
    }

    &_btn {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      color: #ba75ff;
      width: 100px;
    }
  }
}
.employee_user::after {
  content: '';
  @include position_t_l (absolute, -13px, 1%);
  width: 98%;
  background: #e5e7eb;
  height: 1px;
}