@import 'src/scss/variable';
@import '../../scss/mixin.scss';

.chart_header_container{
    display: flex;
    justify-content: space-between;

    .chart_header{
        color: #000000;
        font-weight: 500;
        font-size: 24px;

    }
}

.select{
}