@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


.main {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 251, 251);
    //max-width: 3400px;
    // max-height: 2400px;
    width: 1024px;
    height: 600px;
    margin: 0 auto;
    // overflow: auto;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    background: linear-gradient(224deg, #EC40FF -5.54%, #9B219E 11.79%, #4D0FAF 75.62%);
    border: 2px solid black;
    margin-bottom: 10px;
}

.mainSkills {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;
    //max-width: 3400px;
    // max-height: 2400px;
    width: 1024px;
    height: auto;
    margin: 0 auto;
    // overflow: auto;
    padding: 60px 10px 10px 10px;
    border: 1px solid black;
    background-color: white;
    background: linear-gradient(224deg, #EC40FF -5.54%, #9B219E 11.79%, #4D0FAF 75.62%);
    border: 2px solid black;
    color: #ffff;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 54px;
        padding-bottom: 1.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: start;

        &_skills {
            display: flex;
            font-weight: 700;
            font-size: 29px;
            text-align: start;
            margin-bottom: 5%;
            padding-left: 54px;
        }

        &_modal {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: start;
            padding-left: 150px;
            margin-bottom: 20px;

            li {
                font-weight: 500;
                font-weight: 26px;
                
            }
        }
    }
   
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 60px;

    @media screen and (min-width: 320px) and (max-width: 1024px) {
        flex-flow: column nowrap;
    }

}

.logo {
    // max-width: 1041px;
    // max-height: 1648px;
    // width: 60%;
    height: 90px;
    flex: 0 1 10%;
    margin-right: 10px;
    margin-top: 10px;
   

    @media screen and (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 15rem;
    }

        &__img {
            width: 90px;
            line-height: 0;
        }

        &__imgSkills {
            position:static;
            rotate: 90deg;
            width: 90px;
            line-height: 0;
            right: 350px;
            bottom: 0px;
        }
}

.border {
    width: 110%;
    position: absolute;
    top: -10%;
    left: -5%;
}

.certificate {
    flex: 1 0 90%;
    // width: 60%;
    // max-width: 1680px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

		&__header {
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 3.5rem;
            text-align: center;
            text-transform: uppercase;
		}

		&__producer {
            position: relative;
            width: max-content;
            margin-bottom: 20px;
            // padding: 0.9375rem 0; 

            font-weight: 600;
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;

            // margin: 0 auto;
            padding-bottom: 20px;
		}

		&__graduate {
            margin-bottom: 2rem;
            border-bottom: 1px solid rgb(255, 251, 251);
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;
		}

		&__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: start;

            &_skills {
                display: flex;
                font-weight: 400;
                font-size: 2rem;
                text-align: start;
                margin-bottom: 5%;
                padding-left: 3%;
            }

            &_modal {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                font-size: 2rem;
                text-align: start;
                padding-left: 8%;
                margin-bottom: 15%;
            }
		}
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

.signs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    font-size: 1rem;
    text-align: start;
    width: 100%;
    // margin-bottom: 8%;

        &__date {
            flex: 1 1 30%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding-left: 10px;
        }

		&__content {
            flex: 1 1 70%;
		}
}

.sign {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

        &:nth-child(1) {
            margin-bottom: 1rem;
        }

		&__img {
            
            flex: 0 1 250px;
            position: relative;
            border-bottom: 1px solid rgb(255, 251, 251);
		}

        &__signature {
            top: -50px;
            position: absolute;
            width: 90%;
        }

        &__stamp {
            top: -20px;
            position: absolute;
            width: 90%;
        }
}

.courseName {
    display: flex;
    background: no-repeat bottom url('./img/courseName.svg');
    width: 100%;
    height: 150px;
    background-size: contain;
}


.courseNameSkills {
    display: flex;
    background: no-repeat bottom url('./img/courseNameSkills.svg');
    width: 100%;
    height: 150px;
    background-size: contain;
    display: flex;
    justify-content: end;
    padding-right: 80px;
}




.backCourse {
    position: relative;
    top: -280px;
    font-size: 100px;
    font-weight: 900;
    background: linear-gradient(224deg, #EC40FF -5.54%, #9B219E 11.79%, #4D0FAF 75.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .4;
    filter: blur(5px);
    -webkit-background-clip: text;
    background-clip: text;
    transform: rotate(-30deg);
    margin: 0 auto;
  }
  
  .backCourse::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    
}

