@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.main {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 251, 251);
    //max-width: 3400px;
    // max-height: 2400px;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    background: linear-gradient(224deg, #EC40FF -5.54%, #9B219E 11.79%, #4D0FAF 75.62%);
   
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 5%;

    @media screen and (min-width: 320px) and (max-width: 1024px) {
        flex-flow: column nowrap;
    }

}

.logo {
    // max-width: 1041px;
    // max-height: 1648px;
    // width: 60%;
    height: 80px;
    flex: 0 1 10%;
    margin-right: 10px;
    margin-top: 10px;
   

    @media screen and (max-width: 1024px) {
        margin-right: 0;
        margin-bottom: 15rem;
    }

        &__img {
            width: 200px;
            line-height: 0;
        }
}

.border {
    width: 110%;
    position: absolute;
    top: -10%;
    left: -5%;
}

.certificate {
    flex: 1 0 90%;
    // width: 60%;
    // max-width: 1680px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

		&__header {
            margin-bottom: 50px;
            font-weight: 700;
            font-size: 5rem;
            text-align: center;
            text-transform: uppercase;
		}

		&__producer {
            position: relative;
            width: max-content;
            margin-bottom: 40px;
            padding: 0.9375rem 0; 

            font-weight: 600;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;

            margin: 0 auto;
            padding-bottom: 50px;
		}

		&__graduate {
            margin-bottom: 6.25rem;
            border-bottom: 1px solid rgb(255, 251, 251);
            font-weight: 500;
            font-size: 4rem;
            text-align: center;
            text-transform: uppercase;
		}

		&__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10%;
            font-weight: 400;
            font-size: 2rem;
            text-align: start;

            &_skills {
                display: flex;
                font-weight: 400;
                font-size: 2rem;
                text-align: start;
                margin-bottom: 5%;
                padding-left: 3%;
            }

            &_modal {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                font-size: 2rem;
                text-align: start;
                padding-left: 8%;
                margin-bottom: 15%;
            }
		}
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

.signs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    font-size: 2rem;
    text-align: start;
    width: 100%;
    margin-bottom: 8%;

        &__date {
            flex: 1 1 30%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding-left: 10px;
        }

		&__content {
            flex: 1 1 70%;
		}
}

.sign {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

        &:nth-child(1) {
            margin-bottom: 4.375rem;
        }

		&__img {
            flex: 0 1 250px;
            position: relative;
            border-bottom: 1px solid rgb(255, 251, 251);
		}

        &__stamp {
            position: absolute;
            width: 100%;
        }
}

.courseName {
    display: flex;
    background: no-repeat bottom url('./img/courseName.svg');
    width: 100%;
    height: 300px;
    background-size: contain;
}
