@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss'; 

@font-face {
    font-family: 'SFPRORegular';
    src: url(../../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.answerOptionsBlock {
    &_title {
        @include font (500, 14px,17px);
        color: #4D5766;
    }
    &_inputWrapper {
        @include display (flex, row, flex-start, center);
        width: 100%;
        height: 27px;
        margin-bottom: 10px;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        label {
            display: flex;

            input {
                padding: 4px 9.4px;
                border-radius: 5px;
                max-width: 119px;
                width: 100%;
                height: 100%;
                transition: all 0.2s;
                @include font (500, 13px, 16.71px);
                color: $color-text;

                &::placeholder {
                @include font (500, 14px, 21px);
                color: $color-grey;
                }

            &:hover {
                border: 1px solid #357eeb;
            }
            }

            span {
                width: 24px;
                height: 24px;
                border: 1px solid #332F36;
                border-radius: 4px;
            }

            input:checked ~ span {
                border: none;
            }
        }
        &_correctAnswerWrapper {
            @include display (flex);
            height: 100%;
            border: 1px solid #E5E7EB;
            border-radius: 5px;
            margin: 0 9px 0 0;
            cursor: pointer;
            label {
                @include display (flex);
                margin: 0;
                padding: 9px;
                width: fit-content;
                @include font (500, 12px, 18px);
                color: #BABCBF;
                input {
                    cursor: pointer;
                }
                span {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        &_comment {
            cursor: pointer;
            &:hover {
                svg {
                    path {
                        stroke: #357eeb;
                    }
                    line {
                        stroke: #357eeb;
                    }
                }
            }
        }
        &_delete {
            margin-left: 4px;
            cursor: pointer;
            &:hover {
                svg {
                    path {
                        fill: #EF4444;
                    }
                }
            }
        }
        &_grab {            
            cursor: grab;
        }
    }
}

.children {
    flex-direction: column;
}