.filter_item_container {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  color: #6b7484;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 23px;
  cursor: pointer;
  svg {
    transform: rotate(270deg);
  }
}
