@import '../../../scss/mixin.scss';

.filter_item_container {
  @include display (flex, row, space-between, center);
  @include font (400, 16px, 13px);
  font-style: normal;
  color: #6b7484;
  margin: 23px;
  cursor: pointer;
  text-transform: capitalize;
  svg {
    transform: rotate(270deg);
  }
}