@import '../../../scss/variable';
@import '../../../scss/mixin.scss';

.container {
  width: 476px;
  padding: 21px 61px 21px 24px;
  text-align: left;
  font-family: $font-family-inter;
  border-radius: 7px;
}
.content {
  position: relative;
  @include display (flex, row, flex-start, center);
  &_arrow {
    @include position_t_r (absolute, 40%, -4%);
    cursor: pointer;

    &_open {
      @include position_t_r (absolute, 40%, -4%);
      cursor: pointer;
      transform: rotate(180deg);
    }
  }

  & span {
    margin-left: 10px;
    font-weight: 500;
    font-size: $fs16;
    letter-spacing: 0.04em;
    color: $font-title;
  }
}
.selectChildren {
  @include display (flex);
  width: 511px;
  padding: 20px 0 20px 16px;
  text-align: right;
  border-radius: 7px;

  &_content {
    @include display (flex);
  }
}