@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';

@font-face {
    font-family: 'SFPRORegular';
    src: url(../../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.wrapper {
    background-color: #CFE2FF;
    padding: 74px 20px 20px 20px;
    border-radius: 40px;
    overflow: hidden;
    user-select: none;
    position: relative;
    max-width: 881px;
    width: 100%;

    &_question_count {
        @include font(500, 26px, 31.03px);
        color: $color-text;
        text-align: center;
        font-family: 'SFPRORegular';
    }

    &_drop_down_menu {
        @include display(flex, column, center, flex-start);
        margin-top: 10px;
        padding: 20px 21px 30px 36px;
        background: linear-gradient(140deg,#c2e0ff 0%, #c2e0ff 11%, #d6eaff 16%, #e5f2ff 25%, #fafcff 57%, #fafcff 82%, #e5f2ff 89%, #d6eaff 93%, #c2e0ff 100%);
        box-shadow: 0px 0px 8px 0px #3241954D;
        overflow: hidden;
        border-radius: 20px;
        min-height: 409px;
        max-width: 841px;
        width: 100%;
        animation: slideDown 0.2s ease-in forwards;
        @media only screen and (min-width : 320px) and (max-width : 375px) {
          padding: 5%;
        }
        @media only screen and (min-width : 375px) and (max-width : 480px) {
          padding: 5%;
        }
    
        &_question_count {
            @include font(700, 20px, 23.87px);
            color: $color-text;
            text-align: center;
            font-family: 'SFPRORegular';
            margin-bottom: 33.5px;
            align-self: center;
        }
      }
    
      &_optionsContent {
        align-self: center;
      }

    &_addPicturesBlock {
        position: relative;
        max-width: 180px;
        width: 100%;
        padding: 20.65px 0;
        margin-bottom: 10px;
        border-radius: 16px;
        background-color: $color-white;
        box-shadow: 0px 0px 8px 0px #3241954D;
        display: flex;
        justify-content: center;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        label {
            @include position_t_l (absolute, 0, 0, 5);
            display: block;
            width: 100%;
            height: 100%;
            input {
                display: none;
                width: 100%;
                height: 100%;
                background: transparent;
            }
        }
    }
     &_answer_error {
      font-size: 12px;
      color: rgb(224, 24, 24);
      text-align: left;
      margin-left: 55px;
      margin-bottom: 10px;
     }
}

.settings_list {
    display: flex;
    width: 100%;
    max-width: 580px;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.wrapper_addPicturesBlock ~ div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fillColorBlue path {
    fill: $color-blue;
  }

.upload_title {
    @include font (500, 14px, 16.71px);
    color: $color-text;
    font-family: 'SFPRORegular';
    text-align: center;
}

.answerOptionContainer {
    height: 118px;
}