@import '../../../scss/mixin.scss';

.scores_container {
  @include position_t_l (absolute, 0, 50px);
  @include display (flex, column, flex-start, center);
  max-width: 500px;
  width: 485px;
  height: 165px;
  border-radius: 10px;
  background-color: #ffffff;
  button {
    margin-top: 10px;
  }
}
.input_container {
  @include display (flex, row, flex-start, center);
  width: 100%;
  p {
    padding-left: 10px;
    margin: 5px 0;
  }
  input {
    max-width: 146px;
    margin-right: 10px;
  }
}