@import '../../../scss/mixin.scss';

.scores_container {
  @include position_t_l(absolute, 0, 0);
  @include display(flex, column, space-between, center);
  max-width: 500px;
  width: 445px;
  height: 165px;
  padding: 19px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
  h5 {
    @include font(600, 10px, 12px);
    color: #d2d6dc;
  }
  button {
    width: 100%;
    font-size: 14px;
  }

  @media only screen and (min-width : 320px) and (max-width : 375px) {
    width: 80vw;
    left: -30px;
  }
  
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    width: 80vw;
    left: -30px;
  }
}
.input_container {
  @include display(flex, row, flex-start, center);
  width: 100%;
  p {
    @include font(400, 12px, 14px);
    color: #6b7484;
    margin-right: 14px;
  }
  p:last-of-type {
    margin: 0 14px;
  }
  input {
    max-width: 146px;
    margin-right: 10px;
  }
}
