@font-face {
  font-family: 'SFPRORegular';
  src: url(../../assets/fonts/SFProText/SFProText-Regular.ttf) format('opentype');
}

.text_container {
  @media only screen and (min-width: 1150px) {
    font-size: 2rem;
    text-align: center;
  }

  @media only screen and (min-width: 640px) and (max-width: 1150px) {
    font-size: 2vw;
    text-align: center;
  }

  @media only screen and (min-width: 320px) and (max-width: 639px) {
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;

  div {
    font-size: 28px;
    text-align: start;
    @media only screen and (min-width: 640px) and (max-width: 1150px) {
      font-size: 24px;
    }
    @media only screen and (min-width: 481px) and (max-width: 639px) {
      font-size: 24px;
    }
    @media only screen and (min-width: 401px) and (max-width: 480px) {
      font-size: 19px;
    }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      font-size: 15px;
    }
  }

  @media only screen and (min-width: 1151px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: 31px;
    overflow: hidden;
  }

  @media only screen and (min-width: 640px) and (max-width: 1150px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: 26px;
    overflow: hidden;
  }

  @media only screen and (min-width: 481px) and (max-width: 639px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: 26px;
    overflow: hidden;
  }

  @media only screen and (min-width: 401px) and (max-width: 480px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: 22px;
    overflow: hidden;
  }

  @media only screen and (min-width: 320px) and (max-width: 400px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    height: 16px;
    overflow: hidden;
  }

  p {
    @media only screen and (min-width: 1150px) {
      font-family: 'SFPRORegular';
      font-weight: 600;
      font-size: 28px;
      line-height: 31px;
      color: #000000;
    }
    @media only screen and (min-width: 640px) and (max-width: 1150px) {
      font-family: 'SFPRORegular';
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;
      color: #000000;
    }
    @media only screen and (min-width: 320px) and (max-width: 639px) {
      font-family: 'SFPRORegular';
      font-weight: 600;
      font-size: 15px;
      line-height: 16px;
      color: #000000;
    }
  }

  &_worlds {
    @media only screen and (min-width: 1150px) {
      font-family: 'SFPRORegular';
      color: #357eeb;
      font-weight: 600;
      font-size: 28px;
      line-height: 31px;
    }

    @media only screen and (min-width: 640px) and (max-width: 1150px) {
      font-family: 'SFPRORegular';
      color: #357eeb;
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;
    }

    @media only screen and (min-width: 320px) and (max-width: 639px) {
      font-family: 'SFPRORegular';
      color: #357eeb;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
