@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

.container {
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: $color-text;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
} 
