.modal_container {
  width: 1174px;
  padding: 0 30px;
  h3 {
    color: #4d5766;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
.modal_header {
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
}

.header_info {
  display: inline-flex;
  margin-bottom: 20px;
}
.header_info > * {
  margin: auto;
}
.btn_grey {
  border: none;
  cursor: pointer;
  padding: 20px 10px;
  border-radius: 7px;
  box-sizing: border-box;
  color: #6b7484;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  font-weight: 500;
  font-size: 14px;
  width: fit-content;
  text-align: center;
  height: 39px;
  span {
    margin: 0 10px;
  }
}
.task_status {
  margin-right: 40px;
  display: flex;
  color: #9ca3af;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.task_info {
  display: inline-flex;
  &_item {
    margin: 0 30px 0 0;
    display: flex;
    span {
      width: fit-content;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;
      display: flex;
      font-weight: 400;
      font-size: 14px;
      color: #4d5766;
    }
  }
}
.bottomButtons {
  display: inline-flex;
  width: 100%;
  justify-content: right;
  &_btn_done {
    margin: 0 30px 0 0;
    display: flex;
    border: none;
    padding: 20px 10px;
    border-radius: 7px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
    text-align: center;
    height: 39px;

    background: #c5ece5;
  }
  &_btn_addFile {
    display: flex;
    border: none;
    padding: 20px 10px;
    border-radius: 7px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
    text-align: center;
    height: 39px;

    background-color: #f3f4f6;
    color: #6b7484;
    margin-right: auto;
  }
  &_btn_send {
    margin: 0 30px 0 0;
    display: flex;
    border: none;
    padding: 20px 10px;
    border-radius: 7px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
    text-align: center;
    height: 39px;

    background: #ba75ff;
    color: #ffffff;
  }
  &_btn_mark {
    margin: 0 30px 0 0;
    display: flex;
    //border: none;
    padding: 20px 10px;
    //border-radius: 7px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
    text-align: center;
    height: 39px;

    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
  }
}
.answer_header {
  margin: 20px 0;
}

.speech_bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  color: #6b7484;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 12px;
  width: 100%;
  margin-bottom: 40px;
}

.speech_bubble:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-top: 20px solid transparent;
  left: 20px;
  top: -14px;
}

.teacher {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  color: #6b7484;
  padding-bottom: 30px;
  &_avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  &_teacherData {
    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    &_name {
      font-weight: 500;
      margin-bottom: 5px;
    }
    &_date {
      font-weight: 400;
    }
  }
}
