@import '../../../scss/variable';
@import '../../../scss/mixin.scss';

.modal {

    &_background {
        @include display(flex, column);
    }

    &_close {
        width: 100%;
        @include display(flex, row, end);

        &_btn {
            background-color: #fff;

            &_cross {
                clip-path: polygon(7% 0, 0 7%, 43% 50%, 0 93%, 7% 100%, 50% 57%, 93% 100%, 100% 93%, 57% 50%, 100% 8%, 93% 0, 50% 43%);
                height: 20px;
                width: 20px;
                background-color: #332F36;
            }

            &:hover:not(:disabled) {
                background-color: #fff;
            }
        }
    }

    &_header_text {
        font-weight: 700 !important;
        font-size: 20px !important;
    }

    &_list {
        @include display(flex, column);
        padding: 10px;
        gap: 8px;
        margin-top: 15px;

        .createChatButtonModal {
            @include display(flex, row, center, center);
            background-color: #F0F0F0;
            border-radius: 16px;
            border: none;
            padding: 15px;
            margin: 0 10px;
        }

        &_scroll {
            @include display(flex, column, start);
            gap: 8px;
            max-height: 200px;
            overflow-y: auto;
        }

        .chatListItemWrapper {
            @include display(flex, row, space-between, center);
            background-color: #F0F0F0;
            border-radius: 16px;
            padding: 15px;
            margin: 0 10px;
        }
    }
}