@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

.wrapper {
    @include display (flex, column, space-between, center);
    width: 100%;
    padding: 40px 42px 24px 42px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0 , .3);
    &_title {
        @include font (700, 16px, 20px);
        text-align: center;
        font-style: italic;
        text-align: center;
        color: #4D5766;
    }
    button {
        align-self: flex-start;
        margin-top: 64px;
    }
}
