@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

.previous {
  position: relative;
  width: 100%;
  height: 210px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: #e0dced;
  border-radius: 7px;
  margin-bottom: 25px;

  &_getSertificate {
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      @include position_t_l(absolute, 20px, 15px);
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      @include position_t_l(absolute, 20px, 15px);
    }

    @include position_b_r(absolute, 40px, 150px);
  }

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    margin: 30px 0 17px 0;
    height: 228px;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    margin: 40px 0 17px 0;
    height: 228px;
  }

  &_bcgrShadow {
    @include position_t_l(absolute, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 7px;
  }

  .background_image_course {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: rgba(248, 229, 255, 0.68);
  }
  img {
    display: inline-block;
    width: 66px;
    height: 66px;
  }

  &_infoBlock {
    @include position_b_l(absolute, 26px, 34px);
    @include display(flex, row, flex-start, center);
    &_avatar {
      border: 1px solid #ffffff;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 16px;
    }

    &_title {
      @include display(flex, column);
      &_description {
        color: #ba75ff;
        font-size: 14px;
        margin-bottom: 2px;
      }

      &_name {
        font-size: 20px;
        color: #bdbdbd;
        line-height: 24px;
      }

      &_about {
        font-size: 10px;
        color: #bdbdbd;
      }
    }
  }

  &_onlineCourses {
    @include position_t_l(absolute, 107px, 44px);
    @include font(500, 14px, 17px);
    color: #ba75ff;
    text-transform: uppercase;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      @include position_t_l(absolute, 107px, 16px);
      @include font(500, 16px, 17px);
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      @include position_t_l(absolute, 107px, 16px);
      @include font(500, 16px, 17px);
    }
  }

  &_chatButton {
    position: relative;
    font-size: 0.57rem;
    height: 1.5rem;
    margin: 0;
    padding-top: 0.4rem;
    margin-right: 10px;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      @include font(500, 8px, 10px);
      padding-top: 0.1rem;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      @include font(500, 8px, 8px);
      padding-top: 0.2rem;
    }

  }

  &_btn {
    @include position_b_r(absolute, 44px, 37px);
    & button {
      padding: 10px 14px;
    }
  }

  &_courseInfo {
    @include position_b_l(absolute, 10%, 44px, 0);
    @include display(flex);
    color: #fff;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      @include position_b_l(absolute, 15px, 10px, 5);
      @include font(500, 8px, 10px);
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      @include position_b_l(absolute, 15px, 10px, 5);
      @include font(500, 10px, 10px);
    }
  }
  &_progress {
    @include position_b_r(absolute, 10%, 3%);
    @include display(flex, column, flex-start, flex-end);
    color: #fff;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      @include position_t_r(absolute, 16px, 16px, 10);
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      @include position_t_r(absolute, 16px, 16px, 10);
      position: absolute;
    }
    &_graph {
      @include display(flex, row, center, center);
      @include font(700, 10px, 15px);
      width: 72px;
      height: 72px;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        position: absolute;
        right: 12px;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        position: absolute;
        right: 12px;
      }
    }
    &_info {
      @include font(400, 10px, 12px);
      margin-top: 3px;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        @include position_b_l(absolute, 40px, -182px);
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        @include font(400, 12px, 12px);
        @include position_b_l(absolute, 90px, -85px)
      }
    }
  }
}
.input_change {
  border: none;
  outline: none;
  background: #e0dced;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.hide_input {
  @include position_t_l(absolute, 0, 0);
  width: 66px;
  height: 66px;
  opacity: 0;
}
.input_background_image {
  opacity: 0;
}
.label_input_background_image {
  @include position_t_l(absolute, 0, 50%);
  transform: translateX(-50%);
  border-radius: 0 0 15px 15px;
  padding-top: 15px;
  width: 30%;
  display: block;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.previous_title_name {
  @include position_t_l(absolute, 125px, 43px);
  @include font(500, 20px, 24px);
  color: #fff;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    @include position_t_l(absolute, 125px, 16px);
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    @include position_t_l(absolute, 125px, 16px);
  }
}
.back_all_course {
  @include position_t_l(absolute, 40px, 44px);
  @include display(flex, row, flex-start, center);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    @include position_t_l(absolute, -22px, 0, 10);
    color: black;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    @include position_t_l(absolute, -25px, 0, 10);
    color: black;
  }

  span {
    @include font(500, 12px, 15px);
    margin-left: 13px;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      @include font(500, 10px, 12px);
      color: #1d1d1d;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      @include font(500, 13px, 12px);
      color: #1d1d1d;
    }
  }
}
