@import '../../../scss/mixin.scss';

.previous {
  position: relative;
  width: 100%;
  height: 210px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: #e0dced;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 25px;

  &_bcgrShadow {
    @include position_t_l (absolute, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .background_image_course {
    width: 100%;
    height: 100%;
  }
  img {
    display: inline-block;
    width: 66px;
    height: 66px;
  }

  &_infoBlock {
    @include position_b_l (absolute, 26px, 34px);
    @include display (flex, row, flex-start, center);
    &_avatar {
      border: 1px solid #ffffff;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 16px;
    }

    &_title {
      @include display (flex, column);
      &_description {
        color: #ba75ff;
        font-size: 14px;
        margin-bottom: 2px;
      }

      &_name {
        font-size: 20px;
        color: #bdbdbd;
        line-height: 24px;
      }

      &_about {
        font-size: 10px;
        color: #bdbdbd;
      }
    }
  }

  &_onlineCourses {
    @include position_t_l (absolute, 107px, 44px);
    @include font (500, 14px, 17px);
    color: #ba75ff;
    text-transform: uppercase;
  }

  &_btn {
    @include position_b_r (absolute, 44px, 37px);
    & button {
      padding: 10px 14px;
    }
  }
}
.input_change {
  border: none;
  outline: none;
  background: #e0dced;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.hide_input {
  @include position_t_l (absolute, 0, 0);
  width: 66px;
  height: 66px;
  opacity: 0;
}
.input_background_image {
  opacity: 0;
}
.label_input_background_image {
  @include position_t_l (absolute, 0, 50%);
  transform: translateX(-50%);
  border-radius: 0 0 15px 15px;
  padding-top: 15px;
  width: 30%;
  display: block;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.previous_title_name {
  @include position_t_l (absolute, 125px, 43px);
  @include font (500, 20px, 24px);
  color: #fff;
}
.back_all_course {
  @include position_t_l (absolute, 40px, 44px);
  @include display (flex, row, flex-start, center);
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  span {
    @include font (500, 12px, 15px);
    margin-left: 13px;
  }
}