.header_dropdown_menu {
  cursor: pointer;
  max-width: 187px;
  max-height: 40px;
  padding: 10px 10px;
  border-radius: 7px;
  box-sizing: border-box;
  color: #6b7484;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e5e7eb;
    svg {
      transform: translate(2px, 10px);
    }
  }
}
.drop_down_item_container {
  position: absolute;
  color: #6b7484;
  padding: 10px 20px;
  max-width: 191px;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px #e4e7ed;
  border-radius: 7px;
  margin: 0 35px;
  p {
    font-size: 12px;
    color: #d2d6dc;
  }
}
.drop_down_item {
  display: flex;
  margin: 23px auto;
  cursor: pointer;
  span {
    margin: 0 15px;
  }
}
.rotate_arrow {
  transform: rotate(180deg);
}
.triangle {
  position: absolute;
  top: 2px;
  transform: translateY(-50%);
}
.bg_color_hamburger {
  background-color: #ededed;
}

.bg_color_accepted {
  background-color: #c5ece5;
}

.bg_color_auto_check {
  background-color: #ededed;
}

.bg_color_under {
  background-color: #fff1da;
}

.bg_color_rejected {
  background-color: #fef2f2;
}

.bg_color_waiting {
  background-color: #f3f4f6;
}
