@import '../../../scss/mixin.scss';
@import '../../../scss/variable.scss';

//chat

.chat {
  position: relative;
  background: $color-white;
  max-width: calc(100vw - 80px);
  max-height: calc(100vh - 80px);
  min-height: 80vh;
  width: 1050px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  z-index: 9999;
  fill: #c896fc;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    max-width: 90%;
    display: flex;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    max-width: 90%;
    display: flex;
    width: 100%;
  }
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    max-width: 100%;
   }

  &_loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
  }

  &_close {
    outline: none;
    border: none;
    color: $backgroundCheckBox;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s color;
    z-index: 999;
    &:hover {
      color: $font-title;
    }
  }
}

//chat privew

.chatPreview {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  padding: 5px;
  width: 360px;
  overflow-y: auto;
  //border-bottom: 1px #c9c9c9 solid;
  border-top: 1px #c9c9c9 solid;
  

  &_selected {
    background-color: rgba(229, 231, 235, 0.6);
  }
  cursor: pointer;
  &:hover {
    background: #f3f4f6;
  }

  &_avatarWrap {
    margin-right: auto;
    width: 3rem;
    height: 3rem;
    //border-radius: 50%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    flex-shrink: 0;
    //background: #d3f2f8;
    //color: #72b0bc;
    //border: red 1px solid;

    // &:nth-child(2) {
    //   background: #e2f6f3;
    //   color: #72c5b7;
    // }

    // &:nth-child(3) {
    //   background: #f9dcdc;
    //   color: #d96b7d;
    // }

    // &:nth-child(4) {
    //   background: #f1e3f4;
    //   color: #c97fcf;
    // }
  }

  &_top {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
  }

  &_info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: #9198a1;
    font-size: 14px;
    //border: 1px solid blue;
    p:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #424345;
    }
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      width: 90%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 90%;
    }
    @media only screen and (min-width: 481px) and (max-width: 1024px) {
      width: 90%;
      
    }
  }

  &_lastMessage {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #838383;
    //border: 1px solid deeppink;
  }

  &_newMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //padding-top: 1rem;
    //border: 1px solid navy;
  }
  &_time {
    align-self: flex-start;
    color: grey;
    font-size: 12px;
  }
  &_badge {
    align-self: flex-end;
    //padding-right: 5px;
    //border: 1px red solid;
    margin-left: auto;
    padding-right: 12px;
    margin-top: auto;
    height: 20px;
  }
}

// chat list

.chatsList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  margin-top: 1rem;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e1dbe6;
    height: 128px;
    border: 3px solid rgba(249, 250, 251);
    border-radius: 5px;
  }
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    width: 90%;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    width: 90%;
  }
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    width: 90%;
    
  }
  
}

 //chat panel

.chatPanel {
  background: rgba(249, 250, 251);
  font-size: smaller;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    width: 80%;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    width: 80%;
  }

  &_top {
    padding-top: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-size: smaller;
    
  }
  &_user {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    align-items: center;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      padding: 0 5% 0 5%;
      flex-direction: column;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      padding: 0 5% 0 5%;
      flex-direction: column;
    }
  }

  &_user_avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    flex-shrink: 0;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      width: 40px;
      height: 40px;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 40px;
      height: 40px;
    }
    

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }

    background: #d3f2f8;
    color: #72b0bc;

  &_userName {
      @include display(flex, column);
    font-family: 'Inter', sans-serif;
    font-size: 5px;
    &_status {
      margin-bottom: 4px;
      color: #BA75FF;
      font-size: 10px;
    }

    &_name {
      color: #6b7280;
    }
  }
    // &:nth-child(2) {
    //   background: #e2f6f3;
    //   color: #72c5b7;
    // }

    // &:nth-child(3) {
    //   background: #f9dcdc;
    //   color: #d96b7d;
    // }

    // &:nth-child(4) {
    //   background: #f1e3f4;
    //   color: #c97fcf;
    // }
  }
}

// chat workspace

.chatWorkspace {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    padding-top: 15%;
    margin: 0 1% 1% 1%;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    padding-top: 15%;
    margin: 1%;
  }

  &_preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    p {
      font-size: 20px;
      font-weight: 600;
      color: #424345;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        font-size: 12px;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        font-size: 12px;
      }
    }
  }

  &_wrapper {
    flex: 1 1 auto;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  &_content {
    padding: 20px 0;
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-flow: column nowrap;
  }
}

// chat input

.chatInput {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 70px;
  flex: none;
  align-items: center;

  &_input {
    padding: 9px 60px 9px 9px;
    width: 90%;
    max-height: 200px;
    font-size: 14px;
    line-height: 17px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    margin-right: 10px;
    border: none;
  }

  &_send {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    width: 10%;
    height: 30%; /* Устанавливаем высоту 100%, чтобы центрировать вертикально */
    padding: 10px;
    margin-right: 10px;
    svg {
      fill: grey;
    }
    @media only screen and (min-width: 320px) and (max-width: 375px) {
     width: 30%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
     width: 30%;
    }
  }
  &_send:hover svg {
    fill: #BA75FF; /* Изменяем fill цвета иконки */
  }
}

// chat user

.chatUser {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
  //border: 1px solid blue;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    padding: 1% 1% 1% 1%;
    
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    padding: 1% 1% 1% 1%;
    
  }


  &_info {
    display: flex;
    align-items: center;
  }

  &_avatar {
    margin-right: 10px;
    //margin-left: 1rem;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: #d3f2f8;
    color: #72b0bc;
  }
  &_nameWrapper {
    flex-grow: 1;
    // margin-left: auto;
    // margin-right: auto;
    // padding: 0px;
    //border: 1px #f30e0e solid;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      display: flex;
      flex-direction: column; 
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }

  }
  &_name {
    color: #424345;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_lastVisit {
    font-size: 12px;
    margin-top: 5px;
    color: #9198a1;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

// chat message

.chatMessage {
  padding: 10px 35px;
  // display: flex;
  // align-items: flex-end;
  transition: background-color 0.05s ease;

  // &:nth-child(2) {
  //   background: #e2f6f3;
  //   color: #72c5b7;
  // }

  // &:nth-child(3) {
  //   background: #f9dcdc;
  //   color: #d96b7d;
  // }

  // &:nth-child(4) {
  //   background: #f1e3f4;
  //   color: #c97fcf;
  // }

  &_avatar {
    background: #d3f2f8;
    color: #72b0bc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  &_user_name {
    font-size: 14px;
    font-weight: 500;
  }

  &_right {
    align-self: flex-end;
    justify-content: flex-end;
    // flex-direction: row-reverse;
  }

  &_content_left {
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
  }

  &_content_right {
    margin-left: 20px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
  }

  &_content_right &_avatar {
    order: 2;
    margin-left: 15px;
    align-self: flex-end;
  }

  &_content_left &_avatar {
    margin-right: 15px;
  }

  &_mess_right {
    padding: 15px 20px 20px 20px;
    position: relative;
    color: $font-title;
    border-radius: 6px 6px 0 6px;
    max-width: 350px;
    background-color: #f3f3f5;

    // & > .chatMessage_textwrapper::after {
    //   content: '';
    //   border-style: solid;
    //   border-color: transparent transparent #f3f3f5 transparent;
    //   width: 0;
    //   height: 0;
    //   position: absolute;
    //   bottom: 0;
    //   border-width: 10px 0 0 10px;
    //   background-color: #f3f3f5;
    //   right: -10px;
    //   left: auto;
    // }
  }

  &_mess_left {
    padding: 15px 20px 20px 20px;
    position: relative;
    background-color: #f3f3f5;
    max-width: 350px;
    color: $font-title;
    border-radius: 6px 6px 0 6px;

  }

  &_mess_author {
    padding: 15px 20px 20px 20px;
    position: relative;
    //background-color: rgba(238, 226, 253, 0.8);
    background-color: rgba(238, 226, 253, 0.65);
    max-width: 350px;
    color: $font-title;
    border-radius: 6px 6px 0 6px;
  }

    // & > .chatMessage_textwrapper::after {
    //   content: '';
    //   border-width: 0 0 10px 10px;
    //   border-style: solid;
    //   border-color: transparent transparent #f3f3f5 transparent;
    //   width: 0;
    //   height: 0;
    //   position: absolute;
    //   bottom: 0;
    //   left: -10px;
    // }
  //}

  &_textWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    p {
      margin-top: 5px;
      font-size: 14px;
      white-space: pre-wrap;
    }
  }
  &_text_time {
    padding-left: 10px;
    flex-grow: 1;
    position: relative;
    top: 6px;
    color: #4d576666;
    font-size: 14px;
    text-align: right;
  }
}

.chatMessageSeparator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #888;
  font-size: 14px;
}

// chatgrouppreview
.chatGroup {
  position: relative;
}

.chatGroup_content {
  padding-bottom: 20px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e1dbe6;
    height: 128px;
    border: 3px solid #ffff;
    border-top: 8px solid #ffff;
    border-bottom: 8px solid #ffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }

  &_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    cursor: pointer;

    &:hover {
      background-color: #f3f4f6;
    }

    &_avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
      }
    }

    &_avatar:nth-child(1) {
      background: #d3f2f8;
      color: #72b0bc;
    }

    &_avatar:nth-child(2) {
      background: #e2f6f3;
      color: #72c5b7;
    }

    &_avatar:nth-child(3) {
      background: #f9dcdc;
      color: #d96b7d;
    }

    &_avatar:nth-child(4) {
      background: #f1e3f4;
      color: #c97fcf;
    }

    &_info {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.chatGroup_header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  &_preview {
    & span:first-child {
      font-weight: 500;
      color: $font-title;
    }

    & span:last-child {
      color: #9198a1;
    }
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: #9198a1;
    cursor: pointer;

    &:hover {
      color: $font-color-rose;
      transition: color 0.3s;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
    }
  }
}
