@import './src/scss/variable';
@import '../../scss/mixin.scss';

.wrapper {
  // @include position_t_l (absolute, 0, 0, 15);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  &_item_init {
    margin-top: 15px;
    height: 40px !important;
    opacity: 0.5;

    & label {
      color: #ba75ff;
      background-color: #e0d9fc !important;
      user-select: none;
    }
  }

  @media (max-width: 480px) {
    background: $color-white;
  }
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.649);
  z-index: 9999;
}

.warning {
  padding: 30px;

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    padding: 16px;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    padding: 59px 16px 60px 16px;
  }

  &_wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.container {
  // margin: 56px 62px 70px;
  margin: 40px 62px 50px;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    margin: 16px;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    margin: 59px 16px 60px 16px;
  }
}

.main_school_name_input input {
  width: 100%;
  height: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  text-overflow: ellipsis;
}

.main {
  position: relative;
  @include display(flex, column, center);
  background: $color-white;
  font-family: 'Manrope', sans-serif;
  margin: auto;
  border-radius: 7px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: visible;
  width: 550px;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    width: 90%;
    position: absolute;
    top: 10%;
    right: 6%;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    width: 90%;
    position: absolute;
   
    
  }
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    position: absolute;
    left: 30%;
    height: 95%;
  }

  &_login {
    position: relative;
    @include display(flex, column, center);
    background: $color-white;
    font-family: 'Manrope', sans-serif;
    margin: auto;
    border-radius: 7px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: visible;
    width: 400px;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      width: 90%;
      position: absolute;
      top: 10%;
      right: 6%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 90%;
      position: absolute;
      top: 10%;
      right: 6%;
    }
    @media only screen and (min-width: 481px) and (max-width: 1024px) {
      position: absolute;
      left: 30%;
      height: 95%;
    }
  }

  &_closed {
    @include position_t_r(absolute, 1.5em, 1.5em);
    cursor: pointer;
    color: #ba75ff;
    width: 35px;
    height: 35px;
    //background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #4d5766;
      transition: color 0.3s;
    }
  }

  &_registr {
    @include position_t_r(absolute, 0.5em, 5em);
    cursor: pointer;
    color: #6F6F6F;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;

    &:hover {
      color: #000000;
      transition: color 0.3s;
    }
  }

  &_title {
    @include font(800, 30px);
    color: #000000;
    text-align: center;
    margin-bottom: 1em;
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      font-size: 18px;
      margin-bottom: 1em;
    }
  }

  &_blockDescReg {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 30em;
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 100%;
    }

    &_link {
      color: #b280b1;
      text-decoration: none;
      transition: color 0.4s;

      &:hover {
        color: #af35acff;
      }
    }

    &_description {
      font-size: 14px;
      font-family: 'Inter', sans-serif;
      margin: 10px 0;
      opacity: 0.5;
    }
  }

  &_blockDesc {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 30em;
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 100%;
    }

    &_checkbox {
      display: inline-block;
    }

    &_description {
      font-size: 14px;
      font-family: 'Inter', sans-serif;
      margin: 10px 0;
    }

    &_link {
      color: #0359ff;
      text-decoration: none;
      transition: color 0.4s;

      &:hover {
        color: #4483ff;
      }
    }
  }

  &_btn {
    margin-top: 0.5em;
    text-align: center;

    &_href {
      color: #000000;
    }
  }
}

.main_employee {
  @include position_t_l(absolute, 50%, 50%, 10);
  @include display(flex, column);
  width: 558px;
  background: $color-white;
  font-family: 'Manrope', sans-serif;
  margin: 0 auto;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    width: 100%;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    width: 100%;
  }

  &_name {
    margin: 0;
    @include font(500, 18px, 22px);
    letter-spacing: 0.03em;
    color: $font-title;
  }

  &_chosenRole {
    margin-top: 25px;

    & span {
      text-transform: lowercase;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  &_container {
    margin: 36px 13px 29px 31px;
  }

  &_closedModal {
    @include position_t_r(absolute, 17px, 16px);
    background: #f1f1f1;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0dced;

    &:hover {
      color: #4d5766;
      transition: color 0.3s;
    }
  }

  &_title {
    @include font(500, 18px, 22px);
    letter-spacing: 0.03em;
    color: #4d5766;
    text-align: center;
  }

  &_subs {
    @include font(400, 14px);
    color: #65696d;
    display: inline-block;
    margin-top: 15px;
  }

  &_invite {
    margin-top: 32px;

    & label {
      color: #4d5766;
      font-size: 14px;
      display: inline-block;
      margin-bottom: 7px;
    }

    &_input {
      // display: flex;
      // height: 60px;
      line-height: normal;
      padding: 11px 0 12px 20px;
      border: 1px solid #e5e7eb;
      border-radius: 5px;
      text-overflow: ellipsis;
    }

    & input {
      border: none;
      outline: none;
      width: 100%;

      &::placeholder {
        color: #d4d7dd;
      }
    }
  }

  &_role {
    margin: 16px 0;

    &_radio {
      margin-bottom: 6px;
    }

    &_desc {
      font-size: 14px;
      color: #949aa3;
      margin-left: 32px;
    }
  }

  &_btn {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: stretch;
    gap: 15px;
    justify-content: center;

    & button {
      padding: 10px 20px;
    }
  }

  &_course {
    @include display(flex, column);
    font-weight: 400;
    margin-top: 25px;

    &_title {
      @include font(400, 14px);
      margin-bottom: 8px;
      color: $font-title;
    }

    &_checkbox {
      @include display(flex, row, flex-start, center);
      margin-bottom: 8px;
      color: $font-title;
      font-size: 14px;
    }
  }
}

.inputs_block {
  width: 100%;
  margin-bottom: 56px;

  & :nth-child(2) {
    margin-bottom: 16px;
  }
}

.restorePass {
  @include font(800, 14px);
  color: black;
  text-align: center;
  margin: 16px auto 0 auto;
  padding: 15px 0;
  font-family: 'Manrope', sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
  width: 240px;
  background: #ddd7fa;
  border-radius: 10px;
}

.mainCourse {
  @include position_t_l(absolute, 50%, 50%, 10);
  @include display(flex, column);
  width: 438px;
  background: #ffffff;
  font-family: $font-family-inter;
  margin: 0 auto;
  border-radius: 7px;
  transform: translate(-50%, -50%);

  &_container {
    padding: 36px 80px;
  }

  &_closed {
    //background: #f1f1f1;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 17px;
    right: 17px;
    border-radius: 5px;
    cursor: pointer;
    color: #ba75ff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #4d5766;
      transition: color 0.3s;
    }
  }

  &_title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #4d5766;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  &_input {
    margin-bottom: 16px;
  }
}

.classesContainer {
  @include position_t_l(absolute, 50%, 50%, 10);
  @include display(flex, column, center, center);
  padding: 32px;
  background: #ffffff;
  text-align: center;
  margin: 0 auto;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  font-family: $font-family-inter;
  // width: 512px;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    padding: 2%;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    padding: 2%;
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }

  &_closed {
    @include position_t_r(absolute, 20px, 20px);
    text-align: center;
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    border-radius: 7px;
    cursor: pointer;
    color: #e0dced;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      right: 10%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      right: 10%;
    }

    &:hover {
      color: #4d5766;
      transition: color 0.3s;
    }
  }

  &_title {
    font-size: 18px;
    color: $font-title;
  }

  &_type {
    margin: 27px 0 17px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      gap: 5%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      gap: 5%;
    }

    &_classes {
      @include display(flex, column, center, center);
      width: 100px;
      height: 110px;
      border: 2px solid #e0dced;
      border-radius: 7px;
      background: #f9fafb;
      color: #9ca3af;
      cursor: pointer;

      & svg {
        margin-bottom: 8px;

        path {
          fill: #9ca3af;
        }
      }
    }

    &_subs {
      @include font(400, 16px);
      width: 464px;
      // height: 60px;
      color: $font-title;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        width: 100%;
        margin-bottom: 2%;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        width: 100%;
        margin-bottom: 2%;
      }
    }

    &_btnBlock {
      @include display(flex, row, center, center);
      gap: 12px;
      margin-top: 20px;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        // padding-left: 25%;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        // padding-left: 25%;
      }

      & button {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        padding: 10px 0;
        @media only screen and (min-width: 320px) and (max-width: 375px) {
          padding: 17px;
        }
        @media only screen and (min-width: 375px) and (max-width: 480px) {
          padding: 17px;
        }
      }
    }
  }
}

.errors {
  color: #ff3c3c;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 8px;

  &_forgot {
    color: #ff3c3c;
    font-size: 12px;
    margin-left: 8px;
    font: bold;
  }
}

.isSubmitting {
  color: #ba75ff;
  font-size: 16px;
  margin-top: -8px;
  margin-left: 8px;

  &_forgot {
    color: #ff3c3c;
    font-size: 16px;
    margin-top: -8px;
    margin-left: 8px;
  }
}

.isSubmitting {
  color: #ba75ff;
  font-size: 16px;
  margin-top: -8px;
  margin-left: 8px;

  &_forgot {
    color: #ff3c3c;
    font-size: 16px;
    margin-top: -8px;
    margin-left: 8px;
  }
}

.isSubmitting {
  color: #ba75ff;
  font-size: 16px;
  margin-top: -8px;
  margin-left: 8px;

  &_forgot {
    color: #ff3c3c;
    font-size: 16px;
    margin-top: -8px;
    margin-left: 8px;
  }
}

.isSubmitting {
  color: #ba75ff;
  font-size: 16px;
  margin-top: -8px;
  margin-left: 8px;
}

.active {
  border: 2px solid #ba75ff;
  color: $font-color-rose;

  & svg {
    margin-bottom: 8px;

    path {
      stroke: $font-color-rose;
      fill: $font-color-rose;
    }
  }
}

.usually {
  &_header {
    @include display(flex, column, flex-start, center);
    margin-bottom: 15px;

    & svg {
      margin-bottom: 28px;
    }

    & span {
      font-size: 18px;
      color: $font-title;
    }
  }

  &_input {
    width: 100%;
    text-overflow: ellipsis;
    text-align: left;

    & div {
      margin-top: 8px;
    }
  }

  &_title {
    @include font(400, 14px);
    color: $font-title;
  }

  &_grade {
    @include display(flex, row, center, center);
    @include font(400, 12px);
    margin: 16px 0 30px 0;

    &_points {
      border: 1px solid #e5e7eb;
      width: 94px;
      height: 33px;
      display: flex;
      text-align: right;
      background: url('../../assets/img/createCourse/star.svg') 14px 6px no-repeat;
      padding-right: 2px;
    }

    & span {
      margin-left: 16px;
      color: $font-title;
    }
  }
}

.tasks {
  @include display(flex, column, center, center);
  margin-bottom: 23px;

  & svg {
    margin-bottom: 15px;
  }

  &_checkbox {
    @include display(flex, row, flex-start, flex-start);
    margin-left: 15px;

    &_desc {
      text-align: left;

      & span {
        @include font(400, 14px);
        color: $font-title;
      }

      & p {
        @include font(400, 14px, 21px);
        color: #949aa3;
      }
    }
  }

  &_credit {
    @include display(flex, row, flex-start, center);
    width: 90%;

    &_desc {
      @include font(400, 14px);
      color: $font-title;
      width: 140px;
      text-align: left;
    }

    &_select {
      @include display(flex, row, space-evenly);
      width: 100%;
    }
  }

  &_editor {
    text-align: left;
    margin-top: 15px;

    &_desc {
      font-size: 16px;
      color: #68717d;
    }
  }
}

.test {
  @include display(flex, column, flex-start, center);
  text-align: center;

  & svg {
    margin-bottom: 13px;
  }

  &_checkboxPack {
    margin-bottom: 32px;
  }

  &_checkbox {
    @include display(flex, row, flex-start, center);
    @include font(400, $fs12);
    width: 90%;
    text-align: left;
    color: $font-title;

    &_attempts {
      width: 50px;
      margin-left: 16px;
      padding: 6px 0 6px 16px;
      border: 1px solid #e5e7eb;
      outline: none;
      border-radius: 5px;
    }

    &_text {
      @include display(flex, column);
      margin-top: 11px;

      &_checked {
        @include font(400, $fs12);
        color: $font-color-rose;
      }

      &_desc {
        font-size: 10px;
        color: #868b94;
      }
    }
  }

  &_grade {
    width: 100%;
    text-align: left;
    margin-bottom: 32px;

    &_title {
      @include font(500, $fs12);
      letter-spacing: 0.04em;
    }

    &_radio {
      margin-top: 8px;
      margin-bottom: 16px;

      &_input {
        @include display(flex, row, flex-start, center);
        margin: 8px 0 0 26px;

        & span {
          @include font(400, $fs12);
          margin-left: 16px;
        }
      }
    }
  }
}

.webinar {
  @include display(flex, column, flex-start, center);
  text-align: center;
  margin-bottom: 23px;

  & svg {
    margin-bottom: 13px;
  }

  &_checkbox {
    @include display(flex, row, flex-start, flex-start);
    width: 90%;
    text-align: left;
    margin-top: 10px;

    &_text {
      @include display(flex, column);
      text-align: left;

      &_for {
        @include font(400, $fs14);
        color: $font-color-rose;
      }

      &_desc {
        @include font(400, $fs14);
        padding-top: 4px;
        color: #949aa3;
      }
    }
  }

  &_addReminder {
    @include font(400, $fs14);
    color: $font-color-rose;
    width: 90%;
    text-align: left;
    margin-left: 27px;
    cursor: pointer;
  }
}

.btnBlock {
  display: flex;
  align-items: stretch;
  gap: 20px;

  & button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 7px;

    &:first-child {
      color: #7b818e;
      font-weight: 500;
    }
  }
}

.navBtn {
  margin-bottom: 15px;

  & :nth-child(1) {
    margin-right: 15px;
  }

  &_btn {
    padding: 8px 15px;
    color: #b3b8c2;
    cursor: pointer;
    text-align: center;
  }

  &_active {
    border-radius: 7px;
    color: $font-color-rose;
    border: 1px solid $font-color-rose;
    background-color: #e0dced;
  }

  &_btn:hover {
    border: 1px solid #e1e0e0;
    border-radius: 7px;
  }
}

.module {
  &_title {
    @include font(500, 18px);
    color: $font-title;
    margin-bottom: 18px;
  }

  &_input {
    width: 280px;
    text-align: left;

    &_label {
      font-size: 14px;
      color: #a2a9b4;
    }
  }
}

.settings {
  &_header {
    @include display(flex, column, center, center);
    width: 100%;
    text-align: center;
    margin-bottom: 26px;

    & svg {
      margin-bottom: 16px;
    }
  }

  &_block {
    margin-top: 16px;

    &_input {
      text-align: left;
      margin-bottom: 20px;

      &_title {
        font-size: 14px;
        color: $font-title;
      }

      &_isPublished {
        color: $font-title;
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
      }

      div {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

.settings_list {
  list-style-type: none;
  @include display(flex, column);
}

.settings_title {
  user-select: none;
  @include font(500, 20px, 24px);
  text-align: center;
  font-style: normal;
  color: #4d5766;
}

.main_school {
  @include position_t_l(absolute, 50%, 50%, 10);
  @include display(flex, column);
  width: 558px;
  background: $color-white;
  font-family: 'Manrope', sans-serif;
  margin: 0 auto;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    width: 100%;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    width: 100%;
  }
  &_container {
    margin: 36px 31px 30px 31px;
  }

  &_closedModal {
    @include position_t_r(absolute, 17px, 16px);
    background: #f1f1f1;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0dced;

    &:hover {
      color: #4d5766;
      transition: color 0.3s;
    }
  }

  &_title {
    @include font(500, 18px, 22px);
    letter-spacing: 0.03em;
    color: #4d5766;
    text-align: center;
    font-size: 20px;
  }

  &_name {
    margin-top: 32px;

    & label {
      color: #4d5766;
      font-size: 16px;
      display: inline-block;
      margin-bottom: 12px;
    }

    &_input {
      padding: 2px 2px 2px 2px;
      width: 100%;
      height: 40px;
      border: 1px solid #e5e7eb;
      border-radius: 5px;
      text-overflow: ellipsis;
    }

    & input {
      border: none;
      outline: none;

      &::placeholder {
        color: #d4d7dd;
      }
    }
  }

  &_btn {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: stretch;
    gap: 15px;
    justify-content: center;

    & button {
      padding: 10px 20px;
    }
  }

  //&_course {
  //  @include display(flex, column);
  //  font-weight: 400;
  //  margin-top: 25px;
  //
  //  &_title {
  //    @include font(400, 14px);
  //    margin-bottom: 8px;
  //    color: $font-title;
  //  }
  //
  //  &_checkbox {
  //    @include display(flex, row, flex-start, center);
  //    margin-bottom: 8px;
  //    color: $font-title;
  //    font-size: 14px;
  //  }
  //}
}
