@import '../../../scss/variable.scss';
@import '../../../scss/mixin.scss';

.wrapper {
  background-color: #fff;
  margin-top: 20px;
  // padding: 30px 61px 30px 61px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $box-shadow;
  user-select: none;

  &_header {
    &_iconWrapper {
      @include display(flex, column, flex-start, center);
      &_iconRow {
        width: 50px;
        height: 9px;
        margin: 2px 0;
        padding: 2px 4px;
        border-radius: 22px;
        background-color: #6b7280;
        span {
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #fff;
        }
      }
    }
  }

  &_drop_down_menu {
    position: relative;
    margin-top: 10px;
    padding: 0px 61px 30px 61px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    animation: slideDown 0.2s ease-in forwards;
  }

  @keyframes slideDown {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
}

.settings_list {
  user-select: none;
  list-style-type: none;
}
