.date_picker__container {
  background-color: transparent;
  padding: 0 5px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}
.date_picker__title {
  font-size: 10px;
  text-align: center;
  color: #000000;
  margin: 0 0 20px 0;
}
.react-datepicker {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  background-color: transparent;
  font-size: 18px;
  border: 0 solid;
  width: 100%;
  padding: 0 5px;
}


.react-datepicker__header {
  background-color: transparent;
  border-bottom: 0 solid;
}

.date_picker__buttons {
  display: flex;
  flex-direction: column;
}

.full_width_button {
  width: 100%;
}

.full_width_button {
  width: 100%;
  margin-bottom: 10px;
}

.react-datepicker__current-month {
  margin-bottom: 25px;
}
.react-datepicker__day--selected,
.react-datepicker__day--range-start,
.react-datepicker__day--in-range {
  background-color: #357EEB;
}