@import '../../../../scss/mixin.scss';

.input_container {
  width: 100%;
  height: 54px;
  border: 1px solid #357EEB;
  border-radius: 10px;
  background-color: #FFFF;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;

  & input {
    width: 90%;
    outline: none;
    border: none;
    color: #808080;
    margin: 11px 0 11px 11px;
    @include font(500, 20px);

    &::placeholder {
      @include font(400, 14px, 17px);
      color: #808080;
    }
  }

  &_input {
    position: relative;
    z-index: 2;
  }

  //&_textFieldLabel {
  //  color: #BDBDBDBD;
  //  position: absolute;
  //  top: 16px;
  //  left: 16px;
  //  z-index: 0;
  //}

  &_image {
    @include position_t_r(absolute, 10px, -80px);
    width: 26px;
    height: 22px;
    cursor: pointer;
  }
}
