
.property_1 {
  height: 62px;
  min-width: 90%;
  padding: 0px;

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    min-width: 30%;
    height: 0.5rem;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    min-width: 35%;
    height: 0.5rem;
  }

  @media only screen and (min-width: 480px) and (max-width: 600px) {
    height: 0.5rem;
    margin-top: 0.5rem;
  }

  .sorting {
    background-color: #ffffff;
    height: 62px;
    width: 100%;
    filter: drop-shadow(0px 0px 8px rgba(0.19607843458652496, 0.2549019753932953, 0.5843137502670288, 0.30000001192092896));
    border-radius: 14px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media only screen and (min-width: 320px) and (max-width: 375px) {
      height: 2.5rem;
      width: 12rem;
  }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      height: 2.5rem;
      width: 14rem;
  }

    @media only screen and (min-width: 480px) and (max-width: 600px) {
       height: 2.5rem;
       width: 18rem;
  }

    .frame {
      height: 62px;
      width: calc(100% - 75px);
      align-self: flex-start;
      left: 48px;
      top: 0px;
      position: absolute;
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
      padding-top: 1.3rem;
      padding-bottom: 1rem;
        height: 2rem;
        left: 1rem;
  }

      @media only screen and (min-width: 480px) and (max-width: 600px) {
      padding-top: 1.3rem;
      padding-bottom: 1rem;
        height: 2rem;
        left: 1rem;
  }

      .search_icon {
           height: 30px;
        width: 30px;
        padding: 0px;
        border-style: hidden;
        outline: none;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
        height: 2rem;
        width: 1rem;
  }

      }
    }
  }
}
.search_field {
  border: none!important;
  border-style: hidden;
}