.editor {
  border: 1px solid #ebeef5;
  margin-bottom: 48px;
  max-width: 99%;
  width: 100%;
  border-radius: 10px;

  &_panel {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 19px 0 19px 16px;
    max-width: 100%;

    & button {
      // position: static;
      border: none;
      background: #ffffff;
      cursor: pointer;
      width: auto;
      padding: 4px 10px;

      &:hover {
        background: #f6f5f5;
        border-radius: 7px;
      }
    }
    &_button_active {
      background: #f6f5f5;
      border-radius: 7px;
    }
  }

  &_table {
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    height: 200px;
    padding: 30px 19px 30px 19px;
  }
}

.editor_panel ::after {
  content: '';
  border-bottom: 1px solid #ebeef5;
  position: absolute;
  top: 58px;
  left: 9px;
  width: 97%;
}

.media {
  min-width: 70px;
  max-width: 150px;
  max-height: 100px;
}
