@import 'src/scss/variable';
@import '../../scss/mixin.scss';

.header {
  @include position_t_l(fixed, 0, 0, 5);
  @include display(flex, row, space-between, center);
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 74px;
  background: #fefefe;
  box-shadow: $box-shadow;

  &_logotype {
    max-width: 57px;
    margin-left: 106px;
    border-radius: 8px;
    @media screen and (max-width: 1024px) {
      margin-left: 5px;
    }
  }

  &_block {
    @include display(flex, row, flex-start, center);

    &_user {
      &:hover {
        background-color: rgba(230, 230, 230, 0.5);
        border-radius: 7px;
      }

      @include display(flex, row, flex-start, center);
      margin-right: 15px;
      height: 60px;
      padding: 0 12px;
      @media screen and (max-width: 1024px) {
        padding: 0;
        margin-right: 10px;
      }
      @include font(500, 10px);

      &_avatar {
        flex-shrink: 0;
        margin-right: 10px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        border-radius: 8px;
       // -webkit-border-radius: 50%;
       // -moz-border-radius: 50%;
       // -ms-border-radius: 50%;
       //-o-border-radius: 50%;
      }

      &_avatar_div {
        background: #e0dced;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        border-radius: 50%;
      }

      &_avatar_div {
        background: #e0dced;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ba75ff;
        text-transform: uppercase;
      }

      &_userName {
        @include display(flex, column);
        font-size: 12px;

        &_status {
          margin-bottom: 4px;
        }

        &_name {
          color: #6b7280;
        }
      }
    }

    &_logOut {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(230, 230, 230, 0.5);
        border-radius: 7px;
      }

      cursor: pointer;
      margin-right: 26px;
      @media screen and (max-width: 1024px) {
        margin-right: 0;
      }
    }
  }
}

.notifications {
    height: 60px;
    display: flex;
    margin-right: 10px;
    padding: 0.375rem;
    color: #e4605e;
    align-items: center;
    border-radius: 0.5rem;

    &:hover {
      background-color: #ffe5e2;
    }

    @include font(500, 14px);  
}

.tariffPlan {
  padding: .375rem;
  padding-left: .75rem;
  padding-right: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: .5rem;
  color:#303030c6;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  height: 60px;


  &:hover {
    background-color: #f7eaff;
  }

  &_icon {
    margin-right: .375rem;
  }
}