@import '../../../scss/variable';
@import '../../../scss/mixin.scss';

.container {
  @include position_t_l(absolute, 50%, 50%, 10);
  @include display(flex, column, center, center);
  padding: 36px;
  background: $color-white;
  text-align: center;
  margin: 0 auto;
  border-radius: $bord-rad7;
  transform: translate(-50%, -50%);
  font-family: $font-family-inter;
  width: 580px;

  &_closed {
    @include position_t_r(absolute, 20px, 40px);
    text-align: center;
    width: 30px;
    height: 30px;
    background: #f1f1f1;
    border-radius: $bord-rad7;
    cursor: pointer;

    & svg {
      margin-top: 8.5px;
    }

    & svg :hover {
      stroke: #4d5766;
    }
  }

  &_header {
    @include display(flex, column, flex-start, center);
    margin-bottom: 36px;

    & svg {
      margin-bottom: 18px;
    }

    &_title {
      @include font(500, 22px);
      color: $font-title;
    }
  }

  &_navBlock {
    @include font(500, 18px);
    margin-bottom: 15px;

    & :not(:last-child) {
      margin-right: 15px;
    }

    &_btn {
      padding: 9px 15px;
      color: #b3b8c2;
      cursor: pointer;
      text-align: center;
    }

    &_active {
      border-radius: 7px;
      color: $font-title;
      border: none;
      background-color: #e5e7eb;
    }
  }
}
.addStudent {
  color: $font-title;
  width: 100%;

  &_select {
    margin: 0 auto;
    width: 474px;

    & :nth-child(1) {
      padding-bottom: 7px;
    }
  }

  &_student {
    @include display(flex, column);
    text-align: left;
    width: 474px;
    margin: 0 auto 48px auto;

    &_title {
      @include display(flex, row, space-between);
      font-size: 18px;
      margin-bottom: 8px;
    }
    &_btn_remove {
      color: #bb0e0e;
      background: none;
      border: none;
    }

    &_btn {
      margin: 8px 5px;
      text-align: left;
      color: $font-color-rose;
      font-size: 16px;
      border: none;
      background-color: #ffffff;

      & :nth-child(1) {
        margin-right: 24px;
        cursor: pointer;
      }

      & :nth-child(2) {
        cursor: pointer;
      }
    }
  }

  &_btnBlock {
    & :nth-child(1) {
      margin-bottom: 10px;
    }
  }
}
.addGroup {
  width: 100%;

  &_input {
    margin: 0 auto;
    width: 95%;
    text-align: left;

    & :nth-child(2) {
      margin-top: 10px;
    }

    & span {
      font-size: $fs12;
      color: #a2a9b4;
    }
  }

  &_btn {
    width: 100%;
    margin-top: 22px;

    & button {
      width: 96%;
      margin: 0 auto;
    }
  }
}
.groupSetting {

  &_input {
    text-align: left;
    margin: 32px 0 20px 0;
    padding: 5px;
  }

  &__delete_btn {
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed !important;
    }
  }

  &_checkboxBlock {
    & :not(:last-child) {
      margin-bottom: 19px;
    }

    &_checkbox {
      @include display(flex, row, flex-start);
      text-align: left;

      &_desc {
        @include display(flex, column);
        font-weight: 500;

        & :nth-child(1) {
          color: $font-title;
          font-size: $fs16;
          margin-bottom: 4px;
        }

        & :nth-child(2) {
          color: #a8afb9;
          font-size: $fs16;
        }
      }
    }
  }

  &_selectBlock {
    margin-top: 20px;

    &_select {
      text-align: left;

      & :nth-child(2) {
        margin-top: 4px;
      }

      & span {
        @include font(500, $fs16);
        color: $font-title;
      }
    }
  }

  &_btn {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &_access {
    text-align: right;
    font-weight: 500;

    &_about {
      @include display(flex, row, right, center);
      margin: 30px 0 40px 0;

      & :nth-child(1) {
        font-size: 16px;
        color: $font-title;
        margin-right: 24px;
      }

      &_setClassesDate {
        @include display(flex, row, flex-start, center);
        cursor: pointer;

        & :hover {
          font-size: 16.1px;
          color: #575b65;
        }

        & :nth-child(1) {
          color: #787e8b;
          margin-right: 22px;
        }

        & svg {
          margin-top: -2px;
          margin-right: -8px;
        }
      }
    }
  }
}
.textarea__field {
  border: 1px solid #d5d3d3;
  margin-top: 2px;
  border-radius: 7px;
  outline: none;
}
