@import '../../../scss/variable';
@import '../../../scss/mixin.scss';

.container {
  @include position_t_l(absolute, 50%, 50%, 10);
  @include display(flex, column);
  align-items: center;
  padding: 65px 84px;
  background: #ffffff;
  text-align: center;
  margin: 0 auto;
  border-radius: 34px;
  overflow: hidden;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  font-family: $font-family-inter;
  max-width: 661px;
  width: 90%;
  height: 80%;
  max-height: 965px;
  // position: relative;

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    width: 100%;
    padding: 2rem 1rem 0 1rem;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    width: 100%;
    padding: 2rem 1rem 0 1rem;
  }

  &_decoration_shadow {
    width: 385px;
    height: 385px;
    border-radius: 385px;
    background: #57b8ff;
    filter: blur(200px);
    width: 385px;
    height: 385px;
    position: absolute;
    top: -322px;
    z-index: 1;
  }
  &_closed {
    @include position_t_r(absolute, 20px, 20px);
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    & svg {
      margin-top: 8.5px;
    }

    & svg :hover {
      stroke: #4d5766;
    }
  }

  &_header {
    @include display(flex, row, flex-start, center);
    margin-bottom: 36px;
    gap: 15px;
    justify-content: center;
    position: relative;
    & svg {
      margin-bottom: 18px;
    }

    &_title {

      color: var(--Black, #332F36);

font-family: "SF Pro Text",sans-serif;


      @include font(700, 32px);

      &_btn {
        height: max-content;
        width: 474px;
        margin: 0 auto;
        // margin-bottom: 20px;

        @media only screen and (min-width: 320px) and (max-width: 375px) {
          width: 100%;
        }
        @media only screen and (min-width: 375px) and (max-width: 480px) {
          width: 100%;
        }

        &_add {
          width: 474px;
          @media only screen and (min-width: 320px) and (max-width: 375px) {
            width: 100%;
          }
          @media only screen and (min-width: 375px) and (max-width: 480px) {
            width: 100%;
          }
        }

        &_send {
          width: 474px;
          @media only screen and (min-width: 320px) and (max-width: 375px) {
            width: 100%;
            padding-bottom: 2%;
          }
          @media only screen and (min-width: 375px) and (max-width: 480px) {
            width: 100%;
            margin-bottom: 2%;
          }
        }
      }
    }
  }

  &_navBlock {
    @include font(500, 18px);
    margin-bottom: 15px;

    & :not(:last-child) {
      margin-right: 15px;
    }

    &_btn {
      padding: 9px 15px;
      color: #b3b8c2;
      cursor: pointer;
      text-align: center;
    }

    &_active {
      border-radius: 7px;
      color: $font-title;
      border: none;
      background-color: #e5e7eb;
    }
  }
}

// .container:hover {
//     scrollbar-color: #ba75ff #e0dced80;
// }

.addStudent {
  color: $font-title;
  width: 100%;

  &_select {
    margin: 0 auto;
    width: 474px;

    & :nth-child(1) {
      padding-bottom: 7px;
    }
  }

  &_student {
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      width: 100%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 100%;
    }
    @include display(flex, column);
    text-align: left;
    width: 474px;
    margin: 0 auto 48px auto;

    &_title {
      @include display(flex, row, space-between);
      font-size: 18px;
      margin-bottom: 8px;
    }
    &_btn_remove {
      color: #bb0e0e;
      background: none;
      border: none;
    }

    &_btn {
      margin: 8px 5px;
      text-align: left;
      color: $font-color-rose;
      font-size: 16px;
      border: none;
      background-color: #ffffff;

      & :nth-child(1) {
        margin-right: 24px;
        cursor: pointer;
      }

      & :nth-child(2) {
        cursor: pointer;
      }
    }
  }

  &_btnBlock {
    margin: 10px 0;
    & :nth-child(1) {
      margin-bottom: 10px;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        width: 100%;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}
.addGroup {
  width: 100%;

  &_input {
    margin: 0 auto;
    width: 95%;
    text-align: left;

    @media only screen and (min-width: 320px) and (max-width: 375px) {
      padding-bottom: 5%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      padding-bottom: 5%;
    }

    & :nth-child(2) {
      margin-top: 10px;
      // @media only screen and (min-width: 320px) and (max-width: 375px) {
      //   width: 100%;

      // }
      // @media only screen and (min-width: 375px) and (max-width: 480px) {
      //   width: 100%;

      // }
    }

    & span {
      font-size: $fs14;
      color: #a2a9b4;
    }

    &_check {
      display: flex;
      margin-top: 15px;
      margin-bottom: 15px;
      &_span {
        margin-left: 10px;
      }
    }
  }

  &_description {
    font-size: $fs12;
    color: #53565b;
  }
  // style={{marginLeft: 10, marginTop: "1%"}}
  &_btn {
    width: 100%;
    margin-top: 22px;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      padding-bottom: 5%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      padding-bottom: 5%;
    }

    & button {
      width: 96%;
      margin: 0 auto;
    }
  }
}
.groupSetting {
  &_input {
    text-align: left;
    margin: 32px 0 20px 0;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      width: 100%;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 100%;
    }
  }

  &__delete_btn {
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed !important;
    }
  }

  &_description {
    font-size: $fs12;
    color: #6e7073;
    text-align: left;
    letter-spacing: 0.04em;
  }

  &_checkboxBlock {
    & :not(:last-child) {
      margin-top: 10px;
      margin-bottom: 19px;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        margin: 2%;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        margin: 2%;
      }
    }

    &_checkbox {
      @include display(flex, row, flex-start);
      text-align: left;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        margin: 2%;
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        margin: 2%;
      }

      &_desc {
        @include display(flex, column);
        font-weight: 500;

        & :nth-child(1) {
          color: $font-title;
          font-size: $fs16;
          margin-bottom: 4px;
        }

        & :nth-child(2) {
          color: #a8afb9;
          font-size: $fs16;
        }
      }
    }
  }

  &_duration {
    margin-top: 20px;
    margin-left: 35px;
    text-align: left;

    &_limit {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      & span {
        font-size: $fs14;
        color: #bd9fc4;
      }
      & input {
        width: 100px;
        height: 25px;
        border-radius: 8px;
        background-color: #e7d7e5;
        margin-left: 30px;
        text-align: center;
      }
    }
  }

  &_courseAccess_header {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: space-between;
  }
  &_courseAccess_content {
    margin-bottom: 30px;

    &_desc {
      font-size: $fs14;
      color: #bd9fc4;
    }
    &_course {
      text-align: left;
      margin-top: 15px;

      &_name {
        @include font(600, 12px, 150%);
        color: #5a555b;
        margin-bottom: 8px;
      }
    }
  }

  &_selectBlock {
    margin-top: 20px;

    &_select {
      text-align: left;

      & :nth-child(2) {
        margin-top: 4px;
      }

      & span {
        @include font(500, $fs16);
        color: $font-title;
      }
    }
  }

  &_btn {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &_access {
    text-align: right;
    font-weight: 500;

    &_about {
      @include display(flex, row, right, center);
      margin: 30px 0 40px 0;

      & :nth-child(1) {
        font-size: 16px;
        color: $font-title;
        margin-right: 24px;
      }

      &_setClassesDate {
        @include display(flex, row, flex-start, center);
        cursor: pointer;

        & :hover {
          font-size: 16.1px;
          color: #575b65;
        }

        & :nth-child(1) {
          color: #787e8b;
          margin-right: 22px;
        }

        & svg {
          margin-top: -2px;
          margin-right: -8px;
        }
      }
    }
  }
}
.textarea__field {
  border: 1px solid #d5d3d3;
  margin-top: 2px;
  border-radius: 7px;
  outline: none;
}

.textField {
  font-family: $font-family-inter;
  font-size: 0.95em;
  opacity: 0.9;
  color: $font-title;
  margin-bottom: 7px;
  text-align: left;
  margin-left: 1%;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    margin: 2%;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    margin: 2%;
  }
}
.courseSelect {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1px;
  margin-bottom: 15px;
  margin-top: 15px;

  label {
    display: block;
  }

  select {
    width: 100%;
    padding: 8px;
    color: #666;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
  }
}
