@import '../../scss/variable';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px #d9d9d9;
  z-index: 10;

  &_menu {
    margin-top: 24px;
    cursor: pointer;
  }

  &_settings {
    margin-top: 210px;
    cursor: pointer;
  }

  &_setting_account {
    margin-top: 276px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 57px;
      height: 57px;
      text-align: center;

      &:hover {
        background: #e0dced;
        border-radius: 10px;

        & svg {
          & path {
            stroke: #ba75ff;
          }
        }
      }
    }

    & a:not(:first-child) {
      margin-top: 56px;
    }
  }
}

.isActive {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0dced;
  border-radius: 10px;
  text-align: center;
}

.mobileIsActive {
  & svg {
    & path {
      //fill: $font-color-rose;
      stroke: $font-color-rose;
    }
  }
}
