.previous {
  position: relative;
  width: 100%;
  height: 186px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: #e0dced;
  border-radius: 7px;
  margin-bottom: 25px;

  &_infoBlock {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 26px;
    left: 34px;

    &_avatar {
      width: 66px;
      height: 66px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 16px;
    }

    &_title {
      display: flex;
      flex-direction: column;

      &_description {
        color: #ba75ff;
        font-size: 14px;
        margin-bottom: 2px;
      }

      &_name {
        font-size: 20px;
        color: #bdbdbd;
        line-height: 24px;
      }

      &_about {
        font-size: 10px;
        color: #bdbdbd;
      }
    }
  }

  &_btn {
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
}
.input_change {
  border: none;
  outline: none;
  background: #e0dced;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.hide_input {
  opacity: 0;
  position: absolute;
}
.input_background_image {
  opacity: 0;
}
.label_input_background_image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 15px 15px;
  padding-top: 15px;
  width: 30%;
  display: block;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
