@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

.container {
  position: relative;
  top: 50px;
  left: 0;
}
.header {
  width: 291px;
  height: 228px;
  background-color: #ddd;
  border-radius: 7px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  position: relative;

  &__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 10, 27, 0.7);
    border-radius: 7px;
    z-index: 1;
  }
}
.back {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;

  &__title {
    margin-left: 5px;
    @include font(500, 12px, normal);
    color: #1D1D1D;
  }
}

.course {
  font-weight: 500;
  font-size: 12px;
  color: #BA75FF;
}

.name {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  color: #BDBDBD;
  margin-bottom: 6px;
}

.proccess {
  font-weight: 400;
  font-size: 10px;
  color: #F6FBFA;
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.descrip {
  margin-left: 16px;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.text {
  font-weight: 500;
  font-size: 10px;
  color: #BDBDBD;
}
.info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}