@import '../../../../../../../../../scss/variable.scss';
@import '../../../../../../../../../scss/mixin.scss';

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../../../../../../../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.header {
  @include display(flex, column, center);
  color: $color-text;
  font-family: 'SFPRORegular';
  text-align: left;

  &_container {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;
  }

  &_title {
    @include font(700, 18px, 21.48px);
  }

  &_subtitle {
    @include font(500, 14px, 16.71px);
    margin-top: 4px;
  }

  @media only screen and (min-width : 320px) and (max-width : 375px) {
    padding:5%;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    padding:5%;
  }

  &_testIconWrapper {
    @include display(flex, column, flex-start, center);
    &_iconRow {
      width: 50px;
      height: 9px;
      margin: 2px 0;
      padding: 2px 4px;
      border-radius: 22px;
      background-color: #6b7280;
      span {
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }

  @media only screen and (min-width : 320px) and (max-width : 375px) {
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }


  &_controlIconWrapper {
    @include display(flex, row, space-between, center);
    width: 250px;

    @media only screen and (min-width : 320px) and (max-width : 375px) {
      width: auto;
    }
    @media only screen and (min-width : 375px) and (max-width : 480px) {
      width: auto;
    }

    &_timer {
      position: relative;
      @include display(flex, row, flex-start, center);
      padding: 5px 8px;
      border-radius: 5px;
      background-color: #f3f4f6;
      input {
        position: relative;
        z-index: 100;
        margin: 0 0 0 7px;
        border: none;
        @include font(400, 12px, 18px);
        color: #929292;
        background-color: transparent;
        outline: none;
        &::-webkit-calendar-picker-indicator {
          width: 6px;
          opacity: 0;
          cursor: pointer;
        }
      }
      &_clearTimer {
        @include position_t_r(absolute, 4px, 10px, 5);
        cursor: pointer;
      }
      &_openList {
        @include position_t_r(absolute, 6px, 10px, 5);
        cursor: pointer;
      }
      svg {
        cursor: auto;
      }
    }
    &_togglerShowOption {
      cursor: pointer;
      svg {
        path {
          stroke: rgb(108, 104, 104);
        }
      }
      &:hover {
        svg {
          path {
            stroke: #357EEB;
          }
        }
      }
    }
    &_duplicate {
      cursor: pointer;
      &:hover {
        svg {
          path {
            fill: #357EEB;
          }
        }
      }
    }
    &_delete {
      cursor: pointer;
      &:hover {
        svg {
          path {
            fill: #ef4444;
          }
        }
      }
    }
    &_grab {
      cursor: grab;
    }
  }
}
.rotate_arrow {
  transform: rotate(180deg);
}

.avatar {
  background: linear-gradient(90deg, #3170E7 13.5%, #7A90F7 100%) !important;
  width: 34px !important;
  height: 34px !important;
}
