@import '../../scss/variable';
@import '../../scss/mixin.scss';

.dialog {
  @include display(flex, column, initial, initial);
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 64vh;
  height: 80vh;
  padding: 14px;
  overflow: hidden;

  
  border-radius: 24px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 8px 0px #3241954D;
  // background-color: $color-white;
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(90deg, #3170E7 13.5%, #7A90F7 100%) border-box;
}



// .dialog::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-90%, -90%);
//   width: 90%;
//   height: 90%;
//   background: $color-white;
//   filter: blur(280px);
//   z-index: -1;
// }

.noGradient {
  // background: $color-white;
}

.dialogOpen.noGradient::before {
  display: none;
}

.contentContainer {
  @include display(flex, column, space-between , center);
  width: 100%;
  height: 100%;
  background-color: $color-white;
}

.paneOpen {
  width: 35%;
  opacity: 1;
}

.topPane {
  @include display(flex, column, space-between , center);
  background-color: $color-white;
  border-radius: 20px;
  height: 12.7%;
  width: 100%;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  // border: 1px solid #357EEB;
  transition: 0.3s;
  // margin: 0;
}

.bottomPane {
  @include display(flex, column, space-between , center);
  width: 100%;
  height: 87.3%;
}

.centeredText {
  @include display(flex, column, center , center);
  font-size: 15px;
  height: 100%;

  @media only screen and (min-width : 1300px) and (max-width : 1400px) {
    font-size: 13px;
  }

  @media only screen and (min-width : 1200px) and (max-width : 1300px) {
    font-size: 11px;
  }

  @media only screen and (min-width : 1100px) and (max-width : 1200px) {
    font-size: 10px;
  }

  @media only screen and (min-width : 800px) and (max-width : 1100px) {
    font-size: 9px;
  }
}

.deleteChatBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.draggedOver {
  background-color: lightgray;
}

.chatListItem {
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  height: 10%;
  position: relative;
  color: #7c7575;
  align-items: center;
}

.chatListItem::after {
  content: '';
  position: absolute;
  bottom: 0;
  margin-left: 7px;
  width: 88%;
  background-color: #8a49b5;
  border-bottom: 1px solid #c08de2;

  @media only screen and (min-width : 1500px) and (max-width : 1700px) {
    width: 85%;
  }

  @media only screen and (min-width : 1200px) and (max-width : 1500px) {
    width: 82%;
  }

  @media only screen and (min-width : 1000px) and (max-width : 1200px) {
    margin-left: 5px;
    width: 80%;
  }

  @media only screen and (min-width : 700px) and (max-width : 1000px) {
    margin-left: 3px;
    width: 77%;
  }
}

.chatListItem:hover,
.activeChat {
  background-color: #e0e0e0;
}

.modalOverlay {
  box-shadow: 0px 0px 8px 0px #3241954D;
  position: fixed;
  border-radius: 24px;
  // top: 0;
  // left: 0;
  right: 90px;
  bottom: 20px;
  // width: 100%;
  // height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 10;
  // backdrop-filter: blur(15px);
  overflow-x: hidden;
}

// .modalOverlay::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   filter: blur(350px);
//   z-index: -1;
//   overflow-x: hidden;
// }

.dialog-enter {
  opacity: 0;
  transform: scale(0.9);
}

.chatGptButton {
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  position: fixed;
  z-index: 10;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 15px;
  background-color: #BA75FF;
  border-radius: 13px;
  cursor: pointer;
  transition: 0.3s background-color, 0.3s color;
}

.chatGptButton:hover {
  background-color: #8a49b5;
}

.chatGptButton:active {
  background-color: #4b0082;
  color: white;
}

.chatGptButton img {
  margin-top: 4px;
  width: 40px;
  height: 40px;
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.overAiText {
  @include display(flex, column, space-between , center);
  font-size: 24px;
  font-weight: 500;
  color: #332F36;
  z-index: 1;
}

// .backgroundImage {
//   position: absolute;
//   top: 50px;
//   left: 32%;
//   width: 66.5%;
//   height: 80%;
//   background-image: url('../../assets/img/mainPage/overIcon.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   z-index: 99999;
// }

.messageContainer {
  width: 100%;
  height: 100%;
  margin-top: 2.76vh;

  scrollbar-width: thin;
  scrollbar-color: #ccc white;
  padding-right: 1%;
  border: 1px solid #357EEB;
  border-radius: 18px;
  box-shadow: 0px 0px 8px 0px #3241954D;

  scrollbar-width: none;
  word-wrap: break-word;
  
  background-color: transparent;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &_user {
    font-size: 14px;
    display: flex;
    justify-content: right;
    text-align: right;
    margin-bottom: 20px;
    padding-bottom: 10px;

    &_question {
      color: #a761ee;
      background-color: white;
      display: flex;
      text-align: left;
      display: flex;
      border: 3px solid #c296ee;
      border-radius: 8px;
      margin-top: 10px;
      padding: 10px;
      font-weight: 400;
      font-size: 15px;
    }
  }

  &_bot {
    color: #BA75FF;
    font-size: 14px;
    font-weight: 400;

    &_answer {
      color: white;
      background-color: #cc9bfd;
      display: flex;
      text-align: left;
      display: flex;
      // border: 3px solid #b67fed;
      border-radius: 8px;
      margin-top: 10px;
      padding: 10px;
      font-size: 15px;
    }
  }
}

.message {
  text-align: left;
  padding-left: 3%;
  padding: 2%;
  // border: 1px solid #ccc;
  margin-bottom: 5px;
  // border-radius: 20px;
  white-space: pre-wrap;
  font-size: 14px;
}

.bot-response {
  overflow-wrap: break-word;
}

.inputContainer {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #858D9D;
  box-shadow: 0px 0px 8px 0px #3241954D;
  border-radius: 18px;
  margin-top: 2.76vh;
}

.inputContainer textarea {
  @include display(flex, column, center , center);
  flex: 1;
  padding: 14px 10px;
  border: 0;
  line-height: 26px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  height: 100%;
  z-index: 100000;

  @media only screen and (min-width: 460px) and (max-width: 1500px) {
    // height: 40px;
  }

 
}



.inputContainer input::placeholder {
  color: #7f4cbf;

}

.inputContainer button {
  @include display(flex, row, center , center);
  font-size: 16px;
  height: calc(100% - 20px);
  margin: 10px 14px;
  padding: 0 14px;
  border: 1px solid #357EEB;
  border-radius: 14px;
  background-color: $color-white;
  color:  #357EEB;
  cursor: pointer;
  outline: none;
  z-index: 100000;
  transition-duration: $trans-dur02;
}


.inputContainer button svg {
  width: auto;
  height: auto;
  margin-right: 4px;
  fill: $color-white;
}

.inputContainer button:hover {
  background: #357EEB;
  color: $color-white;

  svg{
    fill: #357EEB;
    path{
      stroke: $color-white;
    }
  }
}

.inputContainer button:active {
  background: #357EEB;

}


.chatgpt_close {
  outline: none;
  border: none;
  color: #cd58eb;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s color;
  z-index: 999;
  background: none;
}

.errorContainer {
  position: absolute;
  bottom: 75px;
  left: 53%;
  transform: translateX(-25%);
  padding: 10px;
  background-color: #ffcccc;
  color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.errorContainer.visible {
  opacity: 1 !important;
  z-index: 10000000;
}

.errorText {
  font-size: 14px;
}

.loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
  padding: 15px;
  z-index: 100000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #333;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.createChatButton {
  background-color: #BA75FF;
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 15px 20px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 100%;
}

.createChatButton:hover {
  background-color: #8a49b5;
}

.createChatButton:active {
  background-color: #4b0082;
  color: white;
}

.createChatButtonModal {
  background-color: #BA75FF;
  color: rgba(255, 255, 255, 1);
  border: none;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: 100%;
  height: 9%;
  font-size: 14px;

  @media only screen and (min-width : 375px) and (max-width : 1200px) {
    font-size: 11px;
    height: 30px;
  }
}

.createChatButtonModal:hover {
  background-color: #9b48ed;
}

.createChatButtonModal:active {
  background-color: #430073;
  color: white;
}


.welcomeMessage {
  text-align: center;
  color: #BA75FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.createChatButton {
  width: 40%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 13px;
}

.contentContainer svg {
  width: 58%;
  height: 60%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderChangeBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 2px 0;
}

.orderChangeBtn img {
  width: 20px;
  height: 15px;
}