@import '../../scss/variable';
@import '../../scss/mixin.scss';

.dialog {
  @include display(flex, column, initial, initial);
  position: relative;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 64vh;
  height: 80vh;
  padding: 14px*$ai-window-ratio;
  overflow: hidden;


  border-radius: 24px*$ai-window-ratio;
  border: 1px solid transparent;
  box-shadow: 0px 0px 8px 0px #3241954D;
  // background-color: $color-white;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #3170E7 13.5%, #7A90F7 100%) border-box;
}



// .dialog::before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-90%, -90%);
//   width: 90%;
//   height: 90%;
//   background: $color-white;
//   filter: blur(280px);
//   z-index: -1;
// }

.noGradient {
  // background: $color-white;
}

.dialogOpen.noGradient::before {
  display: none;
}

.contentContainer {
  @include display(flex, column, space-between, center);
  width: 100%;
  height: 100%;
  background-color: $color-white;
}

.paneOpen {
  width: 35%;
  opacity: 1;
}

.topPane {
  @include display(flex, column, space-between, stroke);
  background-color: $color-white;
  border-radius: 20px*$ai-window-ratio;
  height: 12.7%;
  width: 100%;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  // border: 1px solid #357EEB;
  transition: 0.3s;
  // margin: 0;
}

.bottomPane {
  @include display(flex, column, space-between, center);
  width: 100%;
  height: 87.3%;
  flex-grow: 1;
}

.centeredText {
  @include display(flex, column, center, center);
  font-size: 14px*$ai-window-ratio;
  line-height: 18px*$ai-window-ratio;
  margin-right: 8px*$ai-window-ratio;

  @media only screen and (min-width : 1300px) and (max-width : 1400px) {
    font-size: 13px;
  }

  @media only screen and (min-width : 1200px) and (max-width : 1300px) {
    font-size: 11px;
  }

  @media only screen and (min-width : 1100px) and (max-width : 1200px) {
    font-size: 10px;
  }

  @media only screen and (min-width : 800px) and (max-width : 1100px) {
    font-size: 9px;
  }
}

.listOfChatSection {
  @include display(flex, row, initial, initial);
  width: 100%;
}

.listOfChatContainer {
  @include display(flex, row, initial, initial);
  width: 100%;
  gap: 4px*$ai-window-ratio;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  div {
    scroll-snap-align: start
  }
}


.createChatButton {}

.createChatButton:hover {}

.createChatButton:active {}

.createChatButtonModal {
  @include display(flex, column, center, center);
  border: none;
  height: 32px*$ai-window-ratio;
  width: 32px*$ai-window-ratio;
  min-width: 32px*$ai-window-ratio;
  border-radius: 14px*$ai-window-ratio;
  font-size: 14px*$ai-window-ratio;
  background-color: #F5F5F5;
  color: #858D9D;
  margin-right: 16px*$ai-window-ratio;
  transition-duration: $trans-dur02;
}

.createChatButtonModal:hover {
  filter: brightness(0.9);
}

.createChatButtonModal:active {
  filter: brightness(0.8);
}




.createChatButton {
  width: 40%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 13px;
}

.welcomeMessage {
  text-align: center;
  color: #BA75FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.deleteChatBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.draggedOver {
  background-color: lightgray;
}

.chatListItem {
  position: relative;
  @include display(flex, row, space-between, center);
  border: none;
  height: 32px*$ai-window-ratio;
  border-radius: 14px*$ai-window-ratio;
  font-size: 14px*$ai-window-ratio;
  background-color: #F5F5F5;
  color: #858D9D;
  font-weight: 500;
  padding: 0 8px*$ai-window-ratio;
  transition-duration: $trans-dur02;


  &_Circle {
    background-color: $color-blue;
    min-width: 18px*$ai-window-ratio;
    height: 18px*$ai-window-ratio;
    border-radius: 9px*$ai-window-ratio;
    margin-right: 8px*$ai-window-ratio;
  }

  span {
    width: 100%;
    flex-grow: 1;
  }
}

// .chatListItem::after {
//   content: '';


//   @media only screen and (min-width : 1500px) and (max-width : 1700px) {
//     width: 85%;
//   }

//   @media only screen and (min-width : 1200px) and (max-width : 1500px) {
//     width: 82%;
//   }

//   @media only screen and (min-width : 1000px) and (max-width : 1200px) {
//     margin-left: 5px;
//     width: 80%;
//   }

//   @media only screen and (min-width : 700px) and (max-width : 1000px) {
//     margin-left: 3px;
//     width: 77%;
//   }
// }

.chatMessageHistoryButton {
  @include display(flex, row, center, center);
  min-height: 32px*$ai-window-ratio;
  min-width: 32px*$ai-window-ratio;
  align-self: flex-end;
  height: 32px*$ai-window-ratio;
  width: 32px*$ai-window-ratio;
  border: none;
  border-radius: 16px*$ai-window-ratio;
  background-color: #F5F5F5;
  margin-left: 16px*$ai-window-ratio;
  transition-duration: $trans-dur02;

  svg {
    transform: rotate(180deg);
    height: 14px*$ai-window-ratio !important;
    width: 14px*$ai-window-ratio !important;
  }
}

.chatListItem:hover,
.chatMessageHistoryButton:hover,
.activeChat {
  filter: brightness(0.9);
  cursor: pointer;
}

.chatListItem:active,
.chatMessageHistoryButton:active {
  filter: brightness(0.8);
}



.chatIndicatorSection {
  @include display(flex, row, space-between, center);

  &Left {
    @include display(flex, row, space-between, center);

    p {
      font-size: 16px*$ai-window-ratio;
      margin: auto 0 auto 16px*$ai-window-ratio;
      color: #332F36;
    }

    .chatIndicatorIcon {
      @include display(flex, row, center, center);
      position: relative;
      min-height: 32px*$ai-window-ratio;
      min-width: 32px*$ai-window-ratio;
      height: 32px*$ai-window-ratio;
      width: 32px*$ai-window-ratio;
      max-height: 32px*$ai-window-ratio;
      max-width: 32px*$ai-window-ratio;
      border-radius: 16px*$ai-window-ratio;
      border: 2px solid var(--grey, #808080);

      svg {

        position: relative;
        margin: auto;
        left: -1px;
        width: 100%;
        height: 16px*$ai-window-ratio !important;
      }

      .chatIndicator {
        position: absolute;
        height: 8px*$ai-window-ratio;
        width: 8px*$ai-window-ratio;
        border-radius: 4px*$ai-window-ratio;
        background-color: #4CC700;
        right: -1px;
        bottom: -1px;
      }
    }
  }
}



.modalOverlay {
  box-shadow: 0px 0px 8px 0px #3241954D;
  position: fixed;
  border-radius: 24px*$ai-window-ratio;
  // top: 0;
  // left: 0;
  right: 90px;
  bottom: 20px;
  // width: 100%;
  // height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 10;
  // backdrop-filter: blur(15px);
  overflow-x: hidden;
}

// .modalOverlay::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   filter: blur(350px);
//   z-index: -1;
//   overflow-x: hidden;
// }

.dialog-enter {
  opacity: 0;
  transform: scale(0.9);
}

.chatGptButton {
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  position: fixed;
  z-index: 10;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 15px;
  background-color: transparent;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s background-color, 0.3s color;

  img {
    width: 100%;
    height: 100%;
    transition-duration: $trans-dur02;
  }

  &_Pushed {
    filter: brightness(0.85);
    color: red;
  }
}



.chatGptButton:hover {
  img {
    filter: brightness(0.85);
  }
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.overAiText {
  @include display(flex, column, space-between, center);
  font-size: 24px;
  font-weight: 500;
  color: #332F36;
  z-index: 1;
}

.messageContainer_bot_wrapper {
  @include display(flex, row, center, start);
  justify-self: start;
  gap: 8px*$ai-window-ratio;
}

.chatIndicatorContainer {

  div {
    @include display(flex, row, center, center);
    position: relative;
    width: 24px*$ai-window-ratio;
    height: 24px*$ai-window-ratio;
    border-radius: 12px*$ai-window-ratio;
    border: 1px solid var(--grey, #808080);

    div {
      border: none;
      position: absolute;
      height: 8px*$ai-window-ratio;
      width: 8px*$ai-window-ratio;
      border-radius: 4px*$ai-window-ratio;
      background-color: #268750;
      right: -1px;
      bottom: -1px;
    }

    svg {
      position: absolute;
      left: 2px*$ai-window-ratio;
      top: 3px*$ai-window-ratio;
      width: 24px*$ai-window-ratio;
      height: 24px*$ai-window-ratio;

      // margin: 2px;
      path {
        // width: auto !important;
        // height: auto !important;
      }
    }
  }

}

.messageContainer {
  width: 100%;
  height: 100%;
  margin-top: 2.76vh;
  scrollbar-width: thin;
  scrollbar-color: #ccc white;
  padding-right: 1%;
  border: 1px solid #357EEB;
  border-radius: 18px*$ai-window-ratio;
  box-shadow: 0px 0px 8px 0px #3241954D;

  scrollbar-width: none;
  word-wrap: break-word;

  background-color: transparent;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &_user {
    display: flex;
    justify-content: right;
    text-align: right;
    margin-bottom: 20px;
    padding-bottom: 10px;


    span {
      b {
        color: #667085;
        font-weight: 400;
        font-size: 12px;
      }

      div {
        text-align: center;
      }
    }

    &_question {
      color: #332F36;
      background-color: transparent;
      @include display(flex, column, initial, initial);
      border: 1px solid #E3E3E3;
      border-radius: 16px*$ai-window-ratio;
      margin-top: 8px*$ai-window-ratio;
      padding: 14px 22px;
      font-weight: 400;
      font-size: 16px;
    }
  }

  &_bot {
    @include display(flex, column, initial, initial);
    color: #332F36;
    font-size: 14px;
    font-weight: 400;


    p {
      line-height: 24px*$ai-window-ratio;
      color: #667085;
      font-weight: 400;
      font-size: 12px;
    }

    &_answer {
      @include display(flex, column, initial, initial);
      color: #332F36;
      flex-grow: 1;
      background-color: transparent;
      border: 1px solid #E3E3E3;
      border-radius: 16px*$ai-window-ratio;
      padding: 14px 22px;
      font-size: 16px;
      margin-top: 8px*$ai-window-ratio;
    }
  }
}

.message {
  text-align: left;
  padding-left: 3%;
  padding: 2%;
  // border: 1px solid #ccc;
  margin-bottom: 5px;
  // border-radius: 20px;
  white-space: pre-wrap;
  font-size: 14px;
}

.bot-response {
  overflow-wrap: break-word;
}

.inputContainer {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #858D9D;
  box-shadow: 0px 0px 8px 0px #3241954D;
  border-radius: 18px*$ai-window-ratio;
  margin-top: 2.76vh;
}

.inputContainer textarea {
  @include display(flex, column, center, center);
  flex: 1;
  padding: 14px 10px;
  border: 0;
  line-height: 26px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  height: 100%;
  z-index: 100000;

  @media only screen and (min-width: 460px) and (max-width: 1500px) {
    // height: 40px;
  }


}



.inputContainer input::placeholder {
  color: #7f4cbf;

}

.inputContainer button {
  @include display(flex, row, center, center);
  font-size: 16px;
  height: calc(100% - 20px);
  margin: 10px*$ai-window-ratio 14px*$ai-window-ratio;
  padding: 0 14px*$ai-window-ratio;
  border: 1px solid #357EEB;
  border-radius: 14px*$ai-window-ratio;
  background-color: $color-white;
  color: #357EEB;
  cursor: pointer;
  outline: none;
  z-index: 100000;
  transition-duration: $trans-dur02;
}


.inputContainer button svg {
  width: auto;
  height: auto;
  margin-right: 4px;
  fill: $color-white;
}

.inputContainer button:hover {
  background: #357EEB;
  color: $color-white;

  svg {
    fill: #357EEB;

    path {
      stroke: $color-white;
    }
  }
}

.inputContainer button:active {
  background: #357EEB;

}

.errorContainer {
  position: absolute;
  bottom: 75px;
  left: 53%;
  transform: translateX(-25%);
  padding: 10px;
  background-color: #ffcccc;
  color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.errorContainer.visible {
  opacity: 1 !important;
  z-index: 10000000;
}

.errorText {
  font-size: 14px;
}

.loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
  padding: 15px;
  z-index: 100000;
  width: 100%;
  height: 100%;
  margin-top: 2.76vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #333;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.contentContainer svg {
  width: 58%;
  height: 60%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderChangeBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 2px 0;
}

.orderChangeBtn img {
  width: 20px;
  height: 15px;
}