@import '../../../../scss/mixin.scss';

.logoBlock {
  &_title {
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
  }

  &_desc {
    display: block;
    @include font (400, 10px);
    letter-spacing: 0.01em;
    margin-bottom: 16px;
  }

  &_information {
    position: relative;
    @include display (flex);
    margin-bottom: 26px;

    &_fileInput {
      @include position_t_l (absolute, 0, 0, 2);
      width: 208px;
      height: 60px;
      opacity: 0;
      cursor: pointer;
    }

    & img {
      width: 208px;
      height: 60px;
      margin-right: 24px;
    }

    &_requirements {
      font-size: 10px;

      &_title {
        margin-bottom: 8px;
      }

      & p {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}