@import '../../scss/variable';
@import '../../scss/mixin';

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../assets/fonts/SFProText/SFProText-Regular.ttf) format('opentype');
}
h1 {
  font-family: 'SFPRORegular';
}

p {
  font-family: 'SFPRORegular';
}

.wrapper {
  @media only screen and (min-width: 1260px){
    width: 100%;
    max-width: 1260px;
    height: max-content;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 7.5rem;
  }

  @media screen and (max-width: 1360px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 6rem;
  }

  @media only screen and (min-width: 320px) and (max-width: 1260px){
    width: 100%;
    max-width: 160vw;
    height: max-content;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 7.5rem;
  }


  &_img {
    @media only screen and (min-width: 1260px){
      width: 100%;
      max-width: 1260px;
      display: flex;
      padding-top: 11px;
      padding-bottom: 5px;
    }

    @media only screen and (min-width: 320px) and (max-width: 1260px){
      width: 100%;
      max-width: 90vw;
      display: flex;
      padding-top: 11px;
      padding-bottom: 5px;
    }


    img {
      @media only screen and (min-width: 320px) and (max-width: 1260px){
        width: 15vw;
      }
    }
  }

  &_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1080px;
    height: 100%;
    gap: 1rem;
    flex-wrap: wrap;

    @media only screen and (min-width: 320px) and (max-width: 1260px){
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 90vw;
      height: 100%;
      gap: 1rem;
      flex-wrap: wrap;
    }

    h1 {
      font-weight: 600;
      font-size: 20px;
      line-height: 23.87px;
      color: #324195;

      @media only screen and (min-width: 320px) and (max-width: 1260px){
        font-weight: 600;
        font-size: 1.7vw;
        line-height: 18.87px;
        color: #324195;
        }
    }

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 19.09px;
      color: #357eeb;

      @media only screen and (min-width: 320px) and (max-width: 1260px){
        font-weight: 600;
        font-size: 1.5vw;
        line-height: 18.09px;
        color: #357eeb;
      }
    }

    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 19.09px;
      color: #357eeb;

      @media only screen and (min-width: 320px) and (max-width: 1260px){
        font-weight: 600;
        font-size: 1.5vw;
        line-height: 18.09px;
        color: #357eeb;
      }
    }

    &_contact {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media only screen and (min-width: 320px) and (max-width: 1260px){
        display: flex;
        flex-direction: column;
        gap: 1vw;
      }

      &_pack {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        @media only screen and (min-width: 320px) and (max-width: 1260px){
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1vw;
        }


        img{
          @media only screen and (min-width: 320px) and (max-width: 1260px){
            width: 2vw;
            }

        }
      }
    }

    &_directions {
      display: flex;
      flex-direction: column;
      gap: 10px;


      @media only screen and (min-width: 320px) and (max-width: 1260px){
        display: flex;
        flex-direction: column;
        gap: 1vw;
      }

      &_link {
        font-family: 'SFPROSemiBold';
        font-weight: 600;
        font-size: 16px;
        line-height: 19.09px;
        color: #357eeb;
      }
    }

    &_networks {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media only screen and (min-width: 320px) and (max-width: 1260px){
        display: flex;
        flex-direction: column;
        gap: 1vw;
      }
    }

    &_users {
      width: 233px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media only screen and (min-width: 320px) and (max-width: 1260px){
        display: flex;
        width: 30vw;
        flex-direction: column;
        gap: 1vw;
      }
    }
  }
}
