@import '../../scss/variable';
@import '../../scss/mixin';

.wrapper {
  @include display(flex, column, space-between, center);
  padding: 40px 40px 40px 120px;
  max-width: 100%;
  background-color: transparent;
  text-align: center;
  &_linksBlock {
    @include display(flex, row, space-between, center);
    margin-top: 40px;
    gap: 10px;
    &_link {
      @include font(500, 10px, 12px);
      color: #6b7280;
    }
  }
  &_appName {
    margin: 40px 0 10px 0;
    @include font(800, 33px, 40px);
    color: #d7d7d7;
  }
  &_social {
    @include font(500, 14px, 17px);
    color: #d7d7d7;
  }
}
