@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../../../../../../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.wrapper {
  position: relative;
  width: 1040px;
  font-family: 'SFPRORegular';

  h2 {
    text-align: left;
    padding: 2rem 0 1rem;
    color: $color-blue;
    @include font(700, 28px, 33.41px);
    margin-bottom: 2rem;
  }
}
