@import '../../../../scss/variable';
@import '../../../../scss/mixin.scss';


.skeleton {
  position: absolute;
  left: 132px;
  top: 215px;
}

.course {
  // max-width: 1800px;
  grid-auto-flow: row;
  margin: 0 auto;
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(242px, 242px));
  grid-gap: 3% 5%;
  padding-bottom: 50px;
  justify-content: start;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;

  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
  }

  

  &_addCourse {
    width: 100%;
    height: 100%;
    background: url('../../../../assets/img/createCourse/addCourse.svg') center center no-repeat;
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      min-height: 385px;
      border-radius: 10px;
      border: none;

      
      &:hover {
        border: 3px #ba75ff solid;
         
      }
  
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      min-height: 385px;
      border-radius: 10px;
      border: none;


      &:hover {
        border: 3px #ba75ff solid;
         
      }
      
    }

    @media only screen and (min-width: 481px) and (max-width: 1024px) {
      min-height: 385px;
      border-radius: 10px;
      border: none;


      &:hover {
        border: 3px #ba75ff solid;
         
      }
      
    }

    & span {
      @include position_b_l(absolute, 132px, 64px);
      color: #e0dced;
      font-size: 17px;

      @media only screen and (min-width: 320px) and (max-width: 375px) {
        @include position_b_l(absolute, 0px, 0%);
    
      }
      @media only screen and (min-width: 375px) and (max-width: 480px) {
        @include position_b_l(absolute, 140px, 35%);
      }

      @media only screen and (min-width: 481px) and (max-width: 1024px) {
        @include position_b_l(absolute, 140px, 27%);
      }
    }
  }

  &_all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_card {
    border-radius: 10px;
    width: auto;
    //height: 376px;
    //height: fit-content;
    //max-height: fit-content;
    box-shadow: $box-shadow;
    background: #ffffff;
    border: none;
    // transition: 0.4s ease-in-out;
    // transform: scale(0.9);
    padding-bottom: 10px;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      width: 100%;
      margin-bottom: 5%;
      padding-bottom: 2%;
  
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      width: 100%;
      margin-bottom: 5%;
      padding-bottom: 2%;
    }

    &:hover {
      border: 3px #ba75ff solid;
       
    }

    &_img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 146px;
      background: #e0dced;

      img {
        object-fit: cover;
        @media only screen and (min-width: 320px) and (max-width: 375px) {
          object-fit: contain;
        }
        @media only screen and (min-width: 375px) and (max-width: 480px) {
          object-fit: contain;
        }
        
      }
    }

    &_progressBar {
      width: 100%;
      height: 5px;
      background-color: #f3f4f6;

      &_line {
        width: 13%;
        height: 100%;
        background-color: #ba75ff;
      }
    }

    &_about {
      //height: 198px;
      min-height: fit-content;
      text-align: center;
      padding: 16px 23px;
      background: #ffffff;

      &_desc {
        display: block;
        height: 80px;
        box-sizing: border-box;
        font-size: 11px;
        color: #a2a9b4;

        &_admin {
          display: block;
          height: 55px;
          box-sizing: border-box;
          font-size: 11px;
          color: #a2a9b4;
        }
      }

      &_progressWrapper {
        @include display(flex, row, flex-start, center);

        img {
          width: 15px;
          height: 15px;
          margin-right: 9px;
        }

        &_title {
          font-size: 11px;
          color: #ba75ff;
        }
      }
    }

    &_duration {
      height: 50px;
      &_limit {
        font-size: 11px;
        color: #ba75ff;
        margin-bottom: 5px;
      }
      &_remaining {
        font-size: 10px;
        color: rgba(192, 185, 196, 0.95);

        &_expired {
          font-size: 10px;
          color: rgba(224, 24, 24, 0.67);
        }
      }
    }

    &_status {
      &_show {
        @include display(flex, row, flex-start, center);
        text-align: center;

        &_public {
          color: #ba75ff;
          @include font(500, 11px);
          margin-left: 8.5px;
        }

        &_hide {
          color: #e0dced;
          @include font(500, 11px);
          margin-left: 8.5px;
        }
      }
    }

    & h5 {
      margin: 16px 0;
      color: $font-title;
      font-size: 12px;
    }
  }
}

.btn {
  align-self: flex-end;
  width: 194px;
  height: 33px;
  background-color: #ddbbff;
  color: white;
  @include font(500, 14px);
  padding: 7px;
  margin-top: 10px;
  text-align: center;
  border: none;
  @media only screen and (min-width : 320px) and (max-width : 375px) {
    margin-top: 0;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    margin-top: 0;
  }

  &:hover {
      color: #ba75ff;
      background-color: #ffffff;
  }

  &:disabled {
      color: #f9f5fd;
      background-color: #e8e6e6;
  }

  &_admin{
    align-self: flex-end;
    width: 194px;
    height: 33px;
    background-color: #ddbbff;
    color: white;
    @include font(500, 14px);
    padding: 7px;
    margin-top: 10px;
    text-align: center;
    border: none;
    @media only screen and (min-width : 320px) and (max-width : 375px) {
      // margin-top: 0;
    }
    @media only screen and (min-width : 375px) and (max-width : 480px) {
      // margin-top: 0;
    }

    &:hover {
        color: #ba75ff;
        background-color: #ffffff;
    }
  }
}

.no_image_found {
  width: 100%;
  height: 100%;
  background-color: rgba(210, 199, 236, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;

  span {
    color: white;
    font-size: 16px;
    opacity: 0.7;
    font-weight: bold;
  }
}