@import '../../../../scss/variable';

.course {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;

  &_addCourse {
    width: 100%;
    height: 100%;
    background: url('../../../../assets/img/createCourse/addCourse.svg') center center no-repeat;
    text-align: center;
    position: relative;
    cursor: pointer;

    & span {
      color: #e0dced;
      font-size: 17px;
      position: absolute;
      left: 64px;
      bottom: 132px;
    }
  }

  &_card {
    border-radius: 10px;
    width: 242px;
    height: 376px;

    box-shadow: $box-shadow;
    background: #ffffff;

    &_img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 146px;
      background: #e0dced;
      img {
        object-fit: cover;
      }
    }

    &_about {
      height: 198px;
      padding: 16px 23px;
      background: #ffffff;

      &_desc {
        display: block;
        height: 80px;
        box-sizing: border-box;
        font-size: 11px;
        color: #a2a9b4;
      }
    }

    &_status {
      &_show {
        text-align: center;
        display: flex;
        align-items: center;

        &_public {
          color: #ba75ff;
          font-weight: 500;
          font-size: 11px;
          margin-left: 8.5px;
        }

        &_hide {
          color: #e0dced;
          font-weight: 500;
          font-size: 11px;
          margin-left: 8.5px;
        }
      }
    }

    & h5 {
      margin: 16px 0;
      color: $font-title;
      font-size: 12px;
    }
  }
}

.btn {
  align-self: flex-end;
  width: 194px;
  height: 33px;
  background-color: #e0dced;
  color: #ba75ff;
  font-weight: 500;
  font-size: 11px;
  margin-top: 18px;
  text-align: center;
  border: none;
}
