@import 'scss/mixin.scss';
@import 'scss/variable.scss';

.wrapper {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgb(147, 147, 147);
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 170px 40px 40px;
  grid-gap: 15px;
  //@include display(flex, column, center, center);
  //gap: 5rem;
  //padding: 2rem;
  margin-bottom: 20px;
  position: relative;

  button {
    padding: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #ff3d32;
    visibility: hidden; // По умолчанию кнопки невидимы
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
  }

  &:hover button {
    visibility: visible; // При наведении контейнер становится видимым
    opacity: 1;
  }

  button:hover {
    color: red;
    background: rgba(248, 90, 90, 0.2);
    border-radius: 5px;
  }

  &_imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background: rgba(248, 229, 255, 0.68);
      border: none;
    }

    &_imageInput {
      position: absolute;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      opacity: 0;
    }
  }

  &_title {
    width: 100%;
    display: flex;
    justify-content: center;

    textarea {
      width: 90%;
      color: #ba75ff;
      text-align: center;
      font-weight: bolder;
      border: none;
      outline: none;
      font-family: 'Inter', sans-serif;
      resize: none;
      font-size: 20px;
    }
    textarea:hover {
      background: rgba(248, 229, 255, 0.68);
    }
  }

  &_description {
    width: 100%;
    display: flex;
    justify-content: center;

    textarea {
      width: 90%;
      color: #34495e;
      text-align: center;
      border: none;
      outline: none;
      font-family: 'Inter', sans-serif;
      resize: none;
      font-size: 17px;
    }
    textarea:hover {
      background: rgba(248, 229, 255, 0.68);
    }
  }
}