@use '@/scss/mixin.scss' as *;
@use '@/scss/variable.scss' as *;

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../../../../../../../assets/fonts/SFProText/SFProText-Regular.ttf) format('opentype');
}

.wrapper {
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px #3241954d;
  background-color: rgba(53, 126, 235, 0.3);
  backdrop-filter: blur(23px);
  // display: grid;display
  // grid-template-rows: 170px 40px 40px;grid-template-rows
  // grid-gap: 15px;grid-gap
  //@include display(flex, column, center, center);
  //gap: 5rem;
  //padding: 2rem;
  // margin-bottom: 20px;margin-bottom
  position: relative;

  button {
    padding: 3px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #808080;
    visibility: hidden; // По умолчанию кнопки невидимы
    opacity: 0;
    transition:
      visibility 0s,
      opacity 0.3s ease-in-out;
  }

  &:hover button {
    visibility: visible; // При наведении контейнер становится видимым
    opacity: 1;
  }

  button:hover {
    color: #808080;
    background: rgba(207, 226, 255, 0.12);
    border-radius: 5px;
  }

  &_imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 204px;
    left: 22px;

    img {
      width: 170px;
      height: 170px;
      object-fit: contain;
      // border-radius: 50%;
      // background: rgba(207, 226, 255, 0.12);
      border: none;
    }

    &_error {
      z-index: 5;
      position: absolute;
      bottom: -20px;
      font-size: 15px;
      padding: 5px;
      border-radius: 10px;
      color: rgb(224, 24, 24);
      background: rgba(224, 24, 24, 0.3);
      margin: 5px 5px 0 5px;
      text-align: center;
    }
  }

  &_title {
    // width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 47px;
    top: 50px;

    textarea {
      // padding: 5px;
      // width: 90%;
      color: $color-darkblue;
      @include font(700, 30px, normal);
      text-transform: uppercase;
      text-align: right;
      border: none;
      background: none;
      // border-radius: 5px;
      outline: none;
      font-family: 'SFPRORegular';
      resize: none;
    }
    // textarea:hover {
    //   background: rgba(207, 226, 255, 0.12);
    // }
  }

  &_description {
    width: calc(100% - 44px);
    display: flex;
    justify-content: center;

    textarea {
      // padding: 5px;
      margin: 140px 0 20px 22px;
      width: 90%;
      color: #324195;
      text-align: left;
      border: none;
      background: none;
      @include font(700, 23px, normal);
      outline: none;
      font-family: 'SFPRORegular';
      resize: none;
    }
    // textarea:hover {
    //   background: rgba(207, 226, 255, 0.12);
    // }
  }
}

@media only screen and (min-width: 781px) and (max-width: 1255px) {
  .wrapper {
    &_imageBox {
      top: -10px;
      img {
        width: 120px;
        height: 120px;
      }
    }
    &_title {
      position: absolute;
      right: 20px;
      top: 40px;

      textarea {
        @include font(700, 24px, normal);
      }
    }
  }
}

@media only screen and (min-width: 551px) and (max-width: 780px) {
  .wrapper {
    &_imageBox {
      img {
        width: 150px;
        height: 150px;
      }
    }

    &_description {
      textarea {
        @include font(600, 20px, normal);
        margin: 120px 0 20px 20px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 550px) {
  .wrapper {
    width: 100%;
    min-height: 150px;

    &_imageBox {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 22px;

      img {
        width: 100px;
        height: 100px;
      }
    }

    &_title {
      position: absolute;
      right: 20px;
      top: 20px;

      textarea {
        @include font(700, 22px, normal);
      }
    }

    &_description {
      textarea {
        @include font(500, 16px, normal);
        margin: 80px 0 20px 20px;
      }
    }
  }
}
