@import '../../../../../scss/mixin.scss';

.container {
  @include display(flex, row);
  gap: 40px;
  @media only screen and (min-width : 320px) and (max-width : 375px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5%;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5%;
  }
}

.container_right {
  @include display(flex, column);
  width: 100%;

  @media only screen and (min-width : 320px) and (max-width : 375px) {
    padding: 0 1rem 0 1rem;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    padding: 0 1rem 0 1rem;
  }

  .availability_course_wrapper {
    padding: 45px 45px 30px;
    margin-top: 32px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #d9d9d9;

    form {
      h4 {
        @include font(500, 16px, 19px);
        color: #4d5766;
      }

      legend {
        margin-top: 21px;
        @include font(400, 12px, 15px);
        color: #6c7889;
      }

      div {
        margin-top: 15px;
        @include font(400, 12px, 15px);
        letter-spacing: 0.03em;
        color: #6c7889;

        label {
          &::before {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .course_actions_wrapper {
    padding: 45px 45px 30px;
    margin-top: 32px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #d9d9d9;

    div {
      h4 {
        @include font(500, 16px, 19px);
        color: #4d5766;
      }

      button {
        margin-top: 20px;
      }

      .button_delete:hover {
        background: #ef4444;
      }
    }
  }
}

.card_image_downloads {
  height: 262px;
  box-shadow: 0 0 10px #d9d9d9;
  border-radius: 7px;
  background-color: #fff;

  @media only screen and (min-width : 320px) and (max-width : 375px) {
    margin-top: 1rem;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    margin-top: 1rem;
  }

  &_error {
    font-size: 12px;
    color: rgb(224, 24, 24);
    margin-top: 5px;
    text-align: center;
  }
}

.hide_input {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: none;
  background-color: transparent;
}

.block_download_image {
  display: block;
  width: 300px;
  height: 162px;
  background-color: #d7d7d7;
  border-radius: 7px 7px 0 0;
  overflow: hidden;

  img {
    border-radius: 7px 7px 0 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: opacity 0.6s, transform 0.6s;
  }

  &:hover {
    img {
      opacity: 0.4;
      transform: scale(1.1);
    }
    background-position: top;
    background-size: cover;
  }
}

.text_block {
  margin: 15px 0 0 30px;
  @include display(flex, row, flex-start, center);
  color: #e0dced;
  font-style: normal;
  @include font(500, 11px, 13px);

  svg {
    margin-right: 10px;
  }
}

.text_name {
  margin: 20px 0 0 25px;
  color: #4d5766;
  text-transform: capitalize;
  font-style: normal;
  @include font(500, 14px);
}

.basic_settings {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #d9d9d9;
  padding: 45px 45px 32px;

  @media only screen and (min-width : 320px) and (max-width : 375px) {
    padding: 2rem 1rem 2rem 1rem;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    padding: 2rem 1rem 2rem 1rem;
  }


  .publish_switch {
    @include display(flex, column);
    margin-top: 20px;
    @include font(400, 12px, 15px);
    letter-spacing: -0.01em;
    color: #6c7889;

    &_title {
      @include font(400, 12px, 15px);
      letter-spacing: -0.01em;
      color: #6c7889;
    }

    &_wrapper_switch {
      margin-top: 13px;

      span {
        @include font(400, 12px, 15px);
        letter-spacing: -0.01em;
        color: #6c7889;

        &:first-of-type {
          color: #ba75ff;
        }
      }
    }

    label {
      margin: 0 13px;
    }
  }

  .course_name_wrapper {
    margin-top: 16px;

    .course_name_title {
      @include font(500, 12px, 15px);
      color: #6c7889;
    }

    div {
      margin-top: 10px;
    }
  }

  .short_discription_wrapper {
    margin-top: 16px;

    .short_discription_title {
      @include font(500, 12px, 15px);
      color: #6c7889;
    }

    div {
      margin-top: 10px;
    }
  }

  .course_link_wrapper {
    margin-top: 16px;

    .course_link_title {
      @include font(500, 12px, 15px);
      color: #6c7889;
    }

    div {
      margin-top: 10px;
    }
  }

  .link_switch_wrapper {
    @include display(flex, column);

    .link_switch_label {
      @include display(flex, row, flex-start, center);
      margin-top: 16px;

      &_title {
        @include font(500, 12px, 15px);
        letter-spacing: 0.03em;
        color: #6c7889;
      }

      &_help {
        margin: 6px 0 0 26px;
        @include font(500, 12px, 15px);
        color: #b9bac4;
      }
    }
  }

  .course_category_wrapper {
    margin-top: 18px;

    .course_category_title {
      @include font(500, 12px, 15px);
      color: #6c7889;
    }

    .selectInput_container {
      margin-top: 10px;
    }
  }
}

.header_basic_settings {
  @include display(flex, row, space-between);
  width: 100%;

  & p:first-of-type {
    @include font(500, 16px, 19px);
    color: #4d5766;
  }

  .right_content_header {
    @include display(flex, row, flex-start, center);
    @include font(500, 11px, 13px);
    letter-spacing: 0.02em;
    color: #6c7889;

    svg {
      fill: #6c7889;
      margin-right: 10px;
    }
  }
}

.no_image {
  width: 100%;
  height: 100%;
  background-color: #939393;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0 0;

  span {
    color: white;
    font-size: 16px;
    opacity: 0.5;
    font-weight: bold;
  }

}

.btn {
  display: flex;
  justify-content: space-between ;
  margin-top: 1em;  


  @media only screen and (min-width : 320px) and (max-width : 375px) {
    flex-direction: column;
    gap: 1rem;
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    flex-direction: column;
    gap: 1rem;
  }
}