.wrapper {
    @include display (flex, column, space-between, center);
    width: 100%;
    padding: 40px 42px 24px 42px;
    &_title {
        @include font (700, 16px, 20px);
        text-align: center;
        font-style: italic;
        text-align: center;
        color: #4D5766;
    }
    button {
        align-self: flex-start;
        margin-top: 64px;

        @media only screen and (min-width: 320px) and (max-width: 375px) {
            align-self: stretch;
          }
        @media only screen and (min-width: 375px) and (max-width: 480px) {
            align-self: stretch;
          }
    }

    
}