* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f5f7;
}
.statistics {
  width: 100%;
}
.statistics_header {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  padding: 12px;
  margin-top: 37px;
}
.statistics_header_icon {
  align-self: flex-start;
  margin: 0 7px 0 0;
  width: 21px;
}
.statistics_header_info_wrapper {
  align-self: flex-start;
}
.statistics_header_info-wrapper p:first-of-type,
.statistics_header_info-wrapper p:last-of-type {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-align: left;
}
.statistics_header_info-wrapper p:first-of-type {
  color: #4d5766;
}
.statistics_header_info-wrapper p:last-of-type {
  color: #b9bac4;
}
.statistics_header_btn-collapse {
  position: absolute;
  top: calc(50% - 19px);
  right: 15px;
  height: 38px;
  width: 87px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #6b7280;
  line-height: 38px;
  background: #f3f4f6;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}

.statistics_new-student-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.statistics_new-student-wrapper_new-students {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 197px;
  margin-top: 18px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.statistics_new-student-wrapper_new-students_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 12px;
  color: #b9bac4;
}
.statistics_new-student-wrapper_new-students_amount {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-top: 22px;
  color: #4d5766;
}
.statistics_new-student-wrapper_new-students_graph {
  margin-top: 21px;
}
.statistics_new-student-wrapper_new-students_info-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 23px;
}
.statistics_new-student-wrapper_new-students_info-wrapper_info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #646f74;
}
.statistics_new-student-wrapper_new-students_info-wrapper_info_amount-time {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #24b59e;
}
.statistics_new-student-wrapper_new-students_info-btn {
  position: absolute;
  top: 11px;
  right: 11px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #eaecef;
  color: #eaecef;
  cursor: pointer;
}
/*  */
.students-group {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.students-group_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
.students-group_header_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4d5766;
}
.students-group_header_add-group-btn {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ba75ff;
  background: #e5dfff;
  border-radius: 7px;
  cursor: pointer;
}
.students-group_header_add-group-btn img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
/*  */
.students-group_content-wrapper {
  display: flex;
  flex-direction: column;
}
.students-group_content-wrapper_info {
  position: relative;
  display: flex;
  align-items: center;
  width: 25%;
  height: 72px;
  margin-top: 16px;
  padding: 17px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.students-group_content-wrapper_info_students-icon {
  align-self: flex-start;
  width: 17px;
  height: 17px;
  margin-right: 17px;
}
.students-group_content-wrapper_info_info-wrapper_name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  color: #4d5766;
}
.students-group_content-wrapper_info_info-wrapper_amount-wrapper p {
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #a5a9b4;
}
.students-group_content-wrapper_info_setings-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: #f7f6fb;
  border-radius: 10px;
  cursor: pointer;
}
.students-group_content-wrapper_show-all-groups-btn {
  align-self: center;
  display: flex;
  margin-top: 34px;
  cursor: pointer;
}
.students-group_content-wrapper_show-all-groups-btn p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-left: 8px;
  color: #9ca3af;
}
/*  */
.all-students {
  margin-top: 50px;
}
.all-students_title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #4d5766;
}
.all-students_control-panel {
  display: grid;
  grid-template-columns: 4fr 17fr 1fr 4fr;
  grid-column-gap: 10px;
  width: 100%;
  height: 36px;
  margin-top: 22px;
}
.all-students_control-panel_filter-btn {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  background: #ededed;
  border-radius: 7px;
  padding: 0 14px;
  color: #6b7484;
  cursor: pointer;
}
.all-students_control-panel_filter-btn img {
  margin-right: 9px;
}
.all-students_control-panel_search-panel {
  height: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #d1d5db;
  border: 1px solid #e5e7eb;
  border-radius: 7px;
  background-image: url('./search-icon.svg');
  background-repeat: no-repeat;
  background-position: calc(50% - 80px) center;
  outline: none;
}
.all-students_control-panel_search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #e0dced;
  border-radius: 7px;
  padding: 0 16px;
  cursor: pointer;
}
.all-students_control-panel_add-students-btn {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #ba75ff;
  border-radius: 7px;
  padding: 0 14px;
  cursor: pointer;
}
.all-students_control-panel_add-students-btn img {
  width: 15px;
  height: 15px;
  margin-right: 9px;
}
.student-info-table {
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.student-info-table_header {
  display: flex;
  align-items: center;
  height: 55px;
  background: #f3f4f6;
}

.student-info-table_header_checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #dcdfe6;
  margin: 0 59px 0 37px;
}
.student-info-table_header_name-wrapper {
  display: flex;
  margin-right: 101px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #6b7484;
}
.student-info-table_header_name-wrapper img {
  margin: 0 0 0 6px;
}
.student-info-table_header_email-wrapper {
  display: contents;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #adabb3;
}
.student-info-table_header_email-wrapper_btn-wrapper {
  display: flex;
  margin: 0 174px 0 2px;
  flex-direction: column;
}
.student-info-table_header_email-wrapper_btn-wrapper img {
  cursor: pointer;
}
.student-info-table_header_score {
  margin-right: 76px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #adabb3;
}
.student-info-table_header_progress {
  margin-right: 69px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #adabb3;
}
.student-info-table_header_activity {
  margin-right: 70px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #adabb3;
}
.student-info-table_header_comment {
  margin-right: 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #adabb3;
}
.student-info-table_header_settings-btn {
  cursor: pointer;
}
.student-info-table_contents-wrapper_content {
  display: flex;
  align-items: center;
  height: 51px;
  background-color: #fff;
}
.student-info-table_contents-wrapper_content input {
  width: 18px;
  height: 18px;
  border: 1px solid #dcdfe6;
  margin: 0 59px 0 37px;
}
.student-info-table_contents-wrapper_content_student {
  display: flex;
  align-items: center;
  margin-right: 82px;
}
.student-info-table_contents-wrapper_content_student_avatar {
  margin-right: 19px;
  text-align: center;
  width: 32px;
  height: 33px;
  border-radius: 50%;
  background-color: #d3f2f8;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 33px;
  color: #72b0bc;
}
.student-info-table_contents-wrapper_content_student_name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #6b7484;
}
.student-info-table_contents-wrapper_content_student-email {
  margin-right: 119px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #6b7484;
}
.student-info-table_contents-wrapper_content_student-score {
  display: flex;
  align-items: center;
  margin-right: 122px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #6b7484;
}
.student-info-table_contents-wrapper_content_student-score img {
  margin-right: 7px;
}
.student-info-table_contents-wrapper_content_student-progress {
  display: flex;
  align-items: center;
  margin-right: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #6b7484;
}
.student-info-table_contents-wrapper_content_student-progress img {
  margin-right: 11px;
}
.student-info-table_contents-wrapper_content_student-activity {
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #6b7484;
}
