@import '../../../scss/mixin.scss';

.modal_btn_is_toggle {
  position: relative;
  @include display (flex, row, center, center);
  margin-top: 40px;
  width: 100%;
  background-color: #f3f4f6;
  border: none;
  color: #a1a6af;
  padding: 16px;
  border-radius: 10px;
  span {
    @include position_t_l (absolute, 46%, 38%);
    width: 15px;
    height: 5px;
  }
}
.arrow_rotate {
  transform: rotate(180deg);
}