.container {
  min-width: 1440px;
  height: 100%;
  background: #f7f5f7;
  display: flex;
  margin: 0 auto;

  @media (max-width: 400px){
    min-width: 376px;
    max-width: 100%;
    height: 100%;
  }
}
