@keyframes bgAnimate1 {
  0% {
    top: -10%;
    left: -10%;
  }
  10% {
    top: 15%;
    left: 0%;
  }
  20% {
    top: 30%;
    left: 10%;
  }
  30% {
    top: 50%;
    left: 25%;
  }
  40% {
    top: 70%;
    left: 60%;
  }
  50% {
    top: 80%;
    left: 80%;
  }
  60% {
    top: 70%;
    left: 80%;
  }
  70% {
    top: 50%;
    left: 70%;
  }
  80% {
    top: 30%;
    left: 60%;
  }
  90% {
    top: 10%;
    left: 40%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
    
}

@keyframes bgAnimate2 {
  0% {
    top: 900%;
    left: 90%;
  }
  10% {
    top: 85%;
    left: 95%;
  }
  20% {
    top: 50%;
    left: 85%;
  }
  30% {
    top: 30%;
    left: 65%;
  }
  40% {
    top: 10%;
    left: 40%;
  }
  50% {
    top: -10%;
    left: -10%;
  }
  60% {
    top: 15%;
    left: 0%;
  }
  70% {
    top: 35%;
    left: 10%;
  }
  80% {
    top: 60%;
    left: 25%;
  }
  90% {
    top: 85%;
    left: 60%;
  }
  100% {
    top: 100%;
    left: 90%
  }
}

body {
  height: auto;
}
.container {
  min-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width : 320px) and (max-width : 375px) {
    min-width: 320px;
    width: 100%;
   
  }
  @media only screen and (min-width : 375px) and (max-width : 480px) {
    min-width: 375px;
    width: 100%;
    
  }
   @media (max-width: 1024px) {
     max-width: 100%;
     height: 100%;
   }
   @media (max-width: 480px) {
    min-width: 376px;
    height: 100vh;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    min-width: 481px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    min-width: 768px;
  }
}

.bg1 {
 z-index: -1;
 left: 10%;
 top: 10%;
}

.bg1_wrap1 {
  position: absolute;
  width: 900px;
  height: 900px;
  background: linear-gradient(#ba75ff,  #baa1d3);
  border-radius: 50%;
  filter: blur(250px);
  animation: bgAnimate1 10s linear infinite;
}


.bg2 {
  z-index: -1;
  left: 70%;
  top: 60%;
 }
 
 .bg2_wrap2 {
  position: absolute;
  width: 900px;
  height: 900px;
  background: linear-gradient(#5497ee,  #7dadec);
  border-radius: 50%;
  filter: blur(250px);
  animation: bgAnimate2 10s linear infinite;
 }