@use "@/scss/mixin.scss" as *;
@use "@/scss/variable.scss" as *;

.section {
  width: 100%;
  padding: 0 10px 0;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section_title {
  font-size: 18px;
  font-weight: bold;
}

.icon {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.section_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.open {
  max-height: 500px;
  opacity: 1;
}

.closed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
