@import '../../scss/mixin.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.init {
  overflow: hidden;
  margin-top: 24px;
  width: 100%;
  height: 97.5vh;
  font-family: 'Manrope', sans-serif;

  &_header {
    margin: 0 45px;
    max-height: 45px;
    @include display(flex, row, space-between);
  }

  &_main {
    position: relative;
    margin-top: 130px;
    @include display(flex);

    &_wrapper {
      @include position_t_l(relative, 0, 70px, 5);
      @include display(flex, column, center);
    }

    &__title {
      @include font(800, 48px, 135%);
      width: 422px;
      margin-right: 62px;
    }

    &__link {
      width: 530px;
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
      height: 112px;
      @include display(flex);
      font-weight: 800;
      border-radius: 8px;

      & div:nth-child(1) {
        font-size: 24px;
        width: 386px;
      }

      & div:nth-child(2) {
        font-size: 20px;
        background-color: #ba75ff;
        width: 170px;
        color: #fefefe;
      }

      & div {
        height: 112px;
        @include display(flex, row, center, center);
      }
    }

    &_course {
      cursor: pointer;

      &_block {
        position: relative;
        width: 445px;
        height: 500px;
        margin: 0 10px;
        transition: all 1s linear 0s;
        border-radius: 10px;

        &_title {
          @include position_b_l(absolute, 75px, 100px, 10);
          width: 250px;
          align-self: flex-end;
          font-size: 40px;
          font-weight: 500;
          color: #fefefe;
          transform-origin: bottom left;
          transition: all 1s linear 0s;
        }
      }
    }
  }
}

.smallImg {
  width: 140px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 1s linear 0s;
}

.title_rotate {
  width: 250px;
  transform: rotate(-90deg);
  transition: all 1s linear 0s;
  transform-origin: bottom left;
}

.btn_block {
  @include display(flex);

  &_logIn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #ba75ff;
    animation: account 0.2s ease-in-out;
  }
}

.btn_block button:nth-child(1) {
  margin-right: 25px;
}

@keyframes account {
  from {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(4deg);
  }
  65% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  35% {
    transform: rotate(-3deg);
  }
  30% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  15% {
    transform: rotate(-3deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  5% {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.header_block {
  @include display(flex);
  justify-content: center;
  align-items: center;

  &_logIn {
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #ba75ff;
    animation: account 0.2s ease-in-out;
  }

  &_name {
    margin-right: 15em;
    p {
      text-align: center;
      font-size: 16px;
      font-style: italic;
      font-weight: 800;
      color: #ba75ff;
    }
  }

  &_logOut {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgba(205, 205, 205, 0.5);
      border-radius: 10px;
    }

    cursor: pointer;
    margin-right: 0px;
  }
}

.goBtn {
  font-size: 20px;
  font-style: inherit;
  width: 30%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}


@keyframes bgAnimate1 {
  0% {
    top: -10%;
    left: -10%;
  }
  10% {
    top: 15%;
    left: 0%;
  }
  20% {
    top: 30%;
    left: 10%;
  }
  30% {
    top: 50%;
    left: 25%;
  }
  40% {
    top: 70%;
    left: 60%;
  }
  50% {
    top: 80%;
    left: 80%;
  }
  60% {
    top: 70%;
    left: 80%;
  }
  70% {
    top: 50%;
    left: 70%;
  }
  80% {
    top: 30%;
    left: 60%;
  }
  90% {
    top: 10%;
    left: 40%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
    
}

@keyframes bgAnimate2 {
  0% {
    top: 90%;
    left: 90%;
  }
  10% {
    top: 85%;
    left: 95%;
  }
  20% {
    top: 50%;
    left: 85%;
  }
  30% {
    top: 30%;
    left: 65%;
  }
  40% {
    top: 10%;
    left: 40%;
  }
  50% {
    top: -10%;
    left: -10%;
  }
  60% {
    top: 15%;
    left: 0%;
  }
  70% {
    top: 35%;
    left: 10%;
  }
  80% {
    top: 60%;
    left: 25%;
  }
  90% {
    top: 85%;
    left: 60%;
  }
  100% {
    top: 100%;
    left: 90%
  }
}

@keyframes bgAnimate3 {
  0% {
    top: 0%;
    left: 100%;
  }
  10% {
    top: 25%;
    left: 85%;
  }
  20% {
    top: 45%;
    left: 65%;
  }
  30% {
    top: 60%;
    left: 45%;
  }
  40% {
    top: 80%;
    left: 25%;
  }
  50% {
    top: 90%;
    left: -10%;
  }
  60% {
    top: 40%;
    left: 10%;
  }
  70% {
    top: 20%;
    left: 30%;
  }
  80% {
    top: 10%;
    left: 45%;
  }
  90% {
    top: 5%;
    left: 60%;
  }
  100% {
    top: -10%;
    left: 90%;
  }
    
}

@keyframes bgAnimate4 {
  0% {
    top: 100%;
    left: 0%;
  }
  10% {
    top: 85%;
    left: 20%;
  }
  20% {
    top: 65%;
    left: 40%;
  }
  30% {
    top: 40%;
    left: 60%;
  }
  40% {
    top: 25%;
    left: 85%;
  }
  50% {
    top: -10%;
    left: 85%;
  }
  60% {
    top: 15%;
    left: 50%;
  }
  70% {
    top: 30%;
    left: 30%;
  }
  80% {
    top: 50%;
    left: 10%;
  }
  90% {
    top: 70%;
    left: 5%;
  }
  100% {
    top: 100%;
    left: 0%;
  }
    
}
.bg1 {
  z-index: -1;
  left: 10%;
  top: 10%;
 }
 
 .bg1_wrap1 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #8034C7;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate1 10s linear infinite;
 }
 
 
 .bg2 {
   z-index: -1;
   left: 70%;
   top: 60%;
  }
  
  .bg2_wrap2 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #5048D8;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate2 10s linear infinite;
  }
 
  .bg3 {
   z-index: -1;
   left: 100%;
   top: 0%;
  }
  
  .bg3_wrap3 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #CD99FF;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate3 10s linear infinite;
  }
 
 
  .bg4 {
   z-index: -1;
   left: 100%;
   top: -10%;
  }
  
  .bg4_wrap4 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #60A0EC;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate4 10s linear infinite;
  }
