@import '../../scss/mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'SFPROBold';
  src: url(../../assets/fonts/SFProText/SFProText-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'SFPROMedium';
  src: url(../../assets/fonts/SFProText/SFProText-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'SFPROHeavy';
  src: url(../../assets/fonts/SFProText/SFProText-Heavy.ttf) format('opentype');
}

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../assets/fonts/SFProText/SFProText-Regular.ttf) format('opentype');
}

p {
  font-family: 'SFPRORegular';
}

h1 {
  font-family: 'SFPRORegular';
}

h2 {
  font-family: 'SFPRORegular';
}

h3 h5 {
  font-family: 'SFPROHeavy';
}

li {
  font-family: 'SFPRORegular';
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animatedIcon {
  animation: zoomInOut 0.8s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.init {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 24px 0;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: 'Manrope', sans-serif;

  &_header {
    @media only screen and (min-width: 1400px) {
      width: auto;
      max-width: 100vw;
      height: 80px;
      border: 3px solid #357eeb;
      border-radius: 30px;
      background: #cfe2ff;
      gap: 18px;
      box-shadow: 0px -2px 4px 0px #357eeb, 0px 2px 4px 0px #357eeb;
      @include display(flex, row, center, center);
      padding: 0px 162px 0px 162px;
      position: fixed;
      z-index: 99;
    }

    @media only screen and (min-width: 490px) and (max-width: 1400px) {
      width: auto;
      max-width: 93vw;
      height: 70px;
      border: 3px solid #357eeb;
      border-radius: 30px;
      background: #cfe2ff;
      gap: 0.5vw;
      box-shadow: 0px -2px 4px 0px #357eeb, 0px 2px 4px 0px #357eeb;
      @include display(flex, row, center, center);
      padding: 0px 15px 0px 15px;
      position: fixed;
      z-index: 99;
    }


/* Добавим стили для экрана 1920px шириной */
@media only screen and (min-width: 1401px) {
  .newInitial_init_header__XBfHl {
    width: 1920px;
    height: 1065px;
    top: -321px;
    opacity: 0.5; /* 50% прозрачность */
    /* Если нужен fixed или другой position, укажи явно */
    position: fixed;
    /* Можно добавить другие свойства, если нужно */
  }
}
    &_logo {
      @media only screen and (min-width: 1400px) {
        height: 55px;
        width: 98.78px;
        display: flex;
        margin-right: 1rem;
      }

      @media only screen and (min-width: 320px) and (max-width: 1400px) {
        position: relative;
        display: flex;
        width: 6vw;
        margin-right: 1.4rem;
      }

      img {
        @media only screen and (min-width: 320px) and (max-width: 1400px) {
          width: 5vw;
          overflow: auto;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  &_main {
    position: relative;
    margin-top: 100px;
    width: 100%;
    max-width: 1600px;
    @include display(flex, column, space-between, center);

    &_slider {
      width: 90%;
      margin: auto;
      height: auto;
    }

    &_header {
      padding: 1rem 0;
      @media only screen and (min-width: 1400px) {
        font-size: 36px;
        font-weight: 800;
        line-height: 42.96px;
        color: #324195;
      }

      @media only screen and (min-width: 490px) and (max-width: 1400px) {
        font-size: 3vw;
        font-weight: 800;
        line-height: 42.96px;
        color: #324195;
      }
    }

    &_info {
      width: 100%;
      max-width: 85vw;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      margin-bottom: 110px;

      &_quality {
        @media only screen and (min-width: 1270px) {
          display: flex;
          flex-direction: row;
          gap: 130px;
          align-items: center;
          justify-content: center;
        }

        @media only screen and (min-width: 320px) and (max-width: 1270px) {
          display: flex;
          flex-direction: row;
          gap: 20vw;
          align-items: center;
          justify-content: center;
        }

        &_text {
          @media only screen and (min-width: 1435px) {
            width: 680px;
            margin-top: 0px;
          }

          @media only screen and (min-width: 320px) and (max-width: 1435px) {
            width: 50vw;
            margin-top: 0px;
          }

          &_gradient {
            @media only screen and (min-width: 1150px) {
              font-family: 'SFPRORegular';
              font-size: 16px !important;
              font-weight: 700 !important;
              line-height: 18px !important;
              background: -webkit-linear-gradient(#0d28bb, #357eeb);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            @media only screen and (min-width: 640px) and (max-width: 1150px) {
              font-family: 'SFPRORegular';
              font-size: 14px !important;
              font-weight: 700 !important;
              line-height: 16px !important;
              background: -webkit-linear-gradient(#0d28bb, #357eeb);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          h3 {
            @media only screen and (min-width: 1025px) {
              font-family: 'SFPRORegular';
              font-weight: 500;
              font-size: 24px;
              color: #324195;
              line-height: 26px;
              margin-bottom: 70px;
            }

            @media only screen and (min-width: 640px) and (max-width: 1024px) {
              font-family: 'SFPRORegular';
              font-weight: 500;
              font-size: 16px;
              color: #324195;
              line-height: 19px;
              margin-bottom: 40px;
            }
          }

          h1 {
            @media only screen and (min-width: 1150px) {
              font-family: 'SFPRORegular';
              font-weight: 600;
              font-size: 28px;
              color: #332f36;
              line-height: 31px;
              margin-bottom: 20px;
            }

            @media only screen and (min-width: 640px) and (max-width: 1150px) {
              font-family: 'SFPRORegular';
              font-weight: 600;
              font-size: 24px;
              color: #332f36;
              line-height: 26px;
              margin-bottom: 20px;
            }
          }



          p {
            @media only screen and (min-width: 1150px) {
              font-family: 'SFPRORegular';
              font-size: 28px;
              line-height: 30px;
              font-weight: 700;
            }

            @media only screen and (min-width: 640px) and (max-width: 1150px) {
              font-family: 'SFPRORegular';
              font-size: 24px;
              line-height: 26px;
              font-weight: 700;
            }
          }

          span {
            color: #357eeb;
          }
        }

        &_pic {
          @media only screen and (min-width: 1435px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 377px;
            height: 377px;
            border-radius: 50%;
            margin-top: 50px;
            background: linear-gradient(to right, #0d28bb, #357eeb);
          }

          @media only screen and (min-width: 640px) and (max-width: 1435px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 27vw;
            height: 27vw;
            border-radius: 50%;
            background: linear-gradient(to right, #0d28bb, #357eeb);
            margin-left: -70px;
          }
          @media only screen and (min-width: 960px) and (max-width: 1100px) {
            margin-top: 50px;
          }
          @media only screen and (min-width: 1101px) {
            margin-top: 80px;
          }

          &_info {
            @media only screen and (min-width: 1435px) {
              background-position: 50% 50%;
              background-size: cover;
              background-image: url(../../assets/img/common/infoPic_new.png);
              height: auto;
              padding-bottom: 110%;
              position: relative;
              width: 500px;
              top: -55px;
            }

            @media only screen and (min-width: 640px) and (max-width: 1435px) {
              background-position: 50% 50%;
              background-size: cover;
              background-image: url(../../assets/img/common/infoPic_new.png);
              height: auto;
              padding-bottom: 110%;
              position: relative;
              width: 37vw;
              top: -5vw;
            }
          }

          p {
            @media only screen and (min-width: 1150px) {
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
              color: #324195;
            }

            @media only screen and (min-width: 640px) and (max-width: 1150px) {
              font-weight: 600;
              font-size: 12px;
              line-height: 14px;
              color: #324195;
            }
          }

          &_removebg {
            @media only screen and (min-width: 1435px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 180px;
              border-radius: 10px;
              background: #cfe2ff;
              position: relative;
              top: -100%;
              left: -40%;
              padding: 6px;
              gap: 8px;
            }

            @media only screen and (min-width: 1150px) and (max-width: 1435px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 180px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -110%;
              left: -40%;
            }

            @media only screen and (min-width: 800px) and (max-width: 1150px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 160px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -115%;
              left: -45%;
            }

            @media only screen and (min-width: 640px) and (max-width: 800px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 155px;
              border-radius: 10px;
              padding: 5px;
              gap: 6px;
              background: #cfe2ff;
              position: relative;
              top: -130%;
              left: -60%;
            }

            img {
              width: 35px;
            }
          }

          &_analytics {
            @media only screen and (min-width: 1436px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 139px;
              border-radius: 10px;
              background: #cfe2ff;
              position: relative;
              top: -120%;
              left: 40%;
              padding: 6px;
              gap: 8px;
            }

            @media only screen and (min-width: 1151px) and (max-width: 1435px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 139px;
              border-radius: 10px;
              background: #cfe2ff;
              position: relative;
              top: -120%;
              left: 40%;
              padding: 6px;
              gap: 8px;
            }

            @media only screen and (min-width: 801px) and (max-width: 1150px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 120px;
              border-radius: 10px;
              background: #cfe2ff;
              position: relative;
              top: -120%;
              left: 50%;
              padding: 6px;
              gap: 8px;
            }

            @media only screen and (min-width: 640px) and (max-width: 800px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 120px;
              border-radius: 10px;
              background: #cfe2ff;
              position: relative;
              top: -120%;
              left: 50%;
              padding: 5px;
              gap: 6px;
            }

            img {
              @media only screen and (min-width: 801px) {
                width: 35px;
              }

              @media only screen and (min-width: 640px) and (max-width: 800px) {
                width: 35px;
              }
            }
          }

          &_chatst {
            @media only screen and (min-width: 1435px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 170px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -99%;
              left: 0;
            }

            @media only screen and (min-width: 1150px) and (max-width: 1435px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 175px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -107%;
              left: 0;
            }

            @media only screen and (min-width: 800px) and (max-width: 1150px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 160px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -113%;
              left: 0;
            }

            @media only screen and (min-width: 640px) and (max-width: 800px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 145px;
              border-radius: 10px;
              padding: 4px;
              gap: 6px;
              background: #cfe2ff;
              position: relative;
              top: -125%;
              left: 0;
            }

            img {
              width: 35px
            }
          }

          &_dateInf {
            @media only screen and (min-width: 1435px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 160px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -76%;
              left: 40%;
            }

            @media only screen and (min-width: 1150px) and (max-width: 1435px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 160px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -76%;
              left: 40%;
            }

            @media only screen and (min-width: 800px) and (max-width: 1150px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 140px;
              border-radius: 10px;
              padding: 6px;
              gap: 8px;
              background: #cfe2ff;
              position: relative;
              top: -103%;
              left: 45%;
            }

            @media only screen and (min-width: 600px) and (max-width: 800px) {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 65px;
              width: 132px;
              border-radius: 10px;
              padding: 5px;
              gap: 6px;
              background: #cfe2ff;
              position: relative;
              top: -110%;
              left: 40%;
            }

            img {
              width: 35px;
            }
          }
        }
      }
    }

    &_pros {
      @media only screen and (min-width: 490px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: min(1280px, 100vw);
        height: 350px;
        margin-bottom: 110px;
        justify-content: space-around;
      }

      h3 {
        @media only screen and (min-width: 1280px) {
          margin-top: 246px;
          font-weight: 600;
          font-size: 24px;
          line-height: 28.64px;
        }

        @media only screen and (min-width: 320px) and (max-width: 1280px) {
          margin-top: 19vw;
          font-weight: 600;
          font-size: 2vw;
          line-height: 3vw;
        }
      }

      p {
        @media only screen and (min-width: 1280px) {
          font-weight: 600;
          font-size: 16px;
          line-height: 19.09px;
        }

        @media only screen and (min-width: 320px) and (max-width: 1280px) {
          font-weight: 600;
          font-size: 1.5vw;
          line-height: 2vw;
        }
      }

      &_unlimited {
        @media only screen and (min-width: 1280px) {
          width: 400px;
          height: 350px;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: url(../../assets/img/common/unlimited.png), #cfe2ff;
          background-repeat: no-repeat;
          background-position: top 34px left 85px;
          color: #324195;
          transition: 0.3s ease;
        }
        @media only screen and (min-width: 320px) and (max-width: 1280px) {
          width: 30vw;
          height: 30vw;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: url(../../assets/img/common/unlimited.png), #cfe2ff;
          background-repeat: no-repeat;
          background-position: 50% 10%;
          background-size: 60%;
          color: #324195;
          transition: 0.3s ease;
        }

        &:hover {
          @media only screen and (min-width: 1280px) {
            background: url(../../assets/img/common/unlimited2.png), #0d28bb;
            background-repeat: no-repeat;
            background-position: top 20px left 75px;
            color: #ffffff;
          }
          @media only screen and (min-width: 320px) and (max-width: 1280px) {
            background: url(../../assets/img/common/unlimited2.png), #0d28bb;
            background-repeat: no-repeat;
            background-position: 50% 10%;
            background-size: 70%;
            color: #ffffff;
          }
        }
      }

      &_annex {
        @media only screen and (min-width: 1280px) {
          width: 400px;
          height: 350px;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: url(../../assets/img/common/annex.png), #cfe2ff;
          background-repeat: no-repeat;
          background-position: top 34px left 75px;
          color: #324195;
          transition: 0.3s ease;
        }
        @media only screen and (min-width: 320px) and (max-width: 1280px) {
          width: 30vw;
          height: 30vw;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: url(../../assets/img/common/annex.png), #cfe2ff;
          background-repeat: no-repeat;
          background-position: 50% 10%;
          background-size: 60%;
          color: #324195;
          transition: 0.3s ease;
        }

        &:hover {
          @media only screen and (min-width: 1280px) {
            background: url(../../assets/img/common/annex2.png), #0d28bb;
            background-repeat: no-repeat;
            background-position: top 20px left 75px;
            color: #ffffff;
          }
          @media only screen and (min-width: 320px) and (max-width: 1280px) {
            background: url(../../assets/img/common/annex2.png), #0d28bb;
            background-repeat: no-repeat;
            background-position: 50% 10%;
            background-size: 70%;
            color: #ffffff;
          }
        }
      }

      &_gb {
        @media only screen and (min-width: 1280px) {
          width: 400px;
          height: 350px;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: url(../../assets/img/common/gb.png), #cfe2ff;
          background-repeat: no-repeat;
          background-position: top 34px left 85px;
          color: #324195;
          transition: 0.3s ease;
        }
        @media only screen and (min-width: 320px) and (max-width: 1280px) {
          width: 30vw;
          height: 30vw;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: url(../../assets/img/common/gb.png), #cfe2ff;
          background-repeat: no-repeat;
          background-position: 50% 10%;
          background-size: 60%;
          color: #324195;
          transition: 0.3s ease;
        }

        &:hover {
          @media only screen and (min-width: 1280px) {
            background: url(../../assets/img/common/gb2.png), #0d28bb;
            background-repeat: no-repeat;
            background-position: top 34px left 85px;
            color: #ffffff;
          }
          @media only screen and (min-width: 320px) and (max-width: 1280px) {
            background: url(../../assets/img/common/gb2.png), #0d28bb;
            background-repeat: no-repeat;
            background-position: 50% 10%;
            background-size: 70%;
            color: #ffffff;
          }
        }
      }
    }

    &_intern {
      @media only screen and (min-width: 1300px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1280px;
        height: 463px;
        border-radius: 30px;
        background: linear-gradient(to right, #0d28bb, #357eeb);
        margin-bottom: 110px;
      }

      @media only screen and (min-width: 320px) and (max-width: 1300px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85vw;
        height: 40vw;
        border-radius: 30px;
        background: linear-gradient(to right, #0d28bb, #357eeb);
        margin-bottom: 110px;
      }

      &_img {
        @media only screen and (min-width: 1280px) {
          background: url(../../assets/img/common/rocket.png);
          width: 600px;
          height: 463px;
        }

        @media only screen and (min-width: 320px) and (max-width: 1280px) {
          background: url(../../assets/img/common/rocket.png);
          background-position: 50% 50%;
          background-size: cover;
          height: 0;
          padding-bottom: 47%;
          position: relative;
          width: 45%;
        }

        &:hover {
          @media only screen and (min-width: 1150px) {
            background: url(../../assets/img/common/rocket2.png);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }

          @media only screen and (min-width: 320px) and (max-width: 1150px) {
            background: url(../../assets/img/common/rocket2.png);
            background-position: 50% 50%;
            background-size: cover;
            height: 0;
            padding-bottom: 47%;
            position: relative;
            width: 45%;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }

      &_text {
        color: #ffffff;
        font-family: 'SFPROMedium';

        h2 {
          @media only screen and (min-width: 1280px) {
            font-weight: 800;
            font-size: 36px;
            line-height: 42.96px;
            margin-bottom: 1rem;
          }

          @media only screen and (min-width: 320px) and (max-width: 1280px) {
            font-weight: 800;
            font-size: 3vw;
            line-height: 1vw;
            margin-bottom: 1rem;
          }
        }

        h3 {
          @media only screen and (min-width: 1280px) {
            font-weight: 500;
            font-size: 24px;
            line-height: 28.64px;
            margin-bottom: 1rem;
          }
          @media only screen and (min-width: 320px) and (max-width: 1280px) {
            font-weight: 500;
            font-size: 2vw;
            line-height: 2vw;
            margin-bottom: 1rem;
          }
        }

        ul {
          @media only screen and (min-width: 1280px) {
            margin-bottom: 1rem;
          }
          @media only screen and (min-width: 490px) and (max-width: 1280px) {
            margin-bottom: 1rem;
          }
        }

        li {
          @media only screen and (min-width: 320px) and (max-width: 1150px) {
            font-size: 1.7vw;
            line-height: 2vw;
          }
        }
      }
    }

    &_create {
      width: min(1240px, 90vw);
      display: flex;
      margin-top: 1rem;

      &_swiper {

        &_navigationButtons {
          display: flex;
          flex-direction: row;
          gap: 15px;
          width: min(1280px, 95%);
          justify-content: space-around;

          &_button {
            width: 30%;
            height: 54px;
            background-color: #cfe2ff;
            border: none;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.7rem;
            border-radius: 10px;

            h5 {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              align-items: center;
              display: flex;
              justify-content: center;
              background: -webkit-linear-gradient(#0d28bb, #357eeb);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              @media only screen and (max-width: 980px) {
                font-size: 12px;
                line-height: 13px;
              }
            }
          }

          &_activeButton {
            width: 30%;
            height: 54px;
            padding: 1rem;
            background: linear-gradient(to right, #0d28bb, #357eeb);
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0.7rem;
            align-items: center;
            border: none;

            h5 {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              align-items: center;
              display: flex;
              justify-content: center;
              color: #fffafa;
              @media only screen and (max-width: 980px) {
                font-size: 12px;
                line-height: 13px;
              }
            }
          }
        }

        &_block {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: center;
          color: #324195;

          &_container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 80vw;
          }

          &_arrowRight {
            border: none;
            background: none;
          }

          &_img {
            @media only screen and (min-width: 320px) {
              width: 50vw;
            }
          }
          &_text {
            width: 90vw;
            padding-left: 1rem;

            h2 {
              @media only screen and (min-width: 1441px) {
                font-weight: 800;
                font-size: 36px;
                line-height: 42.96px;
                margin-bottom: 1rem;
              }
              @media only screen and (min-width: 941px) and (max-width: 1440px) {
                font-weight: 800;
                font-size: 30px;
                line-height: 32px;
                margin-bottom: 1rem;
              }
              @media only screen and (min-width: 751px) and (max-width: 940px) {
                font-weight: 800;
                font-size: 26px;
                line-height: 30px;
                margin-bottom: 1rem;
              }

              @media only screen and (min-width: 320px) and (max-width: 750px) {
                font-weight: 800;
                font-size: 1.3rem;
                line-height: 1.4rem;
                margin-bottom: 1rem;
              }
            }

            p {
              @media only screen and (min-width: 1240px) {
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 20px;
                line-height: 23.87px;
                margin-bottom: 1rem;
                gap: 1rem;
              }

              @media only screen and (min-width: 320px) and (max-width: 1240px) {
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 2vw;
                line-height: 2vw;
                margin-bottom: 1rem;
                gap: 1rem;
              }
            }

            img {
              margin-right: 15px;

              @media only screen and (min-width: 320px){
                margin-right: 5px;
                width: 2vw;
              }
            }
          }
        }
      }
    }

    &_mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      &_container {
       display: flex;
       flex-direction: row;
       padding: 0 50px 0;

       &_imgwrapper {
         width: 50%;
         overflow: hidden;
         display: flex;
         justify-content: center;

         img {
           width: 140% !important;
           max-height: 100%;
         }
       }
      }

      img {
        width: 50%;
      }

      &_text {
        @media only screen and (min-width: 1240px) {
          width: 100%;
          text-align: left;
          color: #324195;
          z-index: 2;
        }

        @media only screen and (min-width: 490px) and (max-width: 1240px) {
          width: 100%;
          text-align: left;
          color: #324195;
          z-index: 2;
        }

        h1 {
          font-size: 1.2rem;
          width: 100%;
          margin: 0;
          @media only screen and (min-width: 800px) {
            font-size: 1.4rem;
          }
          @media only screen and (min-width: 961px) {
            font-size: 1.6rem;
          }
          @media only screen and (min-width: 1200px) {
            font-size: 42px;
          }
        }

        h2 {
          @media only screen and (min-width: 1240px) {
            font-weight: 800;
            font-size: 36px;
            line-height: 42.96px;
            margin-bottom: 50px;
          }

          @media only screen and (min-width: 490px) and (max-width: 1240px) {
            font-weight: 800;
            font-size: 3vw;
            line-height: 3vw;
            margin-bottom: 50px;
          }
        }

        p {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 1rem;

          @media only screen and (min-width: 830px){
            font-size: 20px;
            line-height: 24px;
          }

          @media only screen and (min-width: 1140px){
            font-size: 24px;
            line-height: 28px;
          }
        }

        &_button {
          display: flex;
          width: 50%;
          flex-direction: column;
          align-items: center;
          height: auto;
          justify-content: center;
          gap: 1.5rem;
          margin: 2rem 0 2rem;
        }
      }
    }

    &_record {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #0d28bb, #357eeb);
      border-radius: 30px;
      width: min(85vw, 1280px);
      color: #ffffff;
      @media screen and (min-width: 1024px) {
        margin-top: -5%;
      }

      &_img {
        width: 50%;
        overflow: visible;
        background-color: transparent;
        img {
          width: 100%;
        }
      }

      &_block {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        @media only screen and (max-width: 750px) {
          margin-left: 1rem;
        }


        h2 {
          @media only screen and (min-width: 1400px) {
            font-weight: 800;
            font-size: 36px;
            line-height: 42.96px;
            margin-bottom: 50px;
          }

          @media only screen and (min-width: 880px) and (max-width: 1400px) {
            font-weight: 800;
            font-size: 1.7rem;
            line-height: 1.9rem;
            margin-bottom: 0.8rem;
          }

          @media only screen and (min-width: 640px) and (max-width: 879px) {
            font-weight: 800;
            font-size: 1.2rem;
            line-height: 1.3rem;
            margin-bottom: 0.8rem;
          }
        }

        p {
          @media only screen and (min-width: 1400px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 23.87px;
            margin-bottom: 1rem;
          }

          @media only screen and (min-width: 880px) and (max-width: 1400px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.2rem;
            margin-bottom: 0.8rem;
          }

          @media only screen and (min-width: 640px) and (max-width: 879px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 0.9rem;
            margin-bottom: 0.8rem;
          }
        }
      }
    }

    &_feedback {
      margin: 2rem auto;
      width: 100%;
      text-align: center;
      padding: 0 1rem;
    }

    &_free {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #cfe2ff;
      border-radius: 20px;
      width: min(85vw, 1280px);
      color: #324195;
      overflow: hidden;
      margin-bottom: 5rem;

      &_block {
        width: 50%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        @media only screen and (max-width: 879px) {
         margin-left: 0;
         padding: 0.5rem 0 0.5rem 1rem;
        }


        h2 {
          @media only screen and (min-width: 1400px) {
            font-weight: 800;
            font-size: 36px;
            line-height: 42.96px;
            margin-bottom: 50px;
          }

          @media only screen and (min-width: 880px) and (max-width: 1400px) {
            font-weight: 800;
            font-size: 1.7rem;
            line-height: 1.9rem;
            margin-bottom: 0.8rem;
          }

          @media only screen and (min-width: 640px) and (max-width: 879px) {
            font-weight: 800;
            font-size: 1.2rem;
            line-height: 1.3rem;
            margin-bottom: 0.5rem;
          }
        }

        p {
          @media only screen and (min-width: 1400px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 23.87px;
            margin-bottom: 1rem;
          }

          @media only screen and (min-width: 880px) and (max-width: 1400px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.2rem;
            margin-bottom: 0.8rem;
          }

          @media only screen and (min-width: 640px) and (max-width: 879px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 0.9rem;
            margin-bottom: 0.6rem;
          }
        }
      }
    }

    &_system {
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        @media only screen and (min-width: 1150px) {
          font-weight: 800;
          font-size: 36px;
          line-height: 42.96px;
          background: -webkit-linear-gradient(#0d28bb, #357eeb);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        @media only screen and (min-width: 490px) and (max-width: 1150px) {
          font-weight: 800;
          font-size: 3vw;
          line-height: 42.96px;
          background: -webkit-linear-gradient(#0d28bb, #357eeb);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &_box {
        @media only screen and (min-width: 1280px) {
          display: grid;
          margin: 1.3rem 0 5rem 0;
          gap: 2rem;
          grid-template-areas:
            'zapier youtube kassa metrika'
            'zoom1 tilda vk google'
            'bitriks wordpress amocmr tbank';
        }
        @media only screen and (min-width: 490px) and (max-width: 1280px) {
          display: grid;
          margin: 1.3rem 0 5rem 0;
          gap: 2vw;
          grid-template-areas:
            'zapier youtube kassa metrika'
            'zoom1 tilda vk google'
            'bitriks wordpress amocmr tbank';
        }

        div {
          @media only screen and (min-width: 1280px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 290px;
            height: 72px;
            border-radius: 20px;
            box-shadow: 0px 0px 20px #3241951a;
          }
          @media only screen and (min-width: 490px) and (max-width: 1280px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20vw;
            height: 6vw;
            border-radius: 20px;
            box-shadow: 0px 0px 20px #3241951a;
          }
          img {
            @media only screen and (min-width: 490px) and (max-width: 1280px) {
              width: 10vw;
            }
          }
        }

        &_zapier {
          grid-area: zapier;
        }
        &_youtube {
          grid-area: youtube;
        }
        &_kassa {
          grid-area: kassa;
        }
        &_metrika {
          grid-area: metrika;
        }
        &_zoom {
          grid-area: zoom1;
        }
        &_tilda {
          grid-area: tilda;
        }
        &_vk {
          grid-area: vk;
        }
        &_google {
          grid-area: google;
        }
        &_bitriks {
          grid-area: bitriks;
        }
        &_wordpress {
          grid-area: wordpress;
        }
        &_amocmr {
          grid-area: amocmr;
        }
        &_tbank {
          grid-area: tbank;
        }
      }
    }

    &_takeFree {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #0d28bb, #357eeb);
      border-radius: 30px;
      width: min(1280px, 85vw);
      color: #ffffff;
      overflow: hidden;
      margin-bottom: 3rem;

      &_block {
        width: 50%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        @media only screen and (max-width: 879px) {
         margin-left: 0;
         padding: 0.5rem 0 0.5rem 1rem;
        }

        h2 {
          @media only screen and (min-width: 1400px) {
            font-weight: 800;
            font-size: 36px;
            line-height: 42.96px;
            margin-bottom: 1rem;
          }

          @media only screen and (min-width: 880px) and (max-width: 1400px) {
            font-weight: 800;
            font-size: 1.7rem;
            line-height: 1.9rem;
            margin-bottom: 0.8rem;
          }

          @media only screen and (min-width: 640px) and (max-width: 879px) {
            font-weight: 800;
            font-size: 1.2rem;
            line-height: 1.3rem;
            margin-bottom: 0.5rem;
          }
        }

        p {
          @media only screen and (min-width: 1400px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 23.87px;
            margin-bottom: 1rem;
          }

          @media only screen and (min-width: 880px) and (max-width: 1400px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.2rem;
            margin-bottom: 0.8rem;
          }

          @media only screen and (min-width: 640px) and (max-width: 879px) {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 0.9rem;
            margin-bottom: 0.6rem;
          }
        }
        &_img {
          width: 50%;
          overflow: visible;
          background-color: transparent;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.btn_block {
  display: flex;
  width: 100%;
  justify-content: space-around;

  &_logIn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #ba75ff;
    animation: account 0.2s ease-in-out;
  }
}

// .btn_block button:nth-child(1) {
//   margin-right: 25px;
// }

.header_block {
  @include display(flex);
  justify-content: center;
  align-items: center;
  gap: 18px;

  &_menu {
    @media only screen and (min-width: 1150px) {
      align-items: center;
      display: flex;
      overflow: hidden;
      width: 510px;
      // transition: width 1s;
      justify-content: space-around;
    }

    @media only screen and (min-width: 320px) and (max-width: 1150px) {
      align-items: center;
      display: flex;
      overflow: hidden;
      width: 40vw;
      // transition: width 1s;
      justify-content: space-around;
    }

    &_platforma {
      &_content {
        @media only screen and (min-width: 1150px) {
          display: none;
          position: absolute;
          background-color: #cfe2ff;
          width: 314px;
          z-index: 1;
          border-radius: 14px;
          padding: 16px;
          box-shadow: 0px 2px 4px 0px #357eeb;
        }

        @media only screen and (min-width: 320px) and (max-width: 1150px) {
          display: none;
          position: absolute;
          background-color: #cfe2ff;
          width: 20vw;
          z-index: 1;
          border-radius: 14px;
          padding: 6px;
          box-shadow: 0px 2px 4px 0px #357eeb;
        }

        a {
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          @media only screen and (min-width: 320px) and (max-width: 1150px) {
            padding: 1vw;
            text-decoration: none;
            display: block;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1vw;
          }
          img {
            @media only screen and (min-width: 320px) and (max-width: 1150px) {
              width: 2vw;
            }
          }

          h5 {
            @media only screen and (min-width: 1150px) {
              color: #324195;
              line-height: 18.75px;
              font-size: 16px;
            }
            @media only screen and (min-width: 320px) and (max-width: 1150px) {
              color: #324195;
              line-height: 2vw;
              font-size: 1vw;
            }
          }
        }

        a:hover {
          background-color: #0d28bb;
          text-decoration: none;
          border-radius: 14px;

          h5 {
            color: #ffffff;
          }
        }
      }
    }
    &_platforma:hover &_platforma_content {
      display: block;
    }
  }

  // .header_block:hover &_menu{
  //   width: 510px;
  // }

  &_name {
    margin-right: 15em;
    p {
      text-align: center;
      font-size: 16px;
      font-style: italic;
      font-weight: 800;
      color: #ba75ff;
    }
  }

  &_logOut {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #357eeb;

    &:hover {
      color: #ffffff;
      background: linear-gradient(#0d28bb, #357eeb);
      border-radius: 10px;
    }

    cursor: pointer;
    margin-right: 0px;
  }

  &_plus {
    width: 24px;
    height: 24px;

    @media only screen and (min-width: 320px) and (max-width: 1150px) {
      width: 2vw;
      height: 2vw;
    }
  }
}
