* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HelpCenterPage {
    h1 {
        margin: 23px;
        color: #4D5766;
        font-size: 35px;
    }
    &_pageHeader{
        height: 308px;
        background: #E0DCED;
        border-radius: 7px;
        align-items: center;
        flex-direction: column;
        display: flex;
        p {
            margin-top: 75px;
            font-weight: 500;
            color: #BA75FF;
            font-size: 14px;
        }
        h1 {
            margin: 23px;
        }
        &_inputGroup {
            display: inline-flex;
            align-items: center;
            width: 584px;
            margin-bottom: 82px;
            &_input {
                height: 45px;
            }
            button {
                margin-left: 5px;
                height: 45px;
                width: 105px;
                font-size: 15px;
            }
        }
    }
    &_quickStart {
        align-items: center;
        flex-direction: column;
        display: flex;
        h1 {
            margin-top: 90px;
        }
        &_userSelect {
            display: inline-flex;
            align-items: center;
            h5 {
                margin-right: 45px;
                font-size: 14px;
            }
            hr {
                width: 150px;
                margin-top: 6px;
            }
            &_author {
                width: 220px;
                h5 {
                    float: right;
                    color: #BA75FF;
                }
                hr {
                    border: 1px solid #BA75FF;
                    float: right;
                }
            }
            &_student {
                width: 220px;
                h5 {
                    color: #D6D6D6;
                    margin-left: 45px;
                }
                hr {
                    border: 1px solid #D6D6D6;
                }
            }

        }
        &_cardGroup {
            margin-top: 45px;
            display: inline-flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            &_card {
                width: 313px;
                height: 189px;
                background: #FFFFFF;
                border: 1px solid #BA75FF;
                border-radius: 20px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                &_text {
                    margin: 40px 20px 40px 40px;

                    h3 {
                        color: #4D5766;
                    }
                    p {
                        margin-top: 25px;
                        font-size: 15px;
                        color: #4D5766;
                    }
                }
                @media (min-width: 767px) and (max-width: 1024px) {
                    &_text {
                        margin: 20px 10px 20px 20px;

                        h3 {
                            font-size: 20px;
                        }

                        p {
                            margin-top: 10px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    &_FAQ {
        flex-direction: column;
        display: flex;
        width: 725px;
        margin: 0 auto;
        h1 {
            text-align: center;
            margin-top: 106px;
            margin-bottom: 62px;
        }
        h2 {
            color: #BA75FF;
            font-size: 23px;
        }
        p {
            margin-top: 20px;
            margin-bottom: 45px;
            font-size: 15px;
        }
    }
}