@import '../../scss/mixin.scss';
@import '../../scss/variable.scss';

@font-face {
  font-family: 'SFPRORegular';
  src: url(../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'SFPROBold';
  src: url(../../assets/fonts/SFProText/SFProText-Bold.ttf) format("opentype");
}

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

.select2 {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}

.con {
  min-height: 100vh;
}


.bg1 {
  // width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 2% 0 2% 0;
}
.tit {
  font-size: 32px;
  font-weight: 700;
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    text-align: center;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    text-align: center;
  }
}
.bg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #8b00ff;

  &_citate {
    color: whitesmoke;
    font-size: 20px;
  }
  &_c {
    margin-top: 1em;
    color: white;
    font-size: 18px;
  }
  img {
    border-radius: 50%;
    width: 6em;
    height: 6em;
  }
}
.bg3 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //background-image: linear-gradient(to right top, #e4bae0, #ebd3ef, #ead4f9, #f4effe, #ebebeb);

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    justify-content: flex-start;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    justify-content: flex-start;
    padding-top: 5%;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &_btnBack {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 6%;
    background: #CFE2FF;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 32px;
    }

    
  }

  &_rolePic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    &_box {
      display: flex;
      width: 400px;
      height: 401px;
      

      &_role {
        display: inline-block;
        width: 400px;
        height: 300px;
      }
    }
  }

  &_logoWrapper {
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      display: none;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
}

.schoolBox {
  display: flex;
  flex-direction: row;
  width: 1280px;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  padding: 5% 10% 5% 10%;
  scrollbar-color: #357EEB #fff;
  gap: 2rem;
  
}

.name {
  font-family: 'SFPRORegular';
  font-weight: 700;
  font-size: 30px;
  line-height: 35.8px;
  margin-bottom: 5px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0D28BB;
}


.role {
  font-family: 'SFPROBold';
  color: #332F36;
  font-weight: 600;
  font-size: 20px;
  line-height: 23.87px;
}

.search {
  margin: 1rem 0;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-style: solid;
  border-color: hsl(273, 100%, 74%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 343px;
  height: 60px;
  transition: ease-in-out background-color 0.3s;
  padding: 5px;
  

  form {
    width: 100%;
    height: 100%;
    
    input {
      margin: 0;
      line-height: 30px;
      width: 100%;
      height: 100%;
      line-height: 2rem;
      border: none;
      outline: none;
    }
  }
}

.bg {
  margin-top: 1.5em;
  position: relative;
  background-color: #CFE2FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  width: 397px;
  height: 161px;
  transition: ease-in-out background-color 0.3s;
  padding: 20px 16px 20px 16px;


  @media only screen and (min-width: 320px) and (max-width: 375px) {
    justify-content: flex-start;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    justify-content: flex-start;
  }

  &_container {
    display: flex;
    flex-direction: column;
  }

  span {
    font-size: 70px;
    margin-right: 9rem;
    color: #3686FF;
    transition: ease-in-out color 0.3s;
    height: 50%;
    @include display(flex, row, center, center);
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      align-items: stretch;
    }
    @media only screen and (min-width: 375px) and (max-width: 480px) {
      align-items: stretch;
    }
  }

  &:hover {
    background: linear-gradient(to right, #0D28BB, #357EEB);
   
    span {
      color: #FFFAFA;
    }
    .role {
      color: #FFFAFA;
    }

    .name {
      color: #FFFAFA;
    }
    
  }
}


.create {
  display: flex;
  font-weight: 300;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #0D28BB;
  height: 57px;
  width: 343px;
  border-radius: 10px;
  background-color:#CFE2FF;
  font-family: 'SFPRORegular';
  font-weight: 600;
  font-size: 20px;
  line-height: 23.87px;
  transition: all ease-in 0.3s;

  &:hover {
    color: #FFFFFF;
    background: linear-gradient(to right, #0D28BB 100%, #357EEB 100%);
    border: 1px solid #FFFFFF;
  }
}

.main {
  background-color: #6b728f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  & > button {
    margin-top: 50px;
  }
}
.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}
.select2::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}

@keyframes bgAnimate1 {
  from {
    transform: translate3d(0, 0, 0);
  }

  20% {
    transform: translate3d(50%, 100%, 0);
  }

  30% {
    transform: translate3d(150%, 150%, 0);
  }

  50% {
    transform: translate3d(400%, 200%, 0);
  }

  70% {
    transform: translate3d(300%, 70%, 0);
  }

  90% {
    transform: translate3d(100%, 30%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bgAnimate2 {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  20% {
    transform: translate3d(-100%, -100%, 0);
  }
  30% {
    transform: translate3d(-200%, -150%, 0);
  }
  50% {
    transform: translate3d(-400%, -200%, 0);
  }
  70% {
    transform: translate3d(-300%, -60%, 0);
  }
  90% {
    transform: translate3d(-100%, -10%, 0);
  }
  to {
    transform: translate3d(0%, 0%, 0);
  }
}

@keyframes bgAnimate3 {
  from {
    transform: translate3d(0, 0, 0);
  }

  20% {
    transform: translate3d(-150%, 10%, 0);
  }

  30% {
    transform: translate3d(-300%, 100%, 0);
  }

  50% {
    transform: translate3d(-400%, 200%, 0);
  }

  70% {
    transform: translate3d(-250%, 150%, 0);
  }

  90% {
    transform: translate3d(-50%, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bgAnimate4 {
  from {
    transform: translate3d(0, 0, 0);
  }

  20% {
    transform: translate3d(150%, -10%, 0);
  }

  30% {
    transform: translate3d(350%, -80%, 0);
  }

  50% {
    transform: translate3d(400%, -150%, 0);
  }

  70% {
    transform: translate3d(250%, -140%, 0);
  }

  90% {
    transform: translate3d(100%, -80%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bgf {
  z-index: -1;

  &_wrap1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #3686FF;
    border-radius: 50%;
    scale: 10;
    filter: blur(25px);
    animation: bgAnimate1 10s linear infinite;
  }

  &_wrap2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100%;
    top: 100%;
    scale: 10;
    background: #3686FF;
    border-radius: 50%;
    filter: blur(25px);
    animation: bgAnimate2 10s linear infinite;
  }

  &_wrap3 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100%;
    top: 0%;
    scale: 10;
    background: #3686FF;
    border-radius: 50%;
    filter: blur(25px);
    animation: bgAnimate3 10s linear infinite;
  }

  &_wrap4 {
    position: absolute;
    width: 50px;
    height: 50px;
    scale: 10;
    left: 0%;
    top: 100%;
    background: #3686FF;
    border-radius: 50%;
    filter: blur(25px);
    animation: bgAnimate4 10s linear infinite;
  }
}
