:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

.select2 {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
.bg1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.tit {
  font-size: 32px;
  font-weight: 700;
}
.bg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #8b00ff;

  &_citate {
    color: whitesmoke;
    font-size: 20px;
  }
  &_c {
    margin-top: 1em;
    color: white;
    font-size: 18px;
  }
  img {
    border-radius: 50%;
    width: 6em;
    height: 6em;
  }
}
.bg3 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //background-image: linear-gradient(to right top, #e4bae0, #ebd3ef, #ead4f9, #f4effe, #ebebeb);

  @media only screen and (min-width: 320px) and (max-width: 375px) {
    justify-content: flex-start;
  }
  @media only screen and (min-width: 375px) and (max-width: 480px) {
    justify-content: flex-start;
    padding-top: 5%;
  }
}
.name {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}
.role {
  color: #a2a9b4;
  font-weight: 200;
  font-size: 20px;
}

.bg {
  margin-top: 1.5em;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-style: solid;
  border-color: hsl(273, 100%, 74%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  border-radius: 10px;
  width: 343px;
  height: 97px;
  transition: ease-in-out background-color 0.3s;


  span {
    font-size: 70px;
    margin-right: 0.4em;
    color: #a83eff;
    transition: ease-in-out color 0.3s;
    height: 100%;
  }

  &:hover {
    background-color: #e3e3e3;
    border-color: #a83eff;
    span {
      color: #b55bff;
    }
    .role {
        color: #b55bff;
    }
  }
}

.create {
  display: flex;
  font-weight: 300;
  position: relative;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  -webkit-text-fill-color: #ffff;
  height: 57px;
  width: 343px;
  border-radius: 10px;
  background-color: #BA75FF;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 24px;
  &:hover {
    color: #a2a9b4;
    cursor: pointer;
  }
}

.main {
  background-color: #6b728f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  & > button {
   margin-top: 50px;
  }
}
.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}
.select2::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}


@keyframes bgAnimate1 {
  0% {
    top: -10%;
    left: -10%;
  }
  10% {
    top: 15%;
    left: 0%;
  }
  20% {
    top: 30%;
    left: 10%;
  }
  30% {
    top: 50%;
    left: 25%;
  }
  40% {
    top: 70%;
    left: 60%;
  }
  50% {
    top: 80%;
    left: 80%;
  }
  60% {
    top: 70%;
    left: 80%;
  }
  70% {
    top: 50%;
    left: 70%;
  }
  80% {
    top: 30%;
    left: 60%;
  }
  90% {
    top: 10%;
    left: 40%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
    
}

@keyframes bgAnimate2 {
  0% {
    top: 90%;
    left: 90%;
  }
  10% {
    top: 85%;
    left: 95%;
  }
  20% {
    top: 50%;
    left: 85%;
  }
  30% {
    top: 30%;
    left: 65%;
  }
  40% {
    top: 10%;
    left: 40%;
  }
  50% {
    top: -10%;
    left: -10%;
  }
  60% {
    top: 15%;
    left: 0%;
  }
  70% {
    top: 35%;
    left: 10%;
  }
  80% {
    top: 60%;
    left: 25%;
  }
  90% {
    top: 85%;
    left: 60%;
  }
  100% {
    top: 100%;
    left: 90%
  }
}

@keyframes bgAnimate3 {
  0% {
    top: 0%;
    left: 100%;
  }
  10% {
    top: 25%;
    left: 85%;
  }
  20% {
    top: 45%;
    left: 65%;
  }
  30% {
    top: 60%;
    left: 45%;
  }
  40% {
    top: 80%;
    left: 25%;
  }
  50% {
    top: 90%;
    left: -10%;
  }
  60% {
    top: 40%;
    left: 10%;
  }
  70% {
    top: 20%;
    left: 30%;
  }
  80% {
    top: 10%;
    left: 45%;
  }
  90% {
    top: 5%;
    left: 60%;
  }
  100% {
    top: -10%;
    left: 90%;
  }
    
}

@keyframes bgAnimate4 {
  0% {
    top: 100%;
    left: 0%;
  }
  10% {
    top: 85%;
    left: 20%;
  }
  20% {
    top: 65%;
    left: 40%;
  }
  30% {
    top: 40%;
    left: 60%;
  }
  40% {
    top: 25%;
    left: 85%;
  }
  50% {
    top: -10%;
    left: 85%;
  }
  60% {
    top: 15%;
    left: 50%;
  }
  70% {
    top: 30%;
    left: 30%;
  }
  80% {
    top: 50%;
    left: 10%;
  }
  90% {
    top: 70%;
    left: 5%;
  }
  100% {
    top: 100%;
    left: 0%;
  }
    
}
.bgf1 {
  z-index: -1;
  left: 10%;
  top: 10%;
 }
 
 .bgf1_wrap1 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #8034C7;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate1 10s linear infinite;
 }
 
 
 .bgf2 {
   z-index: -1;
   left: 70%;
   top: 60%;
  }
  
  .bgf2_wrap2 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #5048D8;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate2 10s linear infinite;
  }
 
  .bgf3 {
   z-index: -1;
   left: 100%;
   top: 0%;
  }
  
  .bgf3_wrap3 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #CD99FF;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate3 10s linear infinite;
  }
 
 
  .bgf4 {
   z-index: -1;
   left: 100%;
   top: -10%;
  }
  
  .bgf4_wrap4 {
   position: absolute;
   width: 500px;
   height: 500px;
   background: #60A0EC;
   border-radius: 50%;
   filter: blur(300px);
   animation: bgAnimate4 10s linear infinite;
  }

