@import '../../../scss/mixin.scss';

.accardionWrapper {
  &_component {
    @include display(flex, column, center);
    background-color: #fff;
    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    //border-radius: 7px;
    margin-bottom: 16px;
    transition: all 0.3s;
    @media only screen and (min-width: 320px) and (max-width: 375px) {
      margin: 5px;
    }
    @media only screen and (min-width : 375px) and (max-width : 480px) {
      margin: 5px;
      
    }
    &:hover {
      cursor: pointer;
    }
    &_header {
      @include display(flex, row, space-between, center);
      width: 100%;
      height: 80px;
      border-radius: 24px;
      padding: 15px 20px;
      background-color: #cfe2ff;
      color: #332f36;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        padding: 21px 11px;
      }
      @media only screen and (min-width : 375px) and (max-width : 480px) {
        padding: 21px 11px;
      }

      &_active {
        @include display(flex, row, space-between, center);
        background-color: #357dea;
        color: #ffffff;
        width: 100%;
        height: 80px;
        border-radius: 24px;
        padding: 15px 20px;
        @media only screen and (min-width: 320px) and (max-width: 375px) {
          padding: 21px 11px;
        }
        @media only screen and (min-width : 375px) and (max-width : 480px) {
          padding: 21px 11px;
        }
      }

      &_showBtnWrapper_active > svg {
        // fill: '#C6C6C6';
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
      }

      &_showBtnWrapper > svg {
        // fill: '#4D5766';
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
      }
      svg {
        @media only screen and (min-width: 320px) and (max-width: 375px) {
          width: 15px;
          height: 15px;
          margin-left: 10px;
        }
        @media only screen and (min-width : 375px) and (max-width : 480px) {
          width: 15px;
          height: 15px;
          margin-left: 10px;
        }
      }

      &_number {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        font-weight: 500;
        font-size: 24px;
        //line-height: auto;
        color:#ffffff;
        background-color:#357dea;
        border-radius: 50%;
        @media only screen and (min-width: 320px) and (max-width: 375px) {
          width: 30px;
          height: 25px;
          font-size: 10px;
        }
        @media only screen and (min-width : 375px) and (max-width : 480px) {
          width: 30px;
          height: 25px;
          font-size: 10px;
        }

        &_active {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          font-weight: 500;
          font-size: 24px;
          background-color: #ffffff;
          color:#332f36;
          border-radius: 50%;
        }

        svg {
          @include position_t_l(absolute, calc(50% - 8px), calc(50% - 7px));
        }
      }
      &_marks {
        @include display(flex, row, flex-start, center);
        gap: 4px;
        font-size: 16px;
        margin-left: 15px;
      }
      &_lessonName {
        @include display(flex, row, flex-start, center);
        width: 100%;
        margin-left: 50px;
        @media only screen and (min-width: 320px) and (max-width: 375px) {
          margin-left: 9px;
        }
        @media only screen and (min-width : 375px) and (max-width : 480px) {
          margin-left: 9px;
        }

        &_title {
          @include display(flex, row, flex-start, center);
          @include font(500, 24px, 16px);
          @media only screen and (min-width: 320px) and (max-width: 375px) {
            font-size: 10px;
          }
          @media only screen and (min-width : 375px) and (max-width : 480px) {
            font-size: 10px;
          }

          //span {
          //  display: block;
          //  width: 20px;
          //  height: 2px;
          //  margin: 0 10px;
          //  background-color: #9ca3af;
          //}
        }
        &_exerciseSum {
          @include font(500, 14px, 16px);
          color: #9ca3af;
          @media only screen and (min-width: 320px) and (max-width: 375px) {
            font-size: 10px;
          }
          @media only screen and (min-width : 375px) and (max-width : 480px) {
            font-size: 10px;
          }
          span {
            margin-left: 5px;
          }
        }
      }
      &_stats {
        @include display(flex, row, flex-start, center);
        gap: 8px;
        font-size: 16px;
        margin-right: 50px;

        &_lesson {
          @include display(flex, row, flex-start, center);
          gap: 4px;
        }
      }
      &_status {
        margin-right: 50px;
      }
    }

    &_exerciseWrapper {
      //padding-bottom: 16px;
      @include display(flex, column, center, center);
      padding: 16px 32px 0 32px;
      gap: 16px;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        padding: 10px 10px;
      }
      @media only screen and (min-width : 375px) and (max-width : 480px) {
        padding: 10px 10px;
      }
    }

    &_exerciseWrapperImage {
      //@include display(flex, row, flex-start, flex-start);
      margin-top: 15px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(auto-fit, 212px);
      gap: 20px 20px;
      @media only screen and (min-width: 320px) and (max-width: 375px) {
        padding: 10px 10px;
      }
      @media only screen and (min-width : 375px) and (max-width : 480px) {
        padding: 10px 10px;
      }
    }
  }
}
