@font-face {
  font-family: 'SFPRORegular';
  src: url(../../assets/fonts/SFProText/SFProText-Regular.ttf) format("opentype");
}

.init {

    &_container {
        width: min(343px, 90vw);
        height: min(240px, 63vw);
        border-radius: 10px;
        background: linear-gradient(to right, #0D28BB, #357EEB);
        opacity: 1;
        transition: all 0.4s ease-out;
        margin-bottom: 2rem;
        &_box {

            display: grid;
            padding: 24px 30px 24px 24px;
            gap: 10px;
            grid-template-areas:
                "photo info"
                "rev rev";


            &_photo {
                grid-area: photo;

                img{
                    border-radius: 40px;
                    width: min(46px, 12vw);
                    height: min(46px, 12vw);
                }

            }

            &_info {
                width: min(217px, 57vw);
                height: min(43px, 11.3vw);
                grid-area: info;
                /* padding: 24.5px 73px 24.5px 25px; */
                font-family: 'SFPRORegular';
                color: rgba(255, 255, 255, 1);
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                @include font(500, 24px, 28.64px);

                /* @media only screen and (min-width: 320px) and (max-width: 1150px){
                  width: 40vw;
                  height: 10vw;
                  grid-area: info;
                  margin-top: 26px;
                  margin-left: 36px;
                  font-size: 2vw;
                } */

                &_position {
                  @include font(500, 12px, 120%);
                  text-align: left;
                  color: rgba(255, 255, 255, 0.6);
                }

                &_name {
                  font-size: 16px;
                  line-height: 120%;
                  text-align: left;
                }
            }

            &_rev {
                border-radius: 10px;
                background: #FFFFFF;
                width: min(293px, 77vw);
                height: min(134px, 35vw);
                gap: 5px;
                grid-area: rev;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                font-family: 'SFPRORegular';
                color: rgba(25, 33, 79, 1);
                @include font(500, 16px, 19.09px);

                /* @media only screen and (min-width: 320px) and (max-width: 1150px){
                  border-radius: 30px;
                  background: #FFFFFF;
                  width: 65vw;
                  height: 30vw;
                  grid-area: rev;
                  text-align: 20px;
                  margin-left: 4vw;
                  padding: 35.78px 15vw 11.93px 11.93px;
                  font-size: 1.5vw;
                } */
                &_content {
                  text-align: left;
                  font-size: 12px;
                  line-height: 120%;
                  color: #324195;
                  display: -webkit-box;
                  -webkit-line-clamp: 5;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  @media only screen and (min-width: 320px) and (max-width: 360px){
                  -webkit-line-clamp: 4;
                  }
                }

                &_block {
                  @include display(flex, row, space-between, center);

                  &_date {
                    color: #324195;
                    font-weight: 400;
                    font-size: 10px;
                  }
                }
            }

            &_leave {
              font-family: 'SFPRORegular';
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 204px;
              height: 48px;
              border-radius: 10px;
              gap: 12.5px;
              @include font(500, 14px, 14px);
              color: #FFFFFF;
              background: #357EEB;

                /* @media only screen and (min-width: 320px) and (max-width: 1150px){
                  color: #324195;
                  font-size: 3vw;
                  background: #CFE2FF;
                } */
            }
        }

   }

    &_containerLeave {
        width: 600px;
        min-height: 420px;
        border-radius: 30px;
        background: #CFE2FF;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;

        @media only screen and (min-width: 640px) and (max-width: 1150px){
          max-width: 65vw;
          max-height: 49vw;
          border-radius: 30px;
          background: #CFE2FF;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: center;
        }

        @media only screen and (min-width: 320px) and (max-width: 639px){
          max-width: 90vw;
          max-height: 49vw;
          min-height: 0;
          border-radius: 30px;
          background: #CFE2FF;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: center;
        }
    }

}

.pagination {
  @include display(flex, row, center, center);
  position: relative;
  gap: 5px;
}

.inactive {
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}